<div ng-if="hasAdTags()" class="panel panel-default">
    <div class="panel-heading">
        <strong current-page-title></strong>
    </div>
    <div class="panel-body">
        <div>
            <table class="table table-hover ng-table-responsive" ng-table="tableParams" show-filter="true">
                <tr ng-repeat="adTag in $data">
                    <td data-title="'#'" sortable="'id'">
                        {{ adTag.id }}
                    </td>
                    <td data-title="'Actions'">
                        <div class="btn-group" dropdown>
                            <button type="button" class="btn" dropdown-toggle> Actions <span class="caret"></span> </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a ng-click="openBoxUpdateCpm(adTag)">Update CPM</a></li>
                            </ul>
                        </div>
                    </td>
                    <td data-title="'Ad Tag Name'" sortable="'name'" filter="{ 'name': 'text' }">
                        {{ adTag.name }}
                    </td>
                    <td ng-show="isAdmin()" data-title="'Publisher'" sortable="'adSlot.site.publisher.username'" filter="{ 'adSlot.site.publisher.username': 'text' }">
                        {{ adTag.adSlot.site.publisher.username }}
                    </td>
                    <td data-title="'Ad Network Name'" sortable="'adNetwork.name'" filter="{ 'adNetwork.name': 'text' }">
                        {{ adTag.adNetwork.name }}
                    </td>
                    <td data-title="'Site Name'" sortable="'adSlot.site.name'" filter="{ 'adSlot.site.name': 'text' }">
                        {{ adTag.adSlot.site.name }}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>