<div id="form-date-range-selector" class="panel panel-default">
    <div class="panel-body">
        <form name="reportSelectorForm" class="form-inline" role="form" ng-submit="generateDashboard(date)" novalidate>
            <div class="form-group">
                <label for="inputDateRange">{{ 'DASHBOARD_MODULE.DATE_RANGE' | translate }}</label>
                <div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input date-range-picker options="datePickerOpts" class="form-control date-picker" type="text" id="inputDateRange" ng-model="date" ng-required="true">
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">{{ 'DASHBOARD_MODULE.BUTTON_UPDATE' | translate }}</button>
        </form>
    </div>
</div>

<!--statistics-->
<div class="row" ng-if="hasData()">
    <div class="col-lg-6">
        <report-statistics-publisher info="dataDashboard.accountStatistics"></report-statistics-publisher>
    </div>
    <div class="col-lg-6">
        <average-statistics-publisher info="dataDashboard.accountStatistics"></average-statistics-publisher>
    </div>
</div>
<!--statistics ./end-->

<!--chart-->
<div class="panel panel-default daily-reports" ng-if="hasData()">
    <div class="panel-heading"><span class="glyphicon glyphicon-th"></span> {{ 'DASHBOARD_MODULE.DAILY_OVERVIEW' | translate }}</div>
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs nav-tab-margin">
                <li role="presentation" ng-click="showChart = 0" ng-class="showChart ?'':'active' "><a>{{ 'DASHBOARD_MODULE.ACCOUNT_OVERVIEW' | translate }}</a></li>
                <!--<li role="presentation" ng-click="showChart = 1" ng-class="showChart ?'active':'' "><a>Revenue</a></li>-->
            </ul>
            <div ng-if="!showChart"><highchart config="chartConfigOpportunities"></highchart></div>
            <div ng-if="showChart"><highchart config="chartConfigRevenue"></highchart></div>
        </div>
    </div>
</div>
<!--chart ./ end-->

<!--table top-->
<div class="panel panel-default daily-reports" ng-if="hasData()">
    <div class="panel-heading"><span class="glyphicon glyphicon-th"></span> {{ 'DASHBOARD_MODULE.TOP_PERFORMERS' | translate }}</div>
    <div class="row">
        <div class="col-lg-12">
            <tabset class="nav-tab-margin">
                <tab heading="{{ 'DASHBOARD_MODULE.TOP_SITES' | translate }}">
                    <top-site-publisher config='configTopSites' info="dataDashboard.topSites"></top-site-publisher>
                </tab>
                <tab heading="{{ 'DASHBOARD_MODULE.TOP_AD_NETWORKS' | translate }}">
                    <top-ad-network-publisher config='configTopAdNetworks' info="dataDashboard.topAdNetworks"></top-ad-network-publisher>
                </tab>
            </tabset>
        </div>
    </div>
</div>
<!--table top .end-->