<div class="nav-wrapper">
    <ul id="nav"
        class="nav"
        collapse-nav>

        <li ui-sref-active-eq="active"><a ui-sref=".dashboard" ui-sref-opts="{reload: true}"><i class="fa fa-home"></i><span>Dashboard</span></a></li>

        <li ui-sref-active="active">
            <a ui-sref=".publisherManagement"><i class="fa fa-user"></i><span>Publisher Management</span></a>
            <ul>
                <li ui-sref-active-eq="active"><a ui-sref=".publisherManagement.list"><i class="fa fa-caret-right"></i>Publishers</a></li>
                <li ui-sref-active-eq="active"><a ui-sref=".publisherManagement.new"><i class="fa fa-caret-right"></i>New Publisher</a></li>
            </ul>
        </li>

        <li ui-sref-active="active">
            <a ui-sref=".tagManagement"><i class="fa fa-location-arrow"></i><span>Tag Management</span></a>
            <ul>
                <li ui-sref-active-eq="active"><a ui-sref=".tagManagement.tagGenerator"><i class="fa fa-caret-right"></i>Generate Tags</a></li>
                <li ui-sref-active-eq="active"><a ui-sref=".tagManagement.sites.list"><i class="fa fa-caret-right"></i>Sites</a></li>
                <li ui-sref-active-eq="active"><a ui-sref=".tagManagement.adNetwork.list"><i class="fa fa-caret-right"></i>Ad Networks</a></li>
                <li ui-sref-active-eq="active"><a ui-sref=".tagManagement.sites.new"><i class="fa fa-caret-right"></i>New Site</a></li>
                <li ui-sref-active-eq="active"><a ui-sref=".tagManagement.adNetwork.new"><i class="fa fa-caret-right"></i>New Ad Network</a></li>
                <li ui-sref-active-eq="active"><a ui-sref=".tagManagement.adSlot.new"><i class="fa fa-caret-right"></i>New Ad Slot</a></li>
                <li ui-sref-active-eq="active"><a ui-sref=".tagManagement.adTag.new"><i class="fa fa-caret-right"></i>New Ad Tag</a></li>
            </ul>
        </li>

        <li ui-sref-active="active">
            <a ui-sref=".reports"><i class="fa fa-tachometer"></i><span>Reports</span></a>
            <ul>
                <li ui-sref-active="active"><a ui-sref=".reports.performance.platform"><i class="fa fa-caret-right"></i>Performance Reports</a></li>
                <li ui-sref-active="active"><a ui-sref=".reports.source"><i class="fa fa-caret-right"></i>Source Reports</a></li>
                <li ui-sref-active="active"><a ui-sref=".reports.billing.platform"><i class="fa fa-caret-right"></i>Billing Reports</a></li>
                <li ui-sref-active="active"><a ui-sref=".reports.projectedBill.platform"><i class="fa fa-caret-right"></i>Projected Bill</a></li>
            </ul>
        </li>

        <li ui-sref-active="active">
            <a ui-sref=".supportTools"><i class="glyphicon glyphicon-wrench"></i><span>Tools</span></a>
            <ul>
                <!--<li ui-sref-active="active"><a ui-sref=".supportTools.cpmEditor"><i class="fa fa-caret-right"></i>Cpm Editor</a></li>-->
                <li ui-sref-active="active"><a ui-sref=".supportTools.cascadeManager.edit"><i class="fa fa-caret-right"></i>Cascade Manager</a></li>
                <li ui-sref-active="active"><a ui-sref=".supportTools.sourceReportConfiguration.list"><i class="fa fa-caret-right"></i>Source Report Config</a></li>
                <li ui-sref-active="active"><a ui-sref=".supportTools.activityLog.list"><i class="fa fa-caret-right"></i>Activity Log</a></li>
            </ul>
        </li>
    </ul>
</div>