exports.config = {
    seleniumAddress: 'http://localhost:4444/wd/hub',
    baseUrl: 'http://localhost:9010/',
    capabilities: {
        'browserName': 'chrome'
    },

    specs: ['e2e/login.js', 'e2e/publisher/tagManagement/*spec.js', 'e2e/*spec.js', 'e2e/publisher/reports/*.spec.js', 'e2e/publisher/supportTools/*.spec.js'],
dSlotId: 1,
                        nativeAdSlotId: 2,
                        dynamicA
    params: {
        login: {
            username: 'mypub',
            password: '123455'
        },
        role: '#/pub',
        edit: {
            adNetworkId : 1,
            siteId: 2,
            adSlotId: 1,
            displayAdSlotId: 1,
            nativeAdSlotId: 2,
            dynamicAdSlotId: 3,
            adTagId: 2
        }
    },

    onPrepare: function() {
         browser.driver.manage().window().setSize(1366, 768);
          },

    jasmineNodeOpts: {
        showColors: true,
        defaultTimeoutInterval: 100000000
    },

    allScriptsTimeout:100000000
};