.pagination {
    > li {
        > a {
            cursor: pointer;
        }
        > a,
        > span {
            margin-left: 1px;
            &:focus {
              outline-style:none;
              background-color: $state-default-bg;
              color: $btn-default-color;
              border-color: transparent;
            }
        }
    }   
}