<div slim-scroll>
    <ul class="nav sidebar-menu">
        <li ui-sref-active="active">
            <a ui-sref=".dashboard">
                <i class="menu-icon glyphicon glyphicon-home"></i>
                <span class="menu-text"> {{ 'NAVBAR.DASHBOARD' | translate }} </span>
            </a>
        </li>

        <li ng-show="hasSubPublisherModule" ui-sref-active="active">
            <a href="#" class="menu-dropdown">
                <i class="menu-icon fa fa-user"></i>
                <span class="menu-text"> {{ 'NAVBAR.SUB_PUBLISHER_MANAGEMENT' | translate }} </span>
                <i class="menu-expand"></i>
            </a>

            <ul class="submenu">
                <li ui-sref-active="active">
                    <a ui-sref=".subPublisher.list">
                        <span class="menu-text"> {{ 'NAVBAR.SUB_PUBLISHERS' | translate }} </span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref=".subPublisher.new">
                        <span class="menu-text"> {{ 'NAVBAR.NEW_SUB_PUBLISHER' | translate }} </span>
                    </a>
                </li>
            </ul>
        </li>

        <li >
            <a href="#" class="menu-dropdown">
                <i class="menu-icon fa fa-location-arrow"></i>
                <span class="menu-text"> {{ onlyDisplayAdsModule ? ('NAVBAR.TAG_MANAGEMENT' | translate) : ('NAVBAR.DISPLAY_ADS' | translate) }} </span>
                <i class="menu-expand"></i>
            </a>

            <ul class="submenu">
                <li ng-show="hasDisplayAdsModule">
                    <a href="#" class="menu-dropdown">
                        <span class="menu-text">{{ 'CHANNELS' | translate }}</span>
                        <i class="menu-expand"></i>
                    </a>

                    <ul class="submenu">
                        <li ui-sref-active="active">
                            <a ui-sref=".tagManagement.channel.list">
                                <span class="menu-text"> {{ 'NAVBAR.MY_CHANNELS' | translate }} </span>
                            </a>
                        </li>

                        <li ui-sref-active="active">
                            <a ui-sref=".tagManagement.channel.new">
                                <span class="menu-text">{{ 'NAVBAR.NEW_CHANNEL' | translate }}</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li >
                    <a href="#" class="menu-dropdown">
                        <span class="menu-text">{{ 'SITES' | translate }}</span>
                        <i class="menu-expand"></i>
                    </a>

                    <ul class="submenu">
                        <li ui-sref-active="active">
                            <a ui-sref=".tagManagement.sites.list">
                                <span class="menu-text"> {{ 'NAVBAR.MY_SITES' | translate }} </span>
                            </a>
                        </li>

                        <li ui-sref-active="active">
                            <a ui-sref=".tagManagement.sites.new">
                                <span class="menu-text">{{ 'NAVBAR.NEW_SITE' | translate }}</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li ng-show="hasDisplayAdsModule">
                    <a href="#" class="menu-dropdown">
                        <span class="menu-text">{{ 'AD_SLOTS' | translate }}</span>
                        <i class="menu-expand"></i>
                    </a>
                    <ul class="submenu">
                        <li ui-sref-active="active">
                            <a ui-sref=".tagManagement.adSlot.listAll">
                                <span class="menu-text">{{ 'NAVBAR.MY_AD_SLOTS' | translate }}</span>
                            </a>
                        </li>

                        <li ui-sref-active="active">
                            <a ui-sref=".tagManagement.adSlot.new">
                                <span class="menu-text">{{ 'NAVBAR.NEW_AD_SLOT' | translate }}</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li ng-show="hasDisplayAdsModule">
                    <a href="#" class="menu-dropdown">
                        <span class="menu-text">{{ 'AD_NETWORKS' | translate }}</span>
                        <i class="menu-expand"></i>
                    </a>
                    <ul class="submenu">
                        <li ui-sref-active="active">
                            <a ui-sref=".tagManagement.adNetwork.list">
                                <span class="menu-text">{{ 'NAVBAR.MY_AD_NETWORKS' | translate }}</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref=".tagManagement.adNetwork.new">
                                <span class="menu-text">{{ 'NAVBAR.NEW_AD_NETWORK' | translate }}</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li ng-show="hasDisplayAdsModule">
                    <a href="#" class="menu-dropdown">
                        <span class="menu-text">{{ 'AD_TAGS' | translate }}</span>
                        <i class="menu-expand"></i>
                    </a>
                    <ul class="submenu">
                        <li ui-sref-active="active">
                            <a ui-sref=".tagLibrary.adTag.list">
                                <span class="menu-text">{{ 'NAVBAR.MY_AD_TAGS' | translate }}</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref=".tagManagement.adTag.new">
                                <span class="menu-text">{{ 'NAVBAR.NEW_AD_TAG' | translate }}</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li ui-sref-active="active">
                    <a ui-sref=".tagManagement.tagGenerator">
                        <span class="menu-text"> {{ 'NAVBAR.GENERATE_TAGS' | translate }} </span>
                    </a>
                </li>

            </ul>
        </li>

        <li ng-show="hasVideoAdsModule">
            <a href="#" class="menu-dropdown">
                <i class="menu-icon fa fa-video-camera"></i>
                <span class="menu-text"> {{ 'NAVBAR.VIDEO_ADS' | translate }} </span>
                <i class="menu-expand"></i>
            </a>

            <ul class="submenu">
                <li >
                    <a href="#" class="menu-dropdown">
                        <span class="menu-text">{{ 'NAVBAR.VIDEO_PUBLISHER' | translate }}</span>
                        <i class="menu-expand"></i>
                    </a>

                    <ul class="submenu">
                        <li ui-sref-active="active">
                            <a ui-sref=".videoManagement.videoPublisher.list">
                                <span class="menu-text">{{ 'NAVBAR.MY_VIDEO_PUBLISHERS' | translate }}</span>
                            </a>
                        </li>

                        <li ui-sref-active="active">
                            <a ui-sref=".videoManagement.videoPublisher.new">
                                <span class="menu-text">{{ 'NAVBAR.NEW_VIDEO_PUBLISHER' | translate }}</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li >
                    <a href="#" class="menu-dropdown">
                        <span class="menu-text">{{ 'NAVBAR.DEMAND_PARTNERS' | translate }}</span>
                        <i class="menu-expand"></i>
                    </a>

                    <ul class="submenu">
                        <li ui-sref-active="active">
                            <a ui-sref=".videoManagement.demandPartner.list">
                                <span class="menu-text"> {{ 'NAVBAR.MY_DEMAND_PARTNERS' | translate }} </span>
                            </a>
                        </li>

                        <li ui-sref-active="active">
                            <a ui-sref=".videoManagement.demandPartner.new">
                                <span class="menu-text">{{ 'NAVBAR.NEW_DEMAND_PARTNER' | translate }}</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li >
                    <a href="#" class="menu-dropdown">
                        <span class="menu-text">{{ 'NAVBAR.VIDEO_AD_TAGS' | translate }}</span>
                        <i class="menu-expand"></i>
                    </a>

                    <ul class="submenu">
                        <li ui-sref-active="active">
                            <a ui-sref=".videoManagement.adTag.list">
                                <span class="menu-text">{{ 'NAVBAR.MY_VIDEO_AD_TAGS' | translate }}</span>
                            </a>
                        </li>

                        <li ui-sref-active="active">
                            <a ui-sref=".videoManagement.adTag.new">
                                <span class="menu-text">{{ 'NAVBAR.NEW_VIDEO_AD_TAG' | translate }}</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li ui-sref-active="active">
                    <a ui-sref=".videoManagement.vastGenerator">
                        <span class="menu-text"> {{ 'NAVBAR.GENERATE_VAST_TAGS' | translate }} </span>
                    </a>
                </li>
            </ul>
        </li>

        <li >
            <a href="#" class="menu-dropdown">
                <i class="menu-icon fa fa-tachometer"></i>
                <span class="menu-text"> {{ 'NAVBAR.REPORTS' | translate }} </span>
                <i class="menu-expand"></i>
            </a>

            <ul class="submenu">
                <li ng-show="hasDisplayAdsModule" ui-sref-active="active">
                    <a ui-sref=".reports.performance.account">
                        <span class="menu-text"> {{ 'NAVBAR.PERFORMANCE_REPORTS' | translate }} </span>
                    </a>
                </li>
                <li ng-show="hasRtbModule" ui-sref-active="active">
                    <a ui-sref=".reports.rtb.account">
                        <span class="menu-text"> {{ 'NAVBAR.RTB_REPORTS' | translate }} </span>
                    </a>
                </li>
                <li ng-show="hasAnalyticsModule" ui-sref-active="active">
                    <a ui-sref=".reports.source">
                        <span class="menu-text"> {{ 'NAVBAR.SOURCE_REPORTS' | translate }} </span>
                    </a>
                </li>

                <li ng-show="hasDisplayAdsModule" ui-sref-active="active">
                    <a ui-sref=".reports.billing.account">
                        <span class="menu-text"> {{ 'NAVBAR.BILLING_REPORTS' | translate }} </span>
                    </a>
                </li>
                <li ng-show="hasDisplayAdsModule" ui-sref-active="active">
                    <a ui-sref=".reports.projectedBill.account">
                        <span class="menu-text"> {{ 'NAVBAR.PROJECTED_BILL' | translate }} </span>
                    </a>
                </li>
                <li ng-show="hasUnifiedModule" ui-sref-active="active">
                    <a ui-sref=".reports.unified.day">
                        <span class="menu-text"> {{ 'NAVBAR.UNIFIED_REPORTS' | translate }} </span>
                    </a>
                </li>
                <li ng-show="hasVideoAdsModule" ui-sref-active="active">
                    <a ui-sref=".reports.video">
                        <span class="menu-text"> {{ 'NAVBAR.VIDEO_REPORTS' | translate }} </span>
                    </a>
                </li>
            </ul>
        </li>
        <li ng-show="hasDisplayAdsModule">
            <a href="#" class="menu-dropdown">
                <i class="menu-icon glyphicon glyphicon-wrench"></i>
                <span class="menu-text"> {{ 'NAVBAR.TOOLS' | translate }} </span>
                <i class="menu-expand"></i>
            </a>

            <ul class="submenu">
                <li ui-sref-active="active">
                    <a ui-sref=".supportTools.cascadeManager.edit" class="menu-dropdown">
                        <span class="menu-text"> {{ 'NAVBAR.CASCADE_MANAGER' | translate }} </span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>

</div>