<section class="panel panel-default">
    <div class="panel-heading"><span class="glyphicon glyphicon-th"></span> <strong current-page-title></strong></div>
    <div class="panel-body">
        <div class="row">
            <form name="tagGeneratorForm" class="col-lg-6 form-horizontal" ng-submit="submit()" novalidate>

                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ 'AD_SLOT_MODULE.TYPE' | translate }}</label>
                    <div class="col-sm-10">
                        <ui-select ng-model="selected.type" ng-required="true" on-select="selectType($item)" reset-search-input="'false'">
                            <ui-select-match placeholder="{{ 'AD_SLOT_MODULE.SELECT_A_TYPE' | translate }}">{{ $select.selected.label }}</ui-select-match>
                            <ui-select-choices repeat="type.key as type in types | filter:filterByAnalytics:type">
                                {{ type.label }}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>

                <div class="form-group" ng-if="allowPublisherSelection">
                    <label class="col-sm-2 control-label">{{ 'PUBLISHER' | translate }}</label>
                    <div class="col-sm-10">
                        <ui-select ng-model="selected.publisher" ng-required="true" on-select="selectPublisher($item)" reset-search-input="'false'">
                            <ui-select-match placeholder="{{ 'PUBLISHER_MODULE.SELECT_A_PUBLISHER' | translate }}">{{ $select.selected.company }}</ui-select-match>
                            <ui-select-choices repeat="publisher in publishers | filter: { company: $select.search }">
                                {{ publisher.company }}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>

                <div class="form-group" ng-if="selected.type == typeKey.adSlot && !isSubPublisher()">
                    <label class="col-sm-2 control-label">{{ 'TAG_GENERATOR_MODULE.GENERATE_FOR' | translate }}</label>
                    <div class="col-sm-10">
                        <ui-select ng-model="selected.generatorFor" on-select="selectGenerator($model)" reset-search-input="'false'">
                            <ui-select-match placeholder="Select an option">{{ $select.selected.label }}</ui-select-match>
                            <ui-select-choices repeat="generator.key as generator in generatorOptions">
                                {{ generator.label }}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>

                <div class="form-group" ng-if="(selected.type == typeKey.adSlot || selected.type == typeKey.header) && selected.generatorFor == 'channel'">
                    <label class="col-sm-2 control-label">{{ 'CHANNEL' | translate }}</label>
                    <div class="col-sm-10">
                        <ui-select name="site" ng-model="selected.channel" ng-required="true" on-select="selectChannel($item, $model)" ng-disabled="allowPublisherSelection && !selected.publisher" reset-search-input="'false'">
                            <ui-select-match placeholder="{{ 'TAG_GENERATOR_MODULE.SELECT_A_CHANNEL_TO_GENERATE' | translate }}">{{ $select.selected.name }}</ui-select-match>
                            <ui-select-choices repeat="channel in channelList | filter: { name: $select.search } | selectedPublisher:selected.publisher">
                                {{ channel.name }}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>

                <div class="form-group" ng-if="(selected.type == typeKey.adSlot || selected.type == typeKey.header) && selected.generatorFor == 'site'">
                    <label class="col-sm-2 control-label">{{ 'SITE' | translate }}</label>
                    <div class="col-sm-10">
                        <ui-select name="site" ng-model="selected.site" ng-required="true" on-select="selectSite($item, $model)" ng-disabled="allowPublisherSelection && !selected.publisher" reset-search-input="'false'">
                            <ui-select-match placeholder="{{ 'TAG_GENERATOR_MODULE.SELECT_A_SITE_TO_GENERATE' | translate }}">{{ $select.selected.name }}</ui-select-match>
                            <ui-select-choices infinite-scroll="addMoreItems()" infinite-scroll-container="'#reload'" id="reload" infinite-scroll-distance="200" refresh="searchItem($select.search)" refresh-delay="500" repeat="site in siteList | selectedPublisher:selected.publisher">
                                {{ site.name }}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>

                <div class="form-group" ng-if="hasDisplayAdsModuleAndSecure()">
                    <label for="inputSecure" class="col-sm-2 control-label">{{ 'TAG_GENERATOR_MODULE.FORCE_HTTPS' | translate }}</label>
                    <div class="col-sm-10">
                        <label class="ui-checkbox"><input server-error name="active" type="checkbox" ng-model="selected.forceSecure" id="inputSecure"><span></span></label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button ng-disabled="!isFormValid()" ng-disabled="formProcessing" type="submit" class="btn btn-success">{{ 'SUBMIT' | translate }}</button>
                        <div ng-show="!isFormValid()" class="callout callout-info">
                            <p>{{ 'VALID_FORM' | translate }}</p>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</section>

<section ng-if="jstags && typeSelected == typeKey.passback" class="panel panel-default panel-tag-generator">
    <div class="panel-heading">
        <strong>Tags For Passback</strong>

        <div class="button-bar hidden-xs">
            <button ng-click="exportTags(jstags)" class="btn btn-sm btn-primary" type="button">
                {{ 'TAG_GENERATOR_MODULE.EXPORT_TAG' | translate }}
            </button>
        </div>

        <div class="btn-group btnGrouped" dropdown>
            <button type="button" class="btn " dropdown-toggle><span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span></button>
            <ul class="dropdown-menu pull-right" role="menu">
                <li><a ng-click="exportTags(jstags)">{{ 'TAG_GENERATOR_MODULE.EXPORT_TAG' | translate }}</a></li>
            </ul>
        </div>
    </div>

    <div class="media-body">
        <ul class="list-unstyled list-info">
            <li ng-if="jstags.passback">
                <p><strong>{{ keywordGuide.passback }}</strong></p>
                <div hljs source="jstags.passback" select-on-click class="highlight-js"></div>
                <div class="copy-clipboard">
                    <button auto-hide-on-no-flash="true" clip-copy="getTextToCopy(jstags.passback)" class="btn btn-sm btn-primary">{{ 'COPY_TO_CLIPBOARD' | translate }}</button>
                </div>
            </li>
        </ul>
    </div>
</section>

<section ng-if="jstags && typeSelected != typeKey.passback && typeSelected != typeKey.header" class="panel panel-default panel-tag-generator">
    <div class="panel-heading">
        <strong ng-if="typeSelected == typeKey.adSlot" translate="TAG_GENERATOR_MODULE.TAGS_FOR_SITE" translate-value-name="{{ selected.site.name }}"></strong>
        <strong ng-if="typeSelected == typeKey.ronAdSlot" translate="TAG_GENERATOR_MODULE.TAGS_FOR_RON_AD_SLOT"></strong>

        <div class="button-bar hidden-xs">
            <button ng-click="exportTags(jstags)" class="btn btn-sm btn-primary" type="button">
                {{ 'TAG_GENERATOR_MODULE.EXPORT_TAG' | translate }}
            </button>
        </div>

        <div class="btn-group btnGrouped" dropdown>
            <button type="button" class="btn " dropdown-toggle><span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span></button>
            <ul class="dropdown-menu pull-right" role="menu">
                <li><a ng-click="exportTags(jstags)">{{ 'TAG_GENERATOR_MODULE.EXPORT_TAG' | translate }}</a></li>
            </ul>
        </div>
    </div>
    <tabset class="nav-tab-margin">
        <tab ng-if="jstags.display" heading="{{ 'DISPLAY_AD_SLOTS' | translate }}">
            <div class="media">
                <div class="media-body">
                    <ul class="list-unstyled list-info generate">
                        <li>
                            <p><strong>{{ keywordGuide.adSlot }}</strong></p>
                        </li>
                        <li ng-repeat="(key, tag) in jstags.display.ad_slots">
                            <h4 ng-if="typeSelected == typeKey.adSlot"><div>{{ tag.name }}</div></h4>
                            <h4 ng-if="typeSelected == typeKey.ronAdSlot"><div translate="TAG_GENERATOR_MODULE.RON_AD_SLOT_FOR" translate-value-name="{{ tag.name }}"></div></h4>

                            <div ng-if="typeSelected == typeKey.ronAdSlot" class="row form-group">
                                <label class="col-sm-12">{{ 'SEGMENT' | translate }}</label>
                                <div class="col-sm-3">
                                    <ui-select ng-model="selectedSegmentModel" on-select="selectSegment($model, tag, jstagCopy.display.ad_slots, key)" reset-search-input="'false'">
                                        <ui-select-match placeholder="{{ 'SEGMENT_MODULE.SELECT_A_SEGMENT' | translate }}">{{ $select.selected }}</ui-select-match>
                                        <ui-select-choices repeat="segment in convertSegmentArr(tag.segments)" >
                                            {{ segment }}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>

                                <span class="col-sm-12 help-block">{{ 'RON_AD_SLOT_MODULE.HELP_BLOCK_GLOBAL' | translate }}</span>
                            </div>

                            <div hljs source="getTextToCopy(tag.jstag)" select-on-click class="highlight-js"></div>
                            <div class="copy-clipboard">
                                <button auto-hide-on-no-flash="true" clip-copy="getTextToCopy(tag.jstag)" class="btn btn-sm btn-primary">{{ 'COPY_TO_CLIPBOARD' | translate }}</button>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
        </tab>

        <tab ng-if="jstags.native.ad_slots" heading="{{ 'NATIVE_AD_SLOTS' | translate }}">
            <div class="media">
                <div class="media-body">
                    <ul class="list-unstyled list-info generate">
                        <li>
                            <p><strong>{{ keywordGuide.adSlot }}</strong></p>
                        </li>
                        <li ng-repeat="(key, tag) in jstags.native.ad_slots">
                            <h4 ng-if="typeSelected == typeKey.adSlot"><div>{{ tag.name }}</div></h4>
                            <h4 ng-if="typeSelected == typeKey.ronAdSlot"><div translate="TAG_GENERATOR_MODULE.RON_AD_SLOT_FOR" translate-value-name="{{ tag.name }}"></div></h4>

                            <div ng-if="typeSelected == typeKey.ronAdSlot" class="row form-group">
                                <label class="col-sm-12">{{ 'SEGMENT' | translate }}</label>
                                <div class="col-sm-3">
                                    <ui-select ng-model="selectedSegmentModel" on-select="selectSegment($model, tag, jstagCopy.native.ad_slots, key)" reset-search-input="'false'">
                                        <ui-select-match placeholder="{{ 'SEGMENT_MODULE.SELECT_A_SEGMENT' | translate }}">{{ $select.selected }}</ui-select-match>
                                        <ui-select-choices repeat="segment in convertSegmentArr(tag.segments)" >
                                            {{ segment }}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>

                                <span class="col-sm-12 help-block">{{ 'RON_AD_SLOT_MODULE.HELP_BLOCK_GLOBAL' | translate }}</span>
                            </div>

                            <div hljs source="getTextToCopy(tag.jstag)" select-on-click class="highlight-js"></div>
                            <div class="copy-clipboard">
                                <button auto-hide-on-no-flash="true" clip-copy="getTextToCopy(tag.jstag)" class="btn btn-sm btn-primary">{{ 'COPY_TO_CLIPBOARD' | translate }}</button>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
        </tab>

        <tab ng-if="jstags.dynamic.ad_slots" heading="{{ 'DYNAMIC_AD_SLOTS' | translate }}">
            <div class="media">
                <div class="media-body">
                    <ul class="list-unstyled list-info generate">
                        <li>
                            <p><strong>{{ keywordGuide.adSlot }}</strong></p>
                        </li>
                        <li ng-repeat="(key, tag) in jstags.dynamic.ad_slots">
                            <h4 ng-if="typeSelected == typeKey.adSlot"><div>{{ tag.name }}</div></h4>
                            <h4 ng-if="typeSelected == typeKey.ronAdSlot"><div translate="TAG_GENERATOR_MODULE.RON_AD_SLOT_FOR" translate-value-name="{{ tag.name }}"></div></h4>

                            <div ng-if="typeSelected == typeKey.ronAdSlot" class="row form-group">
                                <label class="col-sm-12">{{ 'SEGMENT' | translate }}</label>
                                <div class="col-sm-3">
                                    <ui-select ng-model="selectedSegmentModel" on-select="selectSegment($model, tag, jstagCopy.dynamic.ad_slots, key)" reset-search-input="'false'">
                                        <ui-select-match placeholder="{{ 'SEGMENT_MODULE.SELECT_A_SEGMENT' | translate }}">{{ $select.selected }}</ui-select-match>
                                        <ui-select-choices repeat="segment in convertSegmentArr(tag.segments)" >
                                            {{ segment }}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>

                                <span class="col-sm-12 help-block">{{ 'RON_AD_SLOT_MODULE.HELP_BLOCK_GLOBAL' | translate }}</span>
                            </div>

                            <div hljs source="getTextToCopy(tag.jstag)" select-on-click class="highlight-js"></div>
                            <div class="copy-clipboard">
                                <button auto-hide-on-no-flash="true" clip-copy="getTextToCopy(tag.jstag)" class="btn btn-sm btn-primary">{{ 'COPY_TO_CLIPBOARD' | translate }}</button>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
        </tab>
    </tabset>
</section>

<section ng-if="jstags && typeSelected == typeKey.header" class="panel panel-default panel-tag-generator">
    <div class="panel-heading">
        <strong>{{ 'TAG_GENERATOR_MODULE.HEADER' | translate }}</strong>

        <div class="button-bar hidden-xs">
            <button ng-click="exportTags(jstags)" class="btn btn-sm btn-primary" type="button">
                {{ 'TAG_GENERATOR_MODULE.EXPORT_TAG' | translate }}
            </button>
        </div>

        <div class="btn-group btnGrouped" dropdown>
            <button type="button" class="btn " dropdown-toggle><span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span></button>
            <ul class="dropdown-menu pull-right" role="menu">
                <li><a ng-click="exportTags(jstags)">{{ 'TAG_GENERATOR_MODULE.EXPORT_TAG' | translate }}</a></li>
            </ul>
        </div>
    </div>

    <div class="media-body">
        <ul class="list-unstyled list-info">
            <li>
                <p><strong>{{ keywordGuide.header }}</strong></p>
                <div hljs source="jstags.header" select-on-click class="highlight-js"></div>
                <div class="copy-clipboard">
                    <button auto-hide-on-no-flash="true" clip-copy="getTextToCopy(jstags.header)" class="btn btn-sm btn-primary">{{ 'COPY_TO_CLIPBOARD' | translate }}</button>
                </div>
            </li>
        </ul>
    </div>
</section>