<section class="panel panel-default">
    <div class="panel-heading"><span class="glyphicon glyphicon-th"></span> <strong current-page-title></strong></div>
    <div class="panel-body">
        <div class="row">
            <form name="cpmSelectorForm" class="col-lg-6 form-validation form-horizontal" role="form" ng-submit="submit()" novalidate>
                <div class="form-group">
                    <label class="col-sm-3 control-label">{{ 'CPM_EDITOR_MODULE.UPDATE_CPM_FOR' | translate }}</label>
                    <div class="col-sm-9">
                        <ui-select name="updateTypes" ng-model="selectedData.updateTypes" ng-required="true" reset-search-input="'false'">
                            <ui-select-match placeholder="{{ 'CPM_EDITOR_MODULE.SELECT_AN_OPTION' | translate }}">{{ $select.selected.label }}</ui-select-match>
                            <ui-select-choices repeat="type in updateTypesOptions | filter: $select.search">
                                <div ng-bind-html="type.label | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">{{ 'CPM_EDITOR_MODULE.DATE_RANGE' | translate }}</label>
                    <div class="col-sm-9">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            <input date-range-picker options="datePickerOpts" class="form-control date-picker" type="text" ng-model="selectedData.date" ng-required="true" placeholder="Date Range">
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-if="isAdmin">
                    <label class="col-sm-3 control-label">{{ 'PUBLISHER' | translate }}</label>
                    <div class="col-sm-9">
                        <ui-select name="publisher" ng-model="selectedData.publisherId" ng-required="true" ng-disabled="!optionData.publishers.length" on-select="selectPublisher()" reset-search-input="'false'">
                            <ui-select-match placeholder="{{ 'PUBLISHER_MODULE.SELECT_A_PUBLISHER' | translate }}">{{ $select.selected.company }}</ui-select-match>
                            <ui-select-choices group-by="groupEntities" repeat="publisher.id as publisher in optionData.publishers | filter: $select.search">
                                <div ng-bind-html="publisher.company | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="form-group" ng-if="selectUpdateTypesis(updateTypes.adTag)">
                    <label class="col-sm-3 control-label">{{ 'SITE' | translate }}</label>
                    <div class="col-sm-9">
                        <ui-select name="site" ng-model="selectedData.siteId" ng-required="true" ng-disabled="!selectedData.publisherId" on-select="selectSite($item)" reset-search-input="'false'">
                            <ui-select-match placeholder="{{ 'SITE_MODULE.SELECT_A_SITE' | translate }}">{{ $select.selected.name }}</ui-select-match>
                            <ui-select-choices repeat="site.id as site in optionData.sites | filter: $select.search | selectedPublisher:selectedData.publisherId">
                                <div ng-bind-html="site.name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="form-group" ng-if="selectUpdateTypesis(updateTypes.adNetwork)">
                    <label class="col-sm-3 control-label">{{ 'AD_NETWORK' | translate }}</label>
                    <div class="col-sm-9">
                        <ui-select name="adNetwork" ng-model="selectedData.adNetworkId" ng-required="true" ng-disabled="!selectedData.publisherId" reset-search-input="'false'">
                            <ui-select-match placeholder="{{ 'AD_NETWORK_MODULE.SELECT_A_AD_NETWORK' | translate }}">{{ $select.selected.name }}</ui-select-match>
                            <ui-select-choices repeat="adNetwork.id as adNetwork in optionData.adNetworks | filter: $select.search | selectedPublisher:selectedData.publisherId">
                                <div ng-bind-html="adNetwork.name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="form-group" ng-if="selectUpdateTypesis(updateTypes.site)">
                    <label class="col-sm-3 control-label">{{ 'AD_NETWORK' | translate }}</label>
                    <div class="col-sm-9">
                        <ui-select name="adNetwork" ng-model="selectedData.adNetworkForSiteId" ng-required="true" ng-disabled="!selectedData.publisherId" on-select="selectAdNetworkForSiteId($item)" reset-search-input="'false'">
                            <ui-select-match placeholder="{{ 'AD_NETWORK_MODULE.SELECT_A_AD_NETWORK' | translate }}">{{ $select.selected.name }}</ui-select-match>
                            <ui-select-choices repeat="adNetwork.id as adNetwork in optionData.adNetworks | filter: $select.search | selectedPublisher:selectedData.publisherId">
                                <div ng-bind-html="adNetwork.name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="form-group" ng-if="selectUpdateTypesis(updateTypes.site)">
                    <label class="col-sm-3 control-label">{{ 'SITE' | translate }}</label>
                    <div class="col-sm-9">
                        <ui-select name="site" ng-model="selectedData.sitesByAdNetworkId" ng-required="true" ng-disabled="!selectedData.adNetworkForSiteId" reset-search-input="'false'">
                            <ui-select-match placeholder="{{ 'SITE_MODULE.SELECT_A_SITE' | translate }}">{{ $select.selected.name }}</ui-select-match>
                            <ui-select-choices repeat="site.id as site in optionData.sitesByAdNetwork | filter: $select.search">
                                <div ng-bind-html="site.name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="form-group" ng-if="selectUpdateTypesis(updateTypes.adTag)">
                    <label class="col-sm-3 control-label">{{ 'AD_SLOT' | translate }}</label>
                    <div class="col-sm-9">
                        <ui-select name="adSlot" ng-model="selectedData.adSlotId" ng-required="true" ng-disabled="!selectedData.siteId" on-select="selectAdSlot($item)" reset-search-input="'false'">
                            <ui-select-match placeholder="{{ 'AD_SLOT_MODULE.SELECT_A_AD_SLOT' | translate }}">{{ $select.selected.libraryAdSlot.name }}</ui-select-match>
                            <ui-select-choices repeat="adSlot.id as adSlot in optionData.adSlots | filter: $select.search">
                                <div ng-bind-html="adSlot.libraryAdSlot.name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="form-group" ng-if="selectUpdateTypesis(updateTypes.adTag)">
                    <label class="col-sm-3 control-label">{{ 'AD_TAG' | translate }}</label>
                    <div class="col-sm-9">
                        <ui-select name="adNetwork" ng-model="selectedData.adTagId" ng-required="true" ng-disabled="!selectedData.adSlotId" reset-search-input="'false'">
                            <ui-select-match placeholder="{{ 'AD_TAG_MODULE.SELECT_A_AD_TAG' | translate }}">{{ $select.selected.libraryAdTag.name }}</ui-select-match>
                            <ui-select-choices repeat="adTag.id as adTag in optionData.adTags | filter: $select.search">
                                <div ng-bind-html="adTag.libraryAdTag.name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="form-group input-spinners">
                    <label class="col-sm-3 control-label">{{ 'CPM_EDITOR_MODULE.CPM_RATE' | translate }}</label>
                    <div class="col-sm-9">
                        <input type="number" name="inputCpmRate" class="form-control" ng-model="selectedData.CPM" min="1" placeholder="{{ 'CPM_EDITOR_MODULE.CPM_RATE' | translate }}">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <button ng-disabled="!isFormValid()" type="submit" class="btn btn-success">{{ 'SUBMIT' | translate }}</button>
                        <div ng-show="!isFormValid()" class="callout callout-info">
                            <p>{{ 'VALID_FORM' | translate }}</p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>