<div class="panel panel-default">
    <div class="panel-body">
        <div ncy-breadcrumb></div>

        <h1 class="text-thin" ncy-breadcrumb-last></h1>

        <div>
            <button ui-sref="^.new" class="btn btn-w-md btn-gap-v btn-primary" type="button">
                <span class="glyphicon glyphicon glyphicon-plus"></span>
                Add User
            </button>
        </div>

        <table class="table table-hover ng-table-responsive" ng-table="tableParams" show-filter="true">
            <tr ng-repeat="user in $data">
                <td data-title="'#'" sortable="'id'">
                    {{ user.id }}
                </td>
                <td data-title="'Actions'">
                    <div class="btn-group" dropdown>
                        <button type="button" class="btn dropdown-toggle"> Actions <span class="caret"></span> </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a ui-sref="^.edit({ id: user.id })">Edit User</a></li>
                        </ul>
                    </div>
                </td>
                <td data-title="'Username'" sortable="'username'" filter="{ 'username': 'text' }">
                    {{ user.username }}
                </td>
                <td data-title="'Roles'">
                    <span ng-repeat="role in user.userRoles">
                        <span class="label" ng-class="role.indexOf('_ADMIN') != -1 ? 'label-danger' : 'label-default'">{{ role | roleFormat }}</span>
                    </span>
                </td>
                <td data-title="'Last Login'">
                    {{ user.lastLogin | date }}
                </td>
                <td data-title="'Enabled'">
                    <i class="fa" ng-class="user.enabled ? 'fa-check-square' : 'fa-square'"></i>
                </td>
            </tr>
        </table>
    </div>
</div>