<form name="videoDemandAdTagForm" role="form" ng-submit="submit()" novalidate>
    <div class="modal-header">
        <h4 class="modal-title">{{ isNew ? ('AD_SOURCE_MODULE.NEW_AD_SOURCE' | translate) : ('AD_SOURCE_MODULE.EDIT_AD_SOURCE' | translate) }}</h4>
    </div>
    <div class="modal-body">
        <div class="alert alert-warning" ng-if="videoDemandAdTag.libraryVideoDemandAdTag.linkedCount > 1">
            {{ 'AD_SOURCE_LIBRARY_MODULE.WARNING_EDIT_LIBRARY' | translate}}
        </div>

        <div class="row">
            <div class="col-lg-12 form-validation form-horizontal">
                <div class="form-group" ng-if="isAdmin && !!selectedData.publisher && hasPublisher">
                    <label class="col-sm-2 control-label">{{ 'PUBLISHER' | translate }}</label>
                    <div class="col-sm-10 form-control-static">
                        {{ findPublisher().company }}
                    </div>
                </div>

                <div class="form-group" ng-if="isAdmin && !hasPublisher">
                    <label for="inputPublisher" class="col-sm-2 control-label">{{ 'PUBLISHER' | translate }}</label>
                    <div class="col-sm-10">
                        <ui-select name="publisher" id="inputPublisher" ng-model="selectedData.publisher" ng-required="true" server-error on-select="selectPublisher($item)">
                            <ui-select-match placeholder="{{ 'PUBLISHER_MODULE.SELECT_A_PUBLISHER' | translate }}">{{ $select.selected.company }}</ui-select-match>
                            <ui-select-choices repeat="publisher.id as publisher in publishers | filter:$select.search">
                                {{ publisher.company }}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>

                <div ng-if="!!videoWaterfallTagItems">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{ 'VIDEO_AD_TAG_MODULE.POSITION' | translate }}</label>
                        <div class="col-sm-10">
                            <ui-select name="publisher" ng-model="selectedData.position" ng-required="true" server-error>
                                <ui-select-match placeholder="{{ 'VIDEO_AD_TAG_MODULE.SELECT_A_POSITION' | translate }}">{{
                                    $select.selected.strategy != 'Add New'
                                    ? (($select.selected.position + 1) + (!selectedData.autoIncreasePosition ? (' - ' + findLabelStrategy($select.selected.strategy)) : ''))
                                    : $select.selected.strategy }}</ui-select-match>
                                <ui-select-choices repeat="videoWaterfallTagItem.position as videoWaterfallTagItem in videoWaterfallTagItemsClone | filter:$select.search">
                                    {{ videoWaterfallTagItem.strategy != 'Add New'
                                    ? ((videoWaterfallTagItem.position + 1) + (!selectedData.autoIncreasePosition ? (' - ' + findLabelStrategy(videoWaterfallTagItem.strategy)) : ''))
                                    : videoWaterfallTagItem.strategy }}
                                </ui-select-choices>
                            </ui-select>

                            <!--<span class="help-block" ng-bind-html="'VIDEO_AD_TAG_MODULE.HELP_BLOCK_SELECT_DEFAULT' | translate"></span>-->
                        </div>
                    </div>

                    <div class="form-group" ng-if="selectedData.position > -1 && selectedData.position < videoWaterfallTagItems.length">
                        <label for="inputAutoIncreasePosition" class="col-sm-2 control-label">{{ 'AD_SOURCE_MODULE.SHIFT_DOWN' | translate }}</label>
                        <div class="col-sm-10">
                            <label class="ui-checkbox">
                                <input name="active" type="checkbox" ng-model="selectedData.autoIncreasePosition" server-error id="inputAutoIncreasePosition"><span></span>
                            </label>

                            <span class="help-block">{{ 'AD_SOURCE_MODULE.HELP_BLOCK_AUTO_POSITION' | translate }}</span>
                        </div>
                    </div>

                    <div class="form-group" ng-if="(selectedData.position + 1) > videoWaterfallTagItems.length && isNew">
                        <label class="col-sm-2 control-label">{{ 'VIDEO_AD_TAG_MODULE.STRATEGY' | translate }}</label>
                        <div class="col-sm-10">
                            <ui-select id="inputPassbackMode" ng-model="selectedData.strategy" ng-required="true" server-error reset-search-input="'false'">
                                <ui-select-match placeholder="{{ 'VIDEO_AD_TAG_MODULE.SELECT_A_STRATEGY' | translate }}">{{ $select.selected.label }}</ui-select-match>
                                <ui-select-choices group-by="groupEntities" repeat="option.key as option in strategyOption | filter:$select.search">
                                    {{ option.label }}
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>

                <div class="form-group" ng-show="isNew">
                    <label for="inputPickFromLibrary" class="col-sm-2 control-label">Use Existing Demand Ad Tag</label>
                    <div class="col-sm-10">
                        <div>
                            <label class="ui-checkbox">
                                <input name="pickFromLibrary" type="checkbox" ng-model="pickFromLibrary" ng-click="getDemandAdTagLibrary()" server-error id="inputPickFromLibrary">
                                <span></span>
                            </label>
                        </div>
                        <span class="help-block">{{ 'AD_SOURCE_MODULE.HELP_BLOCK_FROM_LIBRARY' | translate }}</span>
                    </div>
                </div>
                <div class="form-group" ng-show="pickFromLibrary">
                    <label for="inputDemandAdTagLibrary" class="col-sm-2 control-label">{{ 'AD_SOURCE_LIBRARY_MODULE.LIBRARY_DEMAND_AD_TAG' | translate }}</label>
                    <div class="col-sm-10">
                        <ui-select name="libraryAdTag" ng-model="libraryDemandAdTag" id="inputDemandAdTagLibrary" server-error ng-disabled="!selectedData.publisher && isAdmin()" on-select="selectDemandAdTagLibrary($item)" reset-search-input="'false'">
                            <ui-select-match placeholder="{{ 'AD_SOURCE_LIBRARY_MODULE.SELECT_A_LIBRARY_DEMAND_AD_TAG' | translate }}">{{ $select.selected.name }} {{ $select.selected.id ? '(ID: ' + $select.selected.id + ')' : '' }}</ui-select-match>
                            <ui-select-choices repeat="libraryDemandAdTag.id as libraryDemandAdTag in demandAdTagLibraryList | filter:$select.search | filter:filterByPublisher:libraryDemandAdTag">
                                {{ libraryDemandAdTag.name }} {{ libraryDemandAdTag.id ? '(ID: ' + libraryDemandAdTag.id + ')' : '' }}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ 'VIDEO_DEMAND_PARTNER' | translate }}</label>
                    <div class="col-sm-10">
                        <ui-select name="publisher" ng-disabled="pickFromLibrary" id="inputVideoDemandPartner" ng-model="videoDemandAdTag.libraryVideoDemandAdTag.videoDemandPartner" ng-required="true" server-error on-select="selectVideoDemandPartner($item)">
                            <ui-select-match placeholder="{{ 'VIDEO_DEMAND_PARTNER_MODULE.SELECT_A_VIDEO_DEMAND_PARTNER' | translate }}">{{ $select.selected.name }}</ui-select-match>
                            <ui-select-choices repeat="partner.id as partner in demandPartners | selectedPublisher:selectedData.publisher | filter:$select.search">
                                {{ partner.name }}
                            </ui-select-choices>
                        </ui-select>

                        <a ng-if="!pickFromLibrary" ng-click="createVideoDemandPartner()" class="help-block">{{ 'VIDEO_DEMAND_PARTNER_MODULE.ADD_NEW_VIDEO_DEMAND_PARTNER' | translate }}</a>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ 'NAME' | translate }}</label>
                    <div class="col-sm-10">
                        <input name="tagUrl" ng-disabled="pickFromLibrary" ng-model="videoDemandAdTag.libraryVideoDemandAdTag.name" server-error ng-required="true" type="text" class="form-control" placeholder="{{ 'NAME' | translate }}">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ 'AD_SOURCE_MODULE.TAG_URL' | translate }}</label>
                    <div class="col-sm-10">
                        <textarea name="tagUrl" rows="5" spellcheck="false" ng-change ="isChangeTagURL()" ng-blur="replaceMacros()" ng-disabled="pickFromLibrary" ng-model="videoDemandAdTag.libraryVideoDemandAdTag.tagURL" server-error ng-required="true" type="url" class="form-control" placeholder="{{ 'AD_SOURCE_MODULE.TAG_URL' | translate }}"> </textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ 'AD_SOURCE_MODULE.SELL_PRICE' | translate }}</label>
                    <div class="col-sm-10">
                        <input name="sellPrice" ng-disabled="pickFromLibrary" ng-model="videoDemandAdTag.libraryVideoDemandAdTag.sellPrice" type="text" class="form-control" placeholder="{{ 'AD_SOURCE_MODULE.PLACEHOLDER_WEIGHT' | translate }}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ 'AD_SOURCE_MODULE.PRIORITY' | translate }}</label>
                    <div class="col-sm-10">
                        <input name="priority" ng-model="videoDemandAdTag.priority" server-error type="number" class="form-control" placeholder="{{ 'AD_SOURCE_MODULE.PLACEHOLDER_PRIORITY' | translate }}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ 'AD_SOURCE_MODULE.WEIGHT' | translate }}</label>
                    <div class="col-sm-10">
                        <input name="weight" ng-model="videoDemandAdTag.rotationWeight" server-error type="number" class="form-control" placeholder="{{ 'AD_SOURCE_MODULE.PLACEHOLDER_WEIGHT' | translate }}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ 'AD_SOURCE_MODULE.TIMEOUT' | translate }}</label>
                    <div class="col-sm-10">
                        <input name="timeout" ng-disabled="pickFromLibrary" ng-model="videoDemandAdTag.libraryVideoDemandAdTag.timeout" server-error type="number" class="form-control" placeholder="{{ 'AD_SOURCE_MODULE.TIMEOUT' | translate }}">

                        <span class="help-block">{{ 'AD_SOURCE_MODULE.HELP_BLOCK_TIMEOUT' | translate }}</span>
                    </div>
                </div>

                <div class="form-group" ng-if="pickFromLibrary || (!isNew && videoDemandAdTag.libraryVideoDemandAdTag.linkedCount > 1)">
                    <label for="inputTargetingOverride" class="col-sm-2 control-label">{{ 'AD_SOURCE_MODULE.TARGETING_OVERRIDE' | translate }}</label>
                    <div class="col-sm-10">
                        <label class="ui-checkbox"><input server-error name="active" type="checkbox" ng-model="videoDemandAdTag.targetingOverride" id="inputTargetingOverride"><span></span></label>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ 'AD_SOURCE_MODULE.TARGETING' | translate }}</label>
                    <div class="col-sm-10">
                        <div class="expressions-group">
                            <div class="row">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">{{ 'AD_SOURCE_MODULE.COUNTRIES' | translate }}</label>
                                    <div class="col-sm-9">
                                        <ui-select ng-disabled="!videoDemandAdTag.targetingOverride && (pickFromLibrary || videoDemandAdTag.libraryVideoDemandAdTag.linkedCount > 1)" multiple ng-model="videoDemandAdTag.libraryVideoDemandAdTag.targeting.countries" ng-required="true" close-on-select="false" server-error reset-search-input="'false'">
                                            <ui-select-match placeholder="{{ 'AD_SOURCE_MODULE.SELECT_A_COUNTRIES' | translate }}">{{ $item.name }}</ui-select-match>
                                            <ui-select-choices group-by="groupEntities" repeat="country.code as country in countries | filter:filterExcludeCountriesSelected | filter:$select.search">
                                                {{ country.name }}
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                                <br>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">{{ 'AD_SOURCE_MODULE.EXCLUDE_COUNTRIES' | translate }}</label>
                                    <div class="col-sm-9">
                                        <ui-select ng-disabled="!videoDemandAdTag.targetingOverride && (pickFromLibrary || videoDemandAdTag.libraryVideoDemandAdTag.linkedCount > 1)" multiple ng-model="videoDemandAdTag.libraryVideoDemandAdTag.targeting.exclude_countries" ng-required="true" close-on-select="false" server-error reset-search-input="'false'">
                                            <ui-select-match placeholder="{{ 'AD_SOURCE_MODULE.SELECT_A_COUNTRIES' | translate }}">{{ $item.name }}</ui-select-match>
                                            <ui-select-choices group-by="groupEntities" repeat="country.code as country in countries | filter:filterCountriesSelected | filter:$select.search">
                                                {{ country.name }}
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                                <br>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">{{ 'AD_SOURCE_MODULE.DOMAINS' | translate }}</label>
                                    <div class="col-sm-9">
                                        <oi-select ng-disabled="!videoDemandAdTag.targetingOverride && (pickFromLibrary || videoDemandAdTag.libraryVideoDemandAdTag.linkedCount > 1)" oi-options="item.name for item in whiteList | selectedPublisher:selectedData.publisher" ng-model="videoDemandAdTag.libraryVideoDemandAdTag.targeting.domains" multiple oi-select-options="{newItem: false, newItemFn: 'addDomain($query)'}" placeholder="{{ 'AD_SOURCE_MODULE.DOMAINS' | translate }}"></oi-select>

                                        <div class="inline">
                                            <a ng-click="createQuicklyWhiteLink()" class="help-block pull-left">{{ 'AD_SOURCE_MODULE.CREATE_WHITE_LIST' | translate }}</a>
                                            <a ng-click="viewQuicklyWhiteLink()" class="help-block pull-right">{{ 'AD_SOURCE_MODULE.VIEW_WHITE_LIST' | translate }}</a>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">{{ 'AD_SOURCE_MODULE.EXCLUDE_DOMAINS' | translate }}</label>
                                    <div class="col-sm-9">
                                        <oi-select ng-disabled="!videoDemandAdTag.targetingOverride && (pickFromLibrary || videoDemandAdTag.libraryVideoDemandAdTag.linkedCount > 1)" oi-options="item.name for item in blackList" ng-model="videoDemandAdTag.libraryVideoDemandAdTag.targeting.exclude_domains" multiple oi-select-options="{newItem: false, newItemFn: 'addDomain($query)'}" placeholder="{{ 'AD_SOURCE_MODULE.EXCLUDE_DOMAINS' | translate }}"></oi-select>

                                        <div class="inline">
                                            <a ng-click="createQuicklyBlackLink()" class="help-block pull-left">{{ 'AD_SOURCE_MODULE.CREATE_BLACK_LIST' | translate }}</a>
                                            <a ng-click="viewQuicklyBlackLink()" class="help-block pull-right">{{ 'AD_SOURCE_MODULE.VIEW_BLACK_LIST' | translate }}</a>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">{{ 'AD_SOURCE_MODULE.PLATFORM' | translate }}</label>
                                    <div class="col-sm-9">
                                        <ui-select multiple ng-disabled="!videoDemandAdTag.targetingOverride && (pickFromLibrary || videoDemandAdTag.libraryVideoDemandAdTag.linkedCount > 1)" name="platform" close-on-select="false" id="inputPlatform" ng-model="videoDemandAdTag.libraryVideoDemandAdTag.targeting.platform" ng-required="true" server-error>
                                            <ui-select-match placeholder="{{ 'AD_SOURCE_MODULE.SELECT_PLATFORM' | translate }}">{{ $item.label }}</ui-select-match>
                                            <ui-select-choices repeat="platform.key as platform in platformOption | filter:$select.search">
                                                {{ platform.label }}
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                                <br>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">{{ 'AD_SOURCE_MODULE.PLAYER_SIZE' | translate }}</label>
                                    <div class="col-sm-9">
                                        <ui-select multiple ng-disabled="!videoDemandAdTag.targetingOverride && (pickFromLibrary || videoDemandAdTag.libraryVideoDemandAdTag.linkedCount > 1)" name="playerSize" close-on-select="false" ng-model="videoDemandAdTag.libraryVideoDemandAdTag.targeting.player_size" ng-required="true" server-error>
                                            <ui-select-match placeholder="{{ 'AD_SOURCE_MODULE.SELECT_A_PLAYER_SIZE' | translate }}">{{ $item.label }}</ui-select-match>
                                            <ui-select-choices repeat="player.key as player in playerSizeOptions | filter:$select.search">
                                                {{ player.label }}
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                                <br>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">{{ 'AD_SOURCE_MODULE.REQUIRED_MACROS' | translate }}</label>
                                    <div class="col-sm-9">
                                        <ui-select multiple ng-disabled="!videoDemandAdTag.targetingOverride && (pickFromLibrary || videoDemandAdTag.libraryVideoDemandAdTag.linkedCount > 1)" name="requiredMacros" close-on-select="false" ng-model="videoDemandAdTag.libraryVideoDemandAdTag.targeting.required_macros" ng-required="true" server-error>
                                            <ui-select-match placeholder="{{ 'AD_SOURCE_MODULE.SELECT_A_REQUIRED_MACROS' | translate }}">{{ $item }}</ui-select-match>
                                            <ui-select-choices repeat="require in requiredMacrosOptions | filter:$select.search">
                                                {{ require }}
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputActive" class="col-sm-2 control-label">{{ 'AD_SOURCE_MODULE.ACTIVE' | translate }}</label>
                    <div class="col-sm-10">
                        <div>
                            <label class="ui-checkbox">
                                <input name="active" type="checkbox" ng-model="videoDemandAdTag.active" server-error id="inputActive">
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="modal-dialog-footer">
        <button class="btn btn-primary" ng-click="$dismiss()" type="button">{{ 'CANCEL' | translate }}</button>
        <button class="btn btn-success" ng-disabled="!isFormValid()" type="submit">{{ 'SUBMIT' | translate }}</button>
    </div>
</form>