@mixin ui-select-width($minWidth) {
    .ui-select-bootstrap,
    .ui-select-bootstrap > .ui-select-match,
    .ui-select-bootstrap > .ui-select-search {
        min-width: $minWidth;
    }
}

.ui-select-multiple {
  min-height: $input-height-base;
  border-color: #cfcfcf !important;
}

.ui-select-match {
  z-index: 9999;
  height: 34px;
}

.userForm .col-sm-2 {
  padding-left: 15px !important;
  padding-right: 0 !important;
}

.userForm .col-sm-10 {
  padding-left: 30px !important;
}

.check_video_player {
  float: left;
  width: 150px
}

.check_exchange{
  float: left;
  width: 200px;
  height: 40px !important;
}

.form-col .form-group {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.input-group-fixed-width {
  width: 100% !important;

  .input-group-addon {
    width: 34px !important;
  }
}

.fileUpload {
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
}
.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}
