@mixin ui-select-width($minWidth) {
    .ui-select-bootstrap,
    .ui-select-bootstrap > .ui-select-match,
    .ui-select-bootstrap > .ui-select-search {
        min-width: $minWidth;
    }
}

.ui-select-multiple {
  min-height: $input-height-base;
  border-color: #cfcfcf !important;
}

.ui-select-match {
  z-index: 9999;
  height: 34px;
}

.userForm .col-sm-2 {
  padding-left: 15px !important;
  padding-right: 0 !important;
}

.userForm .col-sm-10 {
  padding-left: 30px !important;
}

.disabledForm {
  [disabled="disabled"] {
    cursor: not-allowed;
  }
  .CodeMirror, .CodeMirror-code, .cm-tag, .CodeMirror-lines {
    cursor: not-allowed !important;
  }
}