@import
    "form",
    "reports/reports",
    "supportTools/updateRevenueForm",
    "supportTools/activityLog",
    "supportTools/cpmEditor",
    "supportTools/sourceReportConfiguration",
    "blocks/searchBox/searchBox",
    "blocks/queryBuilder/queryBuilder",
    "tagsManagement/adTags"
;
// custom

.panel-heading .glyphicon-th {
    font-size: 15px;
    top: 2px;
}

.panel-tag-generator .media-body {
    display: block;
}

.form-horizontal .form-group {
    @media (min-width: $screen-sm) {
        .ui-checkbox,
        .ui-radio {
            margin-top: 7px;
        }
    }
}

[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}

[ng-click].click-disabled,
[data-ng-click].click-disabled,
[x-ng-click].click-disabled {
    cursor: default !important;
}

.panel-alerts {
    .alert {
        &:last-child {
            margin-bottom: 0 !important;
        }
    }
}

.alert {
    .alert-title {
        font-weight: bold;
    }
}

.modal-dialog-footer {
    @extend .modal-footer;
    margin-top: 0;
    border-top: 0;
}

#form-date-range-selector {
    label {
        font-size: 12px;
        text-transform: uppercase;
    }

    .form-inline {
        .date-picker {
            min-width: 200px;
            cursor: pointer;
        }

        > .form-group {
            @media (min-width: $screen-sm) {
                margin-right: 8px;
            }
        }

        .btn-primary {
            @media (min-width: $screen-sm) {
                margin-top: 22px;
            }
        }

        .publisher.form-group {
            @include ui-select-width(200px);
        }

    }
}

.nav-tab-margin {
    margin-top: 5px;

    li:first-child {
        margin-left: 5px;
    }
}

/*
table td:before {
  content: none !important;
}
*/

/* multiple buttons will be grouped ad a single dropdown button */
.btnGrouped {
    display:none;
    float:right;
}

@media screen and (max-width: 600px) {
    /* rearrange table to fit width */
    .table-responsive table thead {display:none;}

    .table-responsive table tbody td {
        display: block; padding: .6rem;
    }

    .table-responsive table tbody tr td:first-child {
        background: #666; color: #fff;
    }

    .table-responsive table tbody td {
        text-align:right;
        float:right;
        display:block;
        width:100%;
    }

    .table-responsive table tbody td:before {
        content: attr(at-title);
        font-weight: bold;
        font-size:16px;
        display: inline-block;
        float:left;
        width:50%;
        text-align:left;
    }

    /* hide the original buttons and show the grouped button */
    .btnGrouped {
        display:block;
        float:right;
        margin-top:-7px;
    }

    div.button-bar {
        display:none;
    }

    .userForm .col-sm-10 {
        padding-left: 15px !important;
    }
}