@import
    "form",
    "reports/reports",
    "supportTools/updateRevenueForm",
    "supportTools/activityLog"
;
// custom

.form-horizontal .form-group {
    @media (min-width: $screen-sm) {
        .ui-checkbox,
        .ui-radio {
            margin-top: 7px;
        }
    }
}

[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}

[ng-click].click-disabled,
[data-ng-click].click-disabled,
[x-ng-click].click-disabled {
    cursor: default !important;
}

.sortable-placeholder {
    background: $table-bg-accent;
}

tr.moveable {
    cursor: move;
}

tr[ui-sref] {
    cursor: pointer;
}

.panel-alerts {
    .alert {
        &:last-child {
            margin-bottom: 0 !important;
        }
    }
}

.alert {
    .alert-title {
        font-weight: bold;
    }
}

.modal-dialog-footer {
    @extend .modal-footer;
    margin-top: 0;
    border-top: 0;
}

#form-date-range-selector {
    form
    > .form-group {
        @media (min-width: $screen-sm) {
            margin-right: 8px;
        }
    }
    .btn-primary {
            @media (min-width: $screen-sm) {
                margin-top: 22px;
            }
    }
}
