<div class="panel panel-default">
    <div class="panel-heading"><span class="glyphicon glyphicon-th"></span> Account Statistics</div>
    <ul class="list-unstyled report list-info">
        <li>
            <label>Estimated Revenue</label>
            <span class="pull-right">{{ dataStatistics.estRevenue | currency:'$':4 }}</span>
        </li>
        <li>
            <label>Estimated CPM</label>
            <span class="pull-right">{{ dataStatistics.estCpm | currency:'$':4 }}</span>
        </li>
        <li>
            <label>Total Opportunities</label>
            <span class="pull-right">{{ dataStatistics.totalOpportunities | number }}</span>
        </li>
        <li>
            <label>Slot Opportunities</label>
            <span class="pull-right">{{ dataStatistics.slotOpportunities | number }}</span>
        </li>
        <li>
            <label>Impressions</label>
            <span class="pull-right">{{ dataStatistics.impressions | number }}</span>
        </li>
        <li>
            <label>Passbacks</label>
            <span class="pull-right">{{ dataStatistics.passbacks | number }}</span>
        </li>
        <li>
            <label>Fill Rate</label>
            <span class="pull-right">{{ dataStatistics.fillRate | percentage }}</span>
        </li>
    </ul>
</div>