<div class="panel panel-default">
    <div class="panel-heading">
        <span current-page-title></span>
        <!--<strong>{{ 'AD_NETWORK_MODULE.PAGE_TITLE_AD_NETWORKS' | translate }}</strong>-->

        <div ng-if="!isSubPublisher()" class="button-bar">
            <button ui-sref="^.new" class="btn btn-sm btn-primary" type="button">
                <span class="glyphicon glyphicon-plus"></span>
                {{ 'AD_NETWORK_MODULE.NEW_AD_NETWORK' | translate }}
            </button>

            <button ng-if="blackList" ng-click="backToBlackList()" class="btn btn-primary btn-sm" type="button">
                <span class="glyphicon glyphicon-arrow-left"></span>
                {{ 'AD_NETWORK_MODULE.BACK_TO_BLACK_LIST' | translate }}
            </button>
        </div>
        <div ng-if="!isSubPublisher()" class="btn-group btnGrouped" dropdown>
            <button type="button" class="btn " dropdown-toggle><span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span></button>
            <ul class="dropdown-menu pull-right" role="menu">
                <li><a ui-sref="^.new">{{ 'AD_NETWORK_MODULE.NEW_AD_NETWORK' | translate }}</a></li>
                <li ng-if="blackList" ng-click="backToBlackList()"><a>{{ 'AD_NETWORK_MODULE.BACK_TO_BLACK_LIST' | translate }}</a></li>
            </ul>
        </div>
    </div>

    <div style="display: flex">
        <search-box class="col-sm-10" show-query="true" sb-list="adNetworks" search-fields="['id', 'name', 'publisher.company']"></search-box>
    </div>

    <div class="panel-body" ng-if="hasData()">
        <div class="table-responsive">
            <table class="table" at-sortable-query at-table at-paginated at-list="adNetworks" at-config="tableConfig">
                <thead>
                    <tr>
                        <th ng-show="isAdmin()" at-attribute="publisher.company">{{ 'PUBLISHER' | translate }}</th>
                    </tr>
                </thead>
                <tbody>
                <tr>
                    <td at-implicit at-sortable at-attribute="id" at-title="#"></td>
                    <td at-title="{{ 'ACTIONS' | translate }}">
                        <div class="btn-group" dropdown>
                            <button type="button" class="btn " dropdown-toggle> {{ 'ACTIONS' | translate }} <span class="caret"></span> </button>
                            <ul class="dropdown-menu pull-right-dropdown" role="menu">
                                <li><a ui-sref="^.^.adTag.listByAdNetwork({ adNetworkId: item.id })">{{ 'AD_NETWORK_MODULE.MANAGE_AD_TAGS' | translate }}</a></li>
                                <li><a ui-sref="^.^.domainList.blockListByAdNetwork({ id: item.id })">{{ 'AD_NETWORK_MODULE.MANAGE_BLACk_LIST' | translate }}</a></li>
                                <li><a ui-sref="^.^.domainList.whiteListByAdNetwork({ id: item.id })">{{ 'AD_NETWORK_MODULE.MANAGE_WHITE_LIST' | translate }}</a></li>
                                <li class="divider"></li>
                                <li ng-if="item.pausedAdTagsCount > 0 && !isSubPublisher()"><a ng-click="toggleAdNetworkStatus(item, true)">{{ 'AD_NETWORK_MODULE.DROPDOWN_ACTIVE' | translate }}</a></li>
                                <li ng-if="item.activeAdTagsCount > 0 && !isSubPublisher()"><a ng-click="toggleAdNetworkStatus(item, false)">{{ 'AD_NETWORK_MODULE.DROPDOWN_PAUSE' | translate }}</a></li>
                                <li><a ng-click="openListSitesForAdNetwork(item)">{{ 'AD_NETWORK_MODULE.PAUSE_AD_NETWORK_BY_SITE' | translate }}</a></li>
                                <li class="divider"></li>
                                <li ><a ui-sref="^.^.^.reports.performance.adNetworkSites({ adNetworkId: item.id, startDate: today})">{{ 'VIEW_TODAY_REPORT' | translate }}</a></li>
                                <li ng-if="!isSubPublisher()" class="divider"></li>
                                <li ng-if="!isSubPublisher()"><a ui-sref="^.edit({ id: item.id })">{{ 'AD_NETWORK_MODULE.EDIT_AD_NETWORK' | translate }}</a></li>
                                <li ng-if="item.url" class="divider"></li>
                                <li ng-if="item.url"><a ng-href="{{ item.url }}" target="_blank">{{ 'AD_NETWORK_MODULE.DROPDOWN_VISIT_AS_NETWORK' | translate }}</a></li>
                            </ul>
                        </div>
                    </td>
                    <td at-implicit at-sortable at-attribute="name" at-initial-sorting="asc" at-title="{{ 'AD_NETWORK' | translate }}"></td>
                    <td ng-show="isAdmin()" at-implicit at-sortable at-attribute="publisher.company" at-title="{{ 'PUBLISHER' | translate }}"></td>
                    <td at-implicit at-sortable at-attribute="activeAdTagsCount" at-title="{{ 'AD_NETWORK_MODULE.ACTIVE_AD_TAGS_COUNT' | translate }}"></td>
                    <td at-implicit at-sortable at-attribute="pausedAdTagsCount" at-title="{{ 'AD_NETWORK_MODULE.PAUSE_AD_TAGS_COUNT' | translate }}"></td>
                </tr>
                </tbody>
            </table>

            <div style="float:left; display: flex; margin-right: 20px; margin-top: 5px">
                <at-pagination at-pagination-query ng-if="showPagination()" at-list="adNetworks" at-config="tableConfig"></at-pagination>
                <div style="margin-top: 25px;">
                    <label class="items-per-page" for="selectItemsPerPage"> Items Per Page </label>
                    <select id="selectItemsPerPage" ng-change="changeItemsPerPage()" ng-model="tableConfig.itemsPerPage">
                        <option ng-repeat="option in itemsPerPageList" value="{{option}}">{{option}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>