<div class="panel panel-default">
    <div class="panel-heading">
        <span class="glyphicon glyphicon-th"></span>
        <strong current-page-title></strong>

        <div class="button-bar hidden-xs">
            <button ui-sref="^.new" class="btn btn-sm btn-primary" type="button">
                <span class="glyphicon glyphicon glyphicon-plus"></span>
                New Ad Network
            </button>
        </div>
    </div>

    <search-box sb-list="adNetworks" search-fields="['name', 'publisher.username']"></search-box>

    <div class="panel-body" ng-if="hasData()">
        <div>
            <table class="table ng-table-responsive" at-table at-paginated at-list="adNetworks" at-config="tableConfig">
                <thead>
                    <tr>
                        <th  at-attribute="id">#</th>
                        <th>Actions</td>
                        <th at-attribute="name">Ad Network</th>
                        <th ng-show="isAdmin()" at-attribute="publisher.username">Publisher</th>
                        <th at-attribute="status">Status</th>
                    </tr>
                </thead>
                <tbody>
                <tr>
                    <td at-implicit at-sortable at-attribute="id" at-initial-sorting="asc"></td>
                    <td at-title="Actions">
                        <div class="btn-group" dropdown>
                            <button type="button" class="btn " dropdown-toggle> Actions <span class="caret"></span> </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a ng-click="toggleAdNetworkStatus(item)">{{ item.active ? 'Pause' : 'Activate' }} Ad Network</a></li>
                                <li><a ng-click="openListSitesForAdNetwork(item)">Pause Ad Network by Sites</a></li>
                                <li><a ui-sref="^.edit({ id: item.id })">Edit Ad Network</a></li>
                                <li ng-if="item.url" class="divider"></li>
                                <li ng-if="item.url"><a ng-href="{{ item.url }}" target="_blank">Visit Ad Network</a></li>
                            </ul>
                        </div>
                    </td>
                    <td at-implicit at-sortable at-attribute="name"></td>
                    <td ng-show="isAdmin()" at-implicit at-sortable at-attribute="publisher.username"></td>
                    <td at-sortable at-attribute="status">
                        <span class="label" ng-class="item.active ? 'label-success' : 'label-danger'">{{ item.active ? 'Active' : 'Paused' }}</span>
                    </td>
                </tr>
                </tbody>
            </table>

            <at-pagination ng-if="showPagination()" at-list="adNetworks" at-config="tableConfig"></at-pagination>
        </div>
    </div>
</div>