<div class="modal-header">
    <h4 class="modal-title">Are you sure you want to pause this ad network?</h4>
</div>
<div class="modal-body">
    <p>Every ad tag associated with this ad network and site will be also {{ active ? 'paused' : 'active' }}.</p>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="$dismiss()">No, cancel</button>
    <button class="btn {{ active ? 'btn-danger' : 'btn-success' }}" ng-click="$close()">Yes, {{ active ? 'paused' : 'active' }}</button>
</div>