<div class="modal-header">
    <h4 class="modal-title">Sites for ad network : <strong>{{ adNetwork.name }}</strong></h4>
</div>
<div class="modal-body">

    <div class="table-responsive">
        <table class="table" at-table at-paginated at-list="sites" at-config="configPagination">
            <thead></thead>
            <tbody>
            <tr>
                <td at-title="#" at-implicit at-sortable at-attribute="site.id" at-initial-sorting="asc"></td>
                <td at-title="Actions">
                    <div class="btn-group" dropdown>
                        <button type="button" class="btn" dropdown-toggle> Actions <span class="caret"></span> </button>
                        <ul class="dropdown-menu pull-right-dropdown" role="menu">
                            <li ng-if="item.pausedAdTagsCount > 0"><a ng-click="toggleStatus(item, true)">Activate Ad Tags</a></li>
                            <li ng-if="item.activeAdTagsCount > 0"><a ng-click="toggleStatus(item, false)">Pause Ad Tags</a></li>
                        </ul>
                    </div>
                </td>
                <td at-title="Site Name" at-sortable at-implicit at-attribute="site.name"></td>
                <td at-title="Domain" at-sortable at-implicit at-attribute="site.domain"></td>
                <td at-implicit at-sortable at-attribute="activeAdTagsCount" at-title="Active Ad Tags"></td>
                <td at-implicit at-sortable at-attribute="pausedAdTagsCount" at-title="Paused Ad Tags"></td>
            </tr>
            </tbody>
        </table>

        <at-pagination ng-if="sites.length > configPagination.itemsPerPage" at-list="sites" at-config="configPagination"></at-pagination>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-default" ng-click="$close()">Close</button>
</div>