<div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()">×</button>
    <h4 class="modal-title">{{ 'SOURCE_CONFIG_MODULE.ADD_NEW_EMAIL_CONFIG' | translate }}</h4>
</div>
<div class="modal-body">
    <div class="row source-report-configuration">

        <form name="sourceReportConfig" class="col-lg-12 form-validation form-horizontal" role="form" ng-submit="submit()" novalidate>
            <div class="form-group">
                <label for="inputEmail" class="col-sm-2 control-label">{{ 'SOURCE_CONFIG_MODULE.RECEIVING_EMAIL' | translate }}</label>
                <div class="col-sm-10">
                    <div ng-repeat="emailReceive in emailReceive" class="emailInput">
                        <div class="input-group">
                            <input name="email[]" server-error ng-required="true" type="email" ng-model="emailReceive.email" class="form-control" id="inputEmail" placeholder="{{ 'SOURCE_CONFIG_MODULE.PLACEHOLDER_EMAIL_ADDRESS' | translate }}">
                            <span class="input-group-addon" ng-click="removeEmailInput(emailReceive)"><i class="fa fa-remove"></i></span>
                        </div>
                    </div>
                    <a class="help-block" ng-click="addEmailInput()">{{ 'SOURCE_CONFIG_MODULE.ADD_ANOTHER_EMAIL' | translate }}</a>
                </div>
            </div>

            <div class="form-group">
                <label for="inputIncludedAll" class="col-sm-2 control-label">{{ 'SOURCE_CONFIG_MODULE.INCLUDE_ALL' | translate }}</label>
                <div class="col-sm-10">
                    <label class="ui-checkbox"><input server-error name="active" type="checkbox" ng-model="selected.includedAll" id="inputIncludedAll"><span></span></label>
                </div>
            </div>

            <div class="form-group" ng-if="!selected.includedAll">
                <label for="inputPublisher" class="col-sm-2 control-label">{{ 'PUBLISHER' | translate }}</label>
                <div class="col-sm-10">
                    <ui-select id="inputPublisher" ng-model="selected.publisher" ng-required="true" server-error on-select="selectPublisher($model)" reset-search-input="'false'">
                        <ui-select-match placeholder="{{ 'PUBLISHER_MODULE.SELECT_A_PUBLISHER' | translate }}">{{ $select.selected.company }}</ui-select-match>
                        <ui-select-choices repeat="publisher.id as publisher in publishers | orderBy: 'company' | filter:{ company: $select.search }">
                            {{ publisher.company }}
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>

            <div class="row">
                <div ng-if="!selected.includedAll" class="col-lg-offset-2 col-sm-10">
                    <div class="col-sm-5">
                        <section class="panel panel-default row">
                            <div class="panel-heading">{{ 'SOURCE_CONFIG_MODULE.AVAILABLE_SITES' | translate }}</div>
                            <select multiple="multiple" ng-model="selected.listPush">
                                <option ng-repeat="site in sitesNoConfig" ng-dblclick="sitesHasConfigPush(site)" value="{{site}}">{{ site.domain }}</option>
                            </select>
                        </section>
                    </div>
                    <div class="col-sm-2 center-col-source-report">
                        <button type="button" class="btn btn-default col-lg-12" ng-click="sitesHasConfigPushItems(selected.listPush)">
                            <span class="fa fa-chevron-right"></span>
                        </button>

                        <button type="button" class="btn btn-default col-lg-12" ng-click="sitesHasConfigPushAll(sitesNoConfig)">
                            <span class="glyphicon glyphicon-arrow-right"></span>
                        </button>
                        <button type="button" class="btn btn-default col-lg-12" ng-click="sitesHasConfigDropAll(sitesHasConfig)">
                            <span class="glyphicon glyphicon-arrow-left"></span>
                        </button>

                        <button type="button" class="btn btn-default col-lg-12" ng-click="sitesHasConfigDropItems(selected.listDrop)">
                            <span class="fa fa-chevron-left"></span>
                        </button>
                    </div>
                    <div class="col-sm-5">
                        <section class="panel panel-default row">
                            <div class="panel-heading">{{ 'SOURCE_CONFIG_MODULE.SELECTED_SITES' | translate }}</div>
                            <select multiple="multiple" ng-model="selected.listDrop">
                                <option ng-repeat="site in sitesHasConfig" ng-dblclick="sitesHasConfigDrop(site)" value="{{site}}">{{ site.domain }}</option>
                            </select>
                        </section>
                    </div>
                </div>

                <div class="col-lg-offset-2 col-sm-10">
                    <button ng-disabled="!isFormValid()" type="submit" class="btn btn-success" ng-click="$dismiss()">{{ 'SUBMIT' | translate }}</button>
                    <div ng-show="!isFormValid()" class="callout callout-info">
                        <p>{{ 'VALID_FORM' | translate }}</p>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>