<section class="panel panel-default">
    <div class="panel-heading">
        <span class="glyphicon glyphicon-th"></span> <strong current-page-title></strong>

        <div class="button-bar">
            <button ng-if="!isNew" ng-click="backToAdTagList()" class="btn btn-sm btn-primary" type="button">
                <span class="glyphicon glyphicon-arrow-left"></span>
                {{ 'AD_TAG_MODULE.BACK_TO_AD_TAG_LIST' | translate }}
            </button>
        </div>
        <div class="btn-group btnGrouped" dropdown ng-if="!isNew">
            <button type="button" class="btn " dropdown-toggle><span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span></button>
            <ul class="dropdown-menu pull-right" role="menu">
                <li><a ng-click="backToAdTagList()">{{ 'AD_TAG_MODULE.BACK_TO_AD_TAG_LIST' | translate }}</a></li>
            </ul>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <form name="adTagForm" class="col-lg-12 form-validation form-horizontal" role="form" ng-submit="submit()" novalidate>
                <div class="form-group" ng-if="isAdmin() && !allowAdSlotSelection">
                    <label class="col-sm-1 control-label">{{ 'PUBLISHER' | translate }}</label>
                    <div class="col-sm-5 form-control-static">
                        {{ selected.publisher.company }}
                    </div>
                </div>
                <div class="form-group" ng-if="!allowAdSlotSelection && !!selected.site">
                    <label class="col-sm-1 control-label">{{ 'SITE' | translate }}</label>
                    <div class="col-sm-5 form-control-static">
                        {{ selected.site.name }}
                    </div>
                </div>
                <div class="form-group" ng-if="!allowAdSlotSelection && !!adTag.adSlot">
                    <label class="col-sm-1 control-label">{{ 'AD_SLOT' | translate }}</label>
                    <div class="col-sm-5 form-control-static">
                        {{ adTag.adSlot.libraryAdSlot.name }}
                    </div>
                </div>

                <div class="form-group" ng-if="isAdmin() && allowAdSlotSelection">
                    <label for="inputPublisher" class="col-sm-1 control-label">{{ 'PUBLISHER' | translate }}</label>
                    <div class="col-sm-5">
                        <ui-select ng-model="selected.publisher" id="inputPublisher" on-select="selectPublisher($item, $model)" reset-search-input="'false'">
                            <ui-select-match placeholder="{{ 'PUBLISHER_MODULE.SELECT_A_PUBLISHER' | translate }}">{{ $select.selected.company }}</ui-select-match>
                            <ui-select-choices repeat="publisher in publisherList | filter: { company: $select.search }">
                                {{ publisher.company }}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="form-group" ng-if="allowAdSlotSelection">
                    <label for="inputAdSlot" class="col-sm-1 control-label">{{ 'AD_SLOTS' | translate }}</label>
                    <div class="col-sm-5">
                        <ui-select id="inputAdSlot" multiple ng-model="adTag.adSlots" ng-required="true" on-select="selectAdSlot($item)"  close-on-select="false" server-error reset-search-input="'false'">
                            <ui-select-match placeholder="Select Ad Slots">{{ $item.id + ': ' + $item.libraryAdSlot.name + ' (' + $item.site.id + ': ' + $item.site.name + ')' }}</ui-select-match>
                            <ui-select-choices infinite-scroll="addMoreItems()" infinite-scroll-container="'#reload'" id="reload" infinite-scroll-distance="200" refresh="searchItem($select.search)" refresh-delay="500" repeat="adSlot.id as adSlot in adSlotList">
                                {{ adSlot.id + ': ' + adSlot.libraryAdSlot.name + ' (' + adSlot.site.id + ': ' + adSlot.site.name + ')' }}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>

                <!--demo-->
                <div class="row" ng-if="showInputPosition && !hasMultipleDeployAdSlot">
                    <div class="col-sm-offset-1 col-sm-5">
                        <div style="background-color: #e6e6e6; height: 85px; margin-bottom: 15px; clear: both" ng-repeat="adTagList in adTagGroup">
                            <span style="text-align: center; float: left; height: 100%" ng-repeat="adTag in adTagList" ng-style="{width: 100/adTagList.length+'%', 'border-left': ($index != 0 ? '1px solid #000000' : '')}">
                                <p style="margin: 10px 0 5px 0 !important;"><strong>{{ adTag.libraryAdTag.adNetwork.name }}</strong></p>
                                <p style="margin: 5px !important;">{{ !!adTag.frequencyCap ? adTag.frequencyCap : 'N/A'}} FC</p>
                                <p style="margin: 5px !important;">{{ !!adTag.rotation ? adTag.rotation : 'N/A'}} Weight</p>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputPickFromLibrary" class="col-sm-1 control-label">Use Existing Ad Tag</label>
                    <div class="col-sm-5">
                        <div>
                            <label class="ui-checkbox">
                                <input name="pickFromLibrary" ng-disabled="disabledCheckPickFromLibrary" type="checkbox" ng-model="pickFromLibrary" ng-click="getAdTagLibrary()" server-error id="inputPickFromLibrary">
                                <span></span>
                            </label>
                        </div>
                        <span class="help-block">{{ 'AD_TAG_MODULE.HELP_BLOCK_FROM_LIBRARY' | translate }}</span>
                    </div>
                </div>
                <div class="form-group" ng-if="pickFromLibrary">
                    <label for="inputAdTagLibrary" class="col-sm-1 control-label">Standalone Ad Tag</label>
                    <div class="col-sm-5">
                        <ui-select name="libraryAdTag" ng-model="libraryAdTag" id="inputAdTagLibrary" server-error ng-disabled="!selected.publisher && isAdmin()" on-select="selectAdTagLibrary($item)" reset-search-input="'false'">
                            <ui-select-match placeholder="{{ 'AD_TAG_MODULE.SELECT_AN_AD_TAG_FROM_LIBRARY' | translate }}">{{ $select.selected.name }} {{ $select.selected.id ? '(ID: ' + $select.selected.id + ')' : '' }}</ui-select-match>
                            <ui-select-choices repeat="libraryAdTag.id as libraryAdTag in adTagLibraryList | filter:$select.search | filter:filterByPublisher:libraryAdTag">
                                {{ libraryAdTag.name }} {{ libraryAdTag.id ? '(ID: ' + libraryAdTag.id + ')' : '' }}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputAdNetwork" class="col-sm-1 control-label">{{ 'AD_NETWORK' | translate }}</label>
                    <div class="col-sm-5">
                        <ui-select name="adNetwork" ng-model="adTag.libraryAdTag.adNetwork" id="inputAdNetwork" on-select="selectAdNetwork($item)" ng-required="true" server-error ng-disabled="isAdmin() && !selected.publisher || pickFromLibrary" reset-search-input="'false'">
                            <ui-select-match placeholder="{{ 'AD_NETWORK_MODULE.SELECT_A_AD_NETWORK' | translate }}">{{ $select.selected.name }}</ui-select-match>
                            <ui-select-choices repeat="adNetwork.id as adNetwork in adNetworkList | filter: { name:$select.search } | selectedPublisher:selected.publisher">
                                {{ adNetwork.name }}
                            </ui-select-choices>
                        </ui-select>

                        <a ng-click="createAdNetwork()" class="help-block">{{ 'AD_NETWORK_MODULE.ADD_NEW_AD_NETWORK' | translate }}</a>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputName" class="col-sm-1 control-label">{{ 'NAME' | translate }}</label>
                    <div class="col-sm-5">
                        <input name="name" ng-model="adTag.libraryAdTag.name" server-error ng-disabled="pickFromLibrary" ng-required="true" ng-minlength="2" type="text" class="form-control" id="inputName" placeholder="{{ 'AD_TAG_MODULE.AD_TAG_NAME' | translate }}">
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputPosition" class="col-sm-1 control-label">{{ 'AD_TAG_MODULE.AD_TYPE' | translate }}</label>
                    <div class="col-sm-5">
                        <label class="ui-radio"><input ng-disabled="pickFromLibrary" ng-model="adTag.libraryAdTag.adType" type="radio" ng-value="adTypes.customAd"><span>{{ 'AD_TAG_MODULE.CUSTOM_AD' | translate }}</span></label>
                        <label ng-if="hasInBanner()" class="ui-radio"><input ng-disabled="pickFromLibrary" ng-model="adTag.libraryAdTag.adType" type="radio" ng-value="adTypes.inBanner"><span>{{ 'AD_TAG_MODULE.IN_BANNER' | translate }}</span></label>
                        <label class="ui-radio"><input ng-disabled="pickFromLibrary" ng-model="adTag.libraryAdTag.adType" type="radio" ng-value="adTypes.imageAd"><span>{{ 'AD_TAG_MODULE.IMAGE_AD' | translate }}</span></label>
                    </div>
                </div>

                <!--ad type html-->
                <div class="form-group" ng-if="adTag.libraryAdTag.adType == adTypes.customAd">
                    <label for="inputHtml" class="col-sm-1 control-label">{{ 'AD_TAG_MODULE.HTML' | translate }}</label>
                    <div class="col-sm-5">
                        <ui-codemirror id="inputHtml" ng-required="true" ng-model="adTag.libraryAdTag.html" ui-codemirror-opts="editorOptions"></ui-codemirror>
                        <span class="help-block">{{ 'AD_TAG_MODULE.HELP_BLOCK_HTML' | translate }}:<br/>
                        <strong>${CACHEBUSTER}</strong>: {{ 'AD_TAG_MODULE.HELP_BLOCK_CACHE_BUSTER' | translate }}<br/>
                        <strong>${PAGE_URL}</strong>: {{ 'AD_TAG_MODULE.HELP_BLOCK_PAGE_URL' | translate }}<br/>
                        <strong>${DOMAIN}</strong>: {{ 'AD_TAG_MODULE.HELP_BLOCK_DOMAIN' | translate }}<br/>
                        <strong>${DECLARED_DOMAIN}</strong>: {{ 'AD_TAG_MODULE.HELP_BLOCK_DECLARED_DOMAIN' | translate }}<br/>
                        <strong>${DETECTED_DOMAIN}</strong>: {{ 'AD_TAG_MODULE.HELP_BLOCK_DETECTED_DOMAIN' | translate }}<br/>
                        <strong>${SLOT_ID}</strong>: {{ 'AD_TAG_MODULE.HELP_BLOCK_SLOT_ID' | translate }}</span>
                    </div>
                </div>

                <!--ad type images-->
                <div ng-if="adTag.libraryAdTag.adType == adTypes.imageAd">
                    <div class="form-group">
                        <label for="inputImageUrl" class="col-sm-1 control-label">{{ 'AD_TAG_MODULE.IMAGE_URL' | translate }}</label>
                        <div class="col-sm-5">
                            <input name="name" ng-disabled="pickFromLibrary" ng-model="adTag.libraryAdTag.descriptor.imageUrl" server-error ng-required="true" ng-minlength="2" type="url" class="form-control" id="inputImageUrl" placeholder="{{ 'AD_TAG_MODULE.IMAGE_URL' | translate }}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputTargetUrl" ng-disabled="pickFromLibrary" class="col-sm-1 control-label">{{ 'AD_TAG_MODULE.TARGET_URL' | translate }}</label>
                        <div class="col-sm-5">
                            <input name="name" ng-model="adTag.libraryAdTag.descriptor.targetUrl" server-error ng-required="true" ng-minlength="2" type="url" class="form-control" id="inputTargetUrl" placeholder="{{ 'AD_TAG_MODULE.TARGET_URL' | translate }}">
                            <span class="help-block">{{ 'AD_TAG_MODULE.HELP_BLOCK_TARGET_URL' | translate }}:<br/>
                            <strong>${CACHEBUSTER}</strong>: {{ 'AD_TAG_MODULE.HELP_BLOCK_CACHE_BUSTER' | translate }}<br/>
                            <strong>${PAGE_URL}</strong>: {{ 'AD_TAG_MODULE.HELP_BLOCK_PAGE_URL' | translate }}<br/>
                            <strong>${DOMAIN}</strong>: {{ 'AD_TAG_MODULE.HELP_BLOCK_DOMAIN' | translate }}<br/>
                            <strong>${DECLARED_DOMAIN}</strong>: {{ 'AD_TAG_MODULE.HELP_BLOCK_DECLARED_DOMAIN' | translate }}<br/>
                            <strong>${DETECTED_DOMAIN}</strong>: {{ 'AD_TAG_MODULE.HELP_BLOCK_DETECTED_DOMAIN' | translate }}<br/>
                            <strong>${SLOT_ID}</strong>: {{ 'AD_TAG_MODULE.HELP_BLOCK_SLOT_ID' | translate }}</span>
                        </div>
                    </div>
                </div>

                <div ng-if="adTag.libraryAdTag.adType == adTypes.inBanner">
                    <div class="form-group">
                        <label for="inputPlatform" class="col-sm-1 control-label">{{ 'AD_TAG_MODULE.PLATFORM' | translate }}</label>
                        <div class="col-sm-5">
                            <ui-select id="inputPlatform" ng-disabled="pickFromLibrary" ng-pattern="true" ng-model="adTag.libraryAdTag.inBannerDescriptor.platform" reset-search-input="'false'">
                                <ui-select-match placeholder="Select a platform">{{ $select.selected.label }}</ui-select-match>
                                <ui-select-choices repeat="platform.key as platform in platforms">
                                    {{ platform.label }}
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputTimeout" class="col-sm-1 control-label">{{ 'AD_TAG_MODULE.TIMEOUT' | translate }}</label>
                        <div class="col-sm-5">
                            <input name="timeout" ng-disabled="pickFromLibrary" ng-model="adTag.libraryAdTag.inBannerDescriptor.timeout" min="0" server-error type="number" class="form-control" id="inputTimeout" placeholder="{{ 'AD_TAG_MODULE.TIMEOUT' | translate }}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputPlayerWidth" class="col-sm-1 control-label">{{ 'AD_TAG_MODULE.PLAYER_WIDTH' | translate }}</label>
                        <div class="col-sm-5">
                            <input name="playerWidth" ng-disabled="pickFromLibrary" ng-model="adTag.libraryAdTag.inBannerDescriptor.playerWidth" min="0" server-error type="number" class="form-control" id="inputPlayerWidth" placeholder="{{ 'AD_TAG_MODULE.PLAYER_WIDTH' | translate }}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputPlayerHeight" class="col-sm-1 control-label">{{ 'AD_TAG_MODULE.PLAYER_HEIGHT' | translate }}</label>
                        <div class="col-sm-5">
                            <input name="playerHeight" ng-disabled="pickFromLibrary" ng-model="adTag.libraryAdTag.inBannerDescriptor.playerHeight" min="0" server-error type="number" class="form-control" id="inputPlayerHeight" placeholder="{{ 'AD_TAG_MODULE.PLAYER_HEIGHT' | translate }}">
                        </div>
                    </div>

                    <div class="vast">
                        <div class="form-group">
                            <label for="inputPlayerHeight" class="col-sm-1 control-label">{{ 'AD_TAG_MODULE.VAST_TAGS' | translate }}</label>
                            <div class="col-sm-5">
                                <button ng-disabled="pickFromLibrary" class="btn btn-success" type="button" ng-click="addVast()">
                                    <span class="glyphicon glyphicon-plus"></span>
                                    {{ 'AD_TAG_MODULE.ADD_VAST' | translate }}
                                </button>
                                <!--<label class="ui-checkbox enable-drag-drop-query-builder">-->
                                    <!--<input ng-disabled="pickFromLibrary" type="checkbox" ng-model="enableDragDrop" ng-click="enableDragDropVastTag(!enableDragDrop)">-->
                                    <!--<span>{{ 'AD_TAG_MODULE.ENABLE_DRAG_DROP' | translate }}</span>-->
                                <!--</label>-->

                                <div ui-sortable="sortableOptions" ng-model="adTag.libraryAdTag.inBannerDescriptor.vastTags" style="padding-top: 10px">
                                    <div class="moveable col-sm-12" ng-repeat="vastTag in adTag.libraryAdTag.inBannerDescriptor.vastTags">
                                        <div class="form-group">
                                            <div class="input-group" ng-if="adTag.libraryAdTag.inBannerDescriptor.vastTags.length > 1">
                                                <textarea ng-disabled="pickFromLibrary" name="vastTag" ng-model="vastTag.tag" type="url" server-error ng-required="true" class="form-control" placeholder="{{ 'AD_TAG_MODULE.PLACEHOLDER_TAG' | translate }}"></textarea>
                                                <span class="input-group-addon" ng-click="removeTag($index)"><i class="fa fa-remove"></i></span>
                                                <span class="input-group-addon button-move-vas-tag">
                                                    <button type="button" ng-click="moveVastTag(adTag.libraryAdTag.inBannerDescriptor.vastTags, $index, $index-1)" ng-disabled="$first" class="btn"><i class="glyphicon glyphicon-chevron-up"></i></button>
                                                    <button type="button" ng-click="moveVastTag(adTag.libraryAdTag.inBannerDescriptor.vastTags, $index, $index+1)" ng-disabled="$last" class="btn"><i class="glyphicon glyphicon-chevron-down"></i></button>
                                                </span>
                                            </div>
                                            <div ng-if="adTag.libraryAdTag.inBannerDescriptor.vastTags.length == 1">
                                                <textarea ng-disabled="pickFromLibrary" name="vastTag" ng-model="vastTag.tag" type="url" server-error ng-required="true" class="form-control" placeholder="{{ 'AD_TAG_MODULE.PLACEHOLDER_TAG' | translate }}"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group" ng-if="showInputPosition && !hasMultipleDeployAdSlot">
                    <label for="inputPosition" class="col-sm-1 control-label">{{ 'AD_TAG_MODULE.POSITION' | translate }}</label>
                    <div class="col-sm-5">
                        <input name="height" ng-model="adTag.position" server-error min="1" type="number" class="form-control" id="inputPosition" placeholder="{{ 'AD_TAG_MODULE.PLACEHOLDER_POSITION' | translate }}">
                    </div>
                </div>

                <div class="form-group" ng-if="showInputPosition && !!adTag.position && !hasMultipleDeployAdSlot">
                    <label for="inputAutoIncreasePosition" class="col-sm-1 control-label">{{ 'AD_TAG_MODULE.SHIFT_DOWN' | translate }}</label>
                    <div class="col-sm-5">
                        <label class="ui-checkbox">
                            <input name="active" type="checkbox" ng-model="adTag.autoIncreasePosition" server-error id="inputAutoIncreasePosition"><span></span>
                        </label>

                        <span class="help-block">{{ 'AD_TAG_MODULE.HELP_BLOCK_AUTO_POSITION' | translate }}</span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputRotation" class="col-sm-1 control-label">{{ 'AD_TAG_MODULE.ROTATION_WEIGHT' | translate }}</label>
                    <div class="col-sm-5">
                        <input name="height" ng-model="adTag.rotation" server-error min="1" type="number" class="form-control" id="inputRotation" placeholder="{{ 'AD_TAG_MODULE.ROTATION_WEIGHT' | translate }}">
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputFrequencyCap" class="col-sm-1 control-label">{{ 'AD_TAG_MODULE.FREQUENCY_CAP' | translate }}</label>
                    <div class="col-sm-5">
                        <input name="height" ng-model="adTag.frequencyCap" server-error min="1" type="number" class="form-control" id="inputFrequencyCap" placeholder="{{ 'AD_TAG_MODULE.FREQUENCY_CAP' | translate }}">
                        <span class="help-block">{{ 'AD_TAG_MODULE.HELP_BLOCK_FREQUENCY_CAP' | translate }}</span>
                    </div>
                </div>

                <!-- optional edit impression cap -->
                <div class="form-group">
                    <label for="inputImpressionCap" class="col-sm-1 control-label">{{ 'AD_NETWORK_MODULE.IMPRESSION_CAP' | translate }}</label>
                    <div class="col-sm-5">
                        <input server-error name="impressionCap" ng-model="adTag.impressionCap" min="1" type="number" class="form-control" id="inputImpressionCap" placeholder="{{ 'AD_NETWORK_MODULE.IMPRESSION_CAP' | translate }}">
                    </div>
                </div>

                <!-- optional edit network opportunity cap -->
                <div class="form-group">
                    <label for="inputNetworkOpportunityCap" class="col-sm-1 control-label">{{ 'AD_NETWORK_MODULE.NETWORK_OPPORTUNITY_CAP' | translate }}</label>
                    <div class="col-sm-5">
                        <input server-error name="networkOpportunityCap" ng-model="adTag.networkOpportunityCap" min="1" type="number" class="form-control" id="inputNetworkOpportunityCap" placeholder="{{ 'AD_NETWORK_MODULE.NETWORK_OPPORTUNITY_CAP' | translate }}">
                    </div>
                </div>

                <div class="form-group">
                    <label for="passback" class="col-sm-1 control-label">{{ 'AD_TAG_MODULE.PASSBACK' | translate }}</label>
                    <div class="col-sm-5">
                        <div>
                            <label class="ui-checkbox">
                                <input name="active" type="checkbox" ng-model="adTag.passback" server-error id="passback">
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-1 control-label">{{ 'AD_TAG_MODULE.TARGETING' | translate }}</label>
                    <div class="col-sm-10">
                        <div class="expressions-group">
                            <query-builder-group-for-ad-tag group="adTag.libraryAdTag.expressionDescriptor" domain-list="domainList" publisher="selected.publisher" disabled-directive="pickFromLibrary"></query-builder-group-for-ad-tag>

                            <div class="form-group expression-show">
                                <label class="ui-checkbox"><input server-error name="liveView" type="checkbox" ng-model="liveViewChecked"  value="checked" id="liveExpression"/><span>{{ 'QUERY_BUILDER.SHOW_GENERATED_EXPRESSION' | translate }}</span></label>
                                <div ng-if="liveViewChecked == true" class="callout-warning show-query-builder" ng-bind-html="builtVariable(adTag.libraryAdTag.expressionDescriptor)"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputActive" class="col-sm-1 control-label">{{ 'AD_TAG_MODULE.ACTIVE' | translate }}</label>
                    <div class="col-sm-5">
                        <div>
                            <label class="ui-checkbox">
                                <input name="active" type="checkbox" ng-model="adTag.active" server-error id="inputActive">
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-1 col-sm-5">
                        <button ng-disabled="!isFormValid()" ng-disabled="formProcessing" type="submit" class="btn btn-success">{{ 'SUBMIT' | translate }}</button>
                        <div ng-show="!isFormValid()" class="callout callout-info">
                            <p>{{ 'VALID_FORM' | translate }}</p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>