<div class="panel panel-default">
    <div class="panel-heading">
        <span class="glyphicon glyphicon-th"></span>
        <strong current-page-title></strong>

        <div class="button-bar hidden-xs">
            <button ui-sref="^.new({ adSlotId: adSlot.id })" class="btn btn-sm btn-primary" type="button">
                <span class="glyphicon glyphicon glyphicon-plus"></span>
                New Ad Tag
            </button>
            <button ui-sref="^.^.adSlot.list({ siteId: adSlot.site.id })" class="btn btn-sm btn-primary" type="button">
                <span class="glyphicon glyphicon glyphicon-arrow-left"></span>
                Back to List of Ad Slots
            </button>
        </div>
    </div>

    <search-box sb-list="adTags"></search-box>

    <div class="panel-body" ng-if="hasAdTags()">
        <table class="table ng-table-responsive" at-table at-paginated at-list="adTags" at-config="tableConfig">
            <thead></thead>
            <tbody ui-sortable="sortableOptions" >
            <tr class="item"  ng-class="{'moveable': !sortableOptions['disabled']}">
                <td at-title="#" at-implicit at-attribute="id" at-initial-sorting="asc"></td>
                <td at-title="Actions">
                    <div class="btn-group" dropdown>
                        <button type="button" class="btn " dropdown-toggle> Actions <span class="caret"></span> </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a ui-sref="^.edit({ id: item.id })">Edit Ad Tag</a></li>
                            <li><a ng-click="toggleAdTagStatus(item)">{{ item.active ? 'Pause' : 'Activate' }} Ad Tag</a></li>
                            <li><a ng-click="confirmDeletion(item, $index)">Delete Ad Tag</a></li>
                        </ul>
                    </div>
                </td>
                <td at-title="Ad Tag" at-implicit at-attribute="name"></td>
                <td at-title="Position" at-sortable at-attribute="position" at-initial-sorting="asc">
                    <span class="label label-default">{{ item.position }}</span>
                </td>
                <td at-title="Status" at-attribute="active">
                    <span class="label" ng-class="item.active ? 'label-success' : 'label-danger'">{{ item.active ? 'Active' : 'Paused' }}</span>
                </td>
            </tr>
            </tbody>
        </table>

        <at-pagination ng-if="showPagination()" at-list="adTags" at-config="tableConfig"></at-pagination>
    </div>
</div>