<div class="panel panel-default">
    <div class="panel-heading">
        <span class="glyphicon glyphicon-th"></span>
        <strong current-page-title></strong>

        <div class="button-bar hidden-xs">
            <button ui-sref="^.new({ adSlotId: adSlot.id })" class="btn btn-sm btn-primary" type="button">
                <span class="glyphicon glyphicon glyphicon-plus"></span>
                New Ad Tag
            </button>
            <button ui-sref="^.^.adSlot.list({ siteId: adSlot.site.id })" class="btn btn-sm btn-primary" type="button">
                <span class="glyphicon glyphicon glyphicon-arrow-left"></span>
                Back to List of Ad Slots
            </button>
        </div>
    </div>

    <div class="panel-body sortableAdTags" ng-if="hasAdTags()">
        <div class="row">
            <table ng-if="hasAdTags()" class="table">
                <thead>
                <tr>
                    <th class="col-lg-1">#</th>
                    <th class="col-lg-3">Actions</th>
                    <th class="col-lg-3">Name</th>
                    <!--<th class="col-lg-1">Position</th>-->
                    <th class="col-lg-2">Rotation Weight</th>
                    <!--<th class="col-lg-2">Frequency Cap</th>-->
                    <th class="col-lg-1">Status</th>
                </tr>
                </thead>
            </table>

            <div ui-sortable="sortableGroupOptions" ng-model="adTagsGroup">
                <div ng-repeat="adTags in adTagsGroup" ng-class="{'moveable': !sortableGroupOptions['disabled']}">
                    <div class="position" ng-if="adTags.length"><strong>Position : {{ adTags[0].position }}</strong></div>

                    <table ng-if="hasAdTags()" class="table">
                        <tbody class="itemAdTag" ui-sortable="sortableItemOption" ng-model="adTags">
                        <tr class="item" ng-repeat="adTag in adTags">
                            <td class="col-lg-1">{{ adTag.id }}</td>
                            <td class="col-lg-3">
                                <div class="btn-group" dropdown on-toggle="actionDropdownToggled(open)">
                                    <button type="button" class="btn " dropdown-toggle> Actions <span class="caret"></span> </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a ui-sref="^.edit({ id: adTag.id })">Edit Ad Tag</a></li>
                                        <li><a ng-click="toggleAdTagStatus(adTag)">{{ adTag.active ? 'Pause' : 'Activate' }} Ad Tag</a></li>
                                        <li><a ng-click="confirmDeletion(adTag, $index)">Delete Ad Tag</a></li>
                                        <li ng-if="adTags.length > 1" class="divider"></li>
                                        <li ng-if="adTags.length > 1"><a ng-click="splitFromGroup(adTags, adTag)">Split Group</a></li>
                                    </ul>
                                </div>
                            </td>
                            <td class="col-lg-3" e-form="nameForm" ng-dblclick="nameForm.$show()" buttons="no" oncancel="updateAdTag($data, 'name', adTag)" editable-text="adTag.name">{{ adTag.name }}</td>
                            <!--<td class="col-lg-1" e-form="positionForm" ng-dblclick="positionForm.$show()" buttons="no" oncancel="updateAdTag($data, 'position', adTag)" editable-number="adTag.position"><span class="label label-default">{{ adTag.position }}</span></td>-->
                            <td class="col-lg-2" e-form="rotationForm" ng-dblclick="rotationForm.$show()" buttons="no" oncancel="updateAdTag($data, 'rotation', adTag)" editable-number="adTag.rotation">{{ adTag.rotation }}</td>
                            <!--<td class="col-lg-2" e-form="frequencyCapForm" ng-dblclick="frequencyCapForm.$show()" buttons="no" oncancel="updateAdTag($data, 'frequencyCap', adTag)" editable-number="adTag.frequencyCap">{{ adTag.frequencyCap }}</td>-->
                            <td class="col-lg-1"><span class="label" ng-class="adTag.active ? 'label-success' : 'label-danger'">{{ adTag.active ? 'Active' : 'Paused' }}</span></td>
                        </tr>
                        </tbody>
                    </table>

                </div>

            </div>
        </div>
    </div>

    <div class="callout callout-info ad-tag-drag-help">
        <p>You can drag and drop to re-order your ad tags.</p>
        <p>To move all ad tags from one position group to another, click and drag the gray position header bar up and down.</p>
        <p>To move a single ad tag to another position, click and drag on that ad tag only.</p>
        <p>To quickly remove an ad tag from a position group, click on Actions > Split Group.</p>
    </div>

</div>