<div class="panel panel-default">
    <div class="panel-heading">
        <span class="glyphicon glyphicon-th"></span>
        <strong current-page-title></strong>

        <div class="button-bar">
            <label class="ui-checkbox">
                <input type="checkbox" ng-checked="enableDragDrop" ng-disabled="isSubPublisher()" ng-click="enableDragDropAdTag(enableDragDrop)">
                <span>{{ 'AD_TAG_MODULE.ENABLE_DRAG_DROP' | translate }}</span>
            </label>
            <button ng-if="!!adSlot.libType && !isSubPublisher()" ui-sref="^.newForAdSlot({ adSlotId: adSlot.id })" class="btn btn-sm btn-primary" type="button">
                <span class="glyphicon glyphicon-plus"></span>
                {{ 'AD_TAG_MODULE.NEW_AD_TAG' | translate }}
            </button>
            <button ng-if="!adSlot.libType && !isSubPublisher()" ui-sref="^.new({ adSlotId: adSlot.id })" class="btn btn-sm btn-primary" type="button">
                <span class="glyphicon glyphicon-plus"></span>
                {{ 'AD_TAG_MODULE.NEW_AD_TAG' | translate }}
            </button>
            <button ng-click="backToListAdSlot()" class="btn btn-sm btn-primary" type="button">
                <span class="glyphicon glyphicon-arrow-left"></span>
                {{ 'AD_SLOT_MODULE.BACK_TO_AD_SLOT_LIST' | translate }}
            </button>
        </div>
        <div class="btn-group btnGrouped" dropdown>
            <button type="button" class="btn " dropdown-toggle><span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span></button>
            <ul class="dropdown-menu pull-right" role="menu">
                <li><a ng-click="enableDragDropAdTag(enableDragDrop)"><span class="fa" ng-class="enableDragDrop ? 'fa-check-square' : 'fa-square'"></span> {{ 'AD_TAG_MODULE.ENABLE_DRAG_DROP' | translate }}</a></li>
                <li ng-if="!!adSlot.libType && !isSubPublisher()"><a ui-sref="^.newForAdSlot({ adSlotId: adSlot.id, adSlotType: adSlotType })"> {{ 'AD_TAG_MODULE.NEW_AD_TAG' | translate }}</a></li>
                <li ng-if="!adSlot.libType && !isSubPublisher()"><a ui-sref="^.new({ adSlotId: adSlot.id })">{{ 'AD_TAG_MODULE.NEW_AD_TAG' | translate }}</a></li>
                <li><a ng-click="backToListAdSlot()">{{ 'AD_SLOT_MODULE.BACK_TO_AD_SLOT_LIST' | translate }}</a></li>
            </ul>
        </div>

    </div>

    <div class="panel-body sortableAdTags" ng-if="hasAdTags()">
        <div class="row">
            <ul class="header-list-ad-tag item">
                <li class="col-md-1">#</li>
                <li class="col-md-2">{{ 'ACTIONS' | translate }}</li>
                <li class="col-md-3">{{ 'NAME' | translate }}</li>
                <li class="col-md-2">{{ 'AD_TAG_MODULE.ROTATION_WEIGHT' | translate }}</li>
                <li class="col-md-2">{{ 'AD_TAG_MODULE.FREQUENCY_CAP' | translate }}</li>
                <li class="col-md-2">{{ 'AD_TAG_MODULE.STATUS' | translate }}</li>
            </ul>
            <ul ui-sortable="sortableGroupOptions" ng-model="adTagsGroup">
                <li class="group-ad-tag" ng-repeat="adTags in adTagsGroup" ng-class="{'moveable': !sortableGroupOptions['disabled']}">
                    <div class="position" ng-if="adTags.length"><strong>Position : {{ adTags[0].position }}</strong></div>
                    <ul class="itemAdTag" ui-sortable="sortableItemOption" ng-model="adTags">
                        <li class="item" ng-repeat="adTag in adTags">
                            <div class="col-md-1">{{ adTag.id }}</div>
                            <div class="col-md-2">
                                <div class="btn-group" dropdown on-toggle="actionDropdownToggled(open)">
                                    <button type="button" class="btn " dropdown-toggle> {{ 'ACTIONS' | translate }} <span class="caret"></span> </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li ng-if="!adSlot.libType && !isSubPublisher()"><a ui-sref="^.edit({ id: adTag.id })">{{ 'AD_TAG_MODULE.EDIT_AD_TAG' | translate }}</a></li>
                                        <li ng-if="!!adSlot.libType && !isSubPublisher()"><a ui-sref="^.editForAdSlot({ id: adTag.id })">{{ 'AD_TAG_MODULE.EDIT_AD_TAG' | translate }}</a></li>
                                        <li ng-if="!isSubPublisher()"><a ng-click="toggleAdTagStatus(adTag)">{{ adTag.active ? ('AD_TAG_MODULE.PAUSE_AD_TAG' | translate) : ('AD_TAG_MODULE.ACTIVATE_AD_TAG' | translate) }}</a></li>
                                        <li ng-if="!isSubPublisher()"><a ng-click="confirmDeletion(adTag)">{{ 'AD_TAG_MODULE.DELETE_AD_TAG' | translate }}</a></li>
                                        <li ng-if="!isSubPublisher() && (!adTag.libraryAdTag.visible || (adTag.libraryAdTag.visible && !adSlot.libraryAdSlot.visible))" class="divider"></li>
                                        <li ng-if="!adTag.libraryAdTag.visible && !isSubPublisher()" ng-click="shareAdTag(adTag)"><a>{{ 'AD_TAG_MODULE.MOVE_TO_LIBRARY' | translate }}</a></li>
                                        <li ng-if="adTag.libraryAdTag.visible && !adSlot.libraryAdSlot.visible && !isSubPublisher()" ng-click="unLinkAdTag(adTag)"><a>{{ 'AD_TAG_MODULE.UNLINK' | translate }}</a></li>
                                        <!--<li ng-if="adTag.libraryAdTag.visible && !isSubPublisher()"><a  ui-sref="^.^.^.tagLibrary.adTag.edit({ id: adTag.libraryAdTag.id})">{{ 'AD_TAG_MODULE.EDIT_AD_TAG_IN_LIBRARY' | translate }}</a></li>-->
                                        <li ng-if="adTags.length > 1 && !isSubPublisher()" class="divider"></li>
                                        <li ng-if="adTags.length > 1 && !isSubPublisher()"><a ng-click="splitFromGroup(adTags, adTag)">{{ 'AD_TAG_MODULE.SPLIT_GROUP' | translate }}</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div>{{ adTag.libraryAdTag.name }} <span ng-if="adTag.libraryAdTag.visible" class="glyphicon glyphicon-link"></span></div>
                            </div>
                            <div class="col-md-2" ng-dblclick="rotationForm.$show()">
                                <div ng-show="!isSubPublisher()">
                                    <span class="fa fa-pencil" ng-hide="rotationForm.$visible"></span>
                                    <div e-form="rotationForm" buttons="no" oncancel="updateAdTag($data, 'rotation', adTag)" onbeforesave="updateAdTag($data, 'rotation', adTag)" editable-number="adTag.rotation">{{ adTag.rotation }}</div>
                                </div>
                                <div ng-show="isSubPublisher()">{{ adTag.rotation }}</div>
                            </div>
                            <div class="col-md-2" ng-dblclick="frequencyCapForm.$show()">
                                <div ng-show="!isSubPublisher()">
                                    <span class="fa fa-pencil" ng-hide="frequencyCapForm.$visible"></span>
                                    <div e-form="frequencyCapForm" buttons="no" oncancel="updateAdTag($data, 'frequencyCap', adTag)" onbeforesave="updateAdTag($data, 'frequencyCap', adTag)" editable-number="adTag.frequencyCap">{{ adTag.frequencyCap }}</div>
                                </div>
                                <div ng-show="isSubPublisher()">{{ adTag.frequencyCap }}</div>
                            </div>
                            <div class="col-md-2"><span class="label" ng-class="adTag.active == 1 ? 'label-success' : (adTag.active == -1 ? 'label-warning' : 'label-danger')">{{ adTag.active == 1 ? 'Active' : (adTag.active == -1 ? 'Auto Paused' : 'Paused') }}</span></div>
                        </li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>

    <div class="callout callout-info ad-tag-drag-help" ng-if="hasAdTags()">
        <p>{{ 'AD_TAG_MODULE.GUIDE_DRAG_DROP_TITLE' | translate }}</p>
        <p>{{ 'AD_TAG_MODULE.GUIDE_DRAG_DROP_GROUP_AD_TAG' | translate }}</p>
        <p>{{ 'AD_TAG_MODULE.GUIDE_DRAG_DROP_AD_TAG' | translate }}</p>
        <p>{{ 'AD_TAG_MODULE.GUIDE_SPLIT_GROUP' | translate }}</p>
    </div>

</div>