<div class="panel panel-default">
    <div class="panel-heading">
        <span class="glyphicon glyphicon-th"></span>
        <strong current-page-title></strong>
        <div class="button-bar hidden-xs">
            <button ng-click="backToListAdNetwork()" class="btn btn-sm btn-primary" type="button">
                <span class="glyphicon glyphicon-arrow-left"></span>
                {{ 'AD_NETWORK_MODULE.BACK_TO_AD_NETWORK_LIST' | translate }}
            </button>
        </div>
        <div class="btn-group btnGrouped" dropdown>
            <button type="button" class="btn " dropdown-toggle><span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span></button>
            <ul class="dropdown-menu pull-right" role="menu">
                <li><a ng-click="backToListAdNetwork()">{{ 'AD_NETWORK_MODULE.BACK_TO_AD_NETWORK_LIST' | translate }}</a></li>
            </ul>
        </div>

    </div>

    <search-box show-query="true" sb-list="adTags" search-fields="['id', 'libraryAdTag.name', 'rotation', 'frequencyCap', 'adSlot.name', 'adSlot.site.name']"></search-box>
    <div class="panel-body" ng-if="hasAdTags()">
        <div class="table-responsive">
            <table class="table" at-sortable-query at-table at-paginated at-list="adTags" at-config="tableConfig">
                <thead></thead>
                <tbody>
                <tr>
                    <td at-title="#" at-implicit at-sortable at-attribute="id"></td>
                    <td at-title="{{ 'ACTIONS' | translate }}" at-attribute="action">
                        <div class="btn-group" dropdown>
                            <button type="button" class="btn " dropdown-toggle> {{ 'ACTIONS' | translate }} <span class="caret"></span> </button>
                            <ul class="dropdown-menu" role="menu">
                                <li  ng-if="!isSubPublisher()"><a ui-sref="^.edit({ id: item.id, adNetworkId: adNetwork.id})">{{ 'AD_TAG_MODULE.EDIT_AD_TAG' | translate }}</a></li>
                                <li  ng-if="!isSubPublisher()"><a ng-click="toggleAdTagStatus(item)">{{ item.active ? ('AD_TAG_MODULE.PAUSE_AD_TAG' | translate) : ('AD_TAG_MODULE.ACTIVATE_AD_TAG' | translate) }}</a></li>
                                <li  ng-if="!isSubPublisher()"><a ng-click="confirmDeletion(item)">{{ 'AD_TAG_MODULE.DELETE_AD_TAG' | translate }}</a></li>
                                <li  ng-if="!item.libraryAdTag.visible && !isSubPublisher()" class="divider"></li>
                                <li  ng-if="!item.libraryAdTag.visible && !isSubPublisher()" ng-click="shareAdTag(item)"><a>{{ 'AD_TAG_MODULE.MOVE_TO_LIBRARY' | translate }}</a></li>
                                <!--<li ng-if="item.libraryAdTag.visible && !isSubPublisher()"><a  ui-sref="^.^.^.tagLibrary.adTag.edit({ id: item.libraryAdTag.id})">{{ 'AD_TAG_MODULE.EDIT_AD_TAG_IN_LIBRARY' | translate }}</a></li>-->
                            </ul>
                        </div>
                    </td>
                    <td at-title="{{ 'NAME' | translate }}" at-sortable at-attribute="libraryAdTag.name" at-initial-sorting="asc">
                        {{ item.libraryAdTag.name }}  <span ng-if="item.libraryAdTag.visible" class="glyphicon glyphicon-link"></span>
                    </td>
                    <td at-title="{{ 'AD_TAG_MODULE.ROTATION_WEIGHT' | translate }}" ng-dblclick="rotationForm.$show()" at-sortable at-attribute="rotation">
                        <div ng-show="!isSubPublisher()">
                            <span class="fa fa-pencil" ng-hide="rotationForm.$visible"></span>
                            <div e-form="rotationForm" buttons="no" oncancel="updateAdTag($data, 'rotation', item)" onbeforesave="updateAdTag($data, 'rotation', item)" editable-number="item.rotation">{{ item.rotation }}</div>
                        </div>
                        <div ng-show="isSubPublisher()">{{ item.rotation }}</div>
                    </td>
                    <td at-title="{{ 'AD_TAG_MODULE.FREQUENCY_CAP' | translate }}" ng-dblclick="frequencyCapForm.$show()" at-sortable at-attribute="frequencyCap">
                        <div ng-show="!isSubPublisher()">
                            <span class="fa fa-pencil" ng-hide="frequencyCapForm.$visible"></span>
                            <div e-form="frequencyCapForm" buttons="no" oncancel="updateAdTag($data, 'frequencyCap', item)" onbeforesave="updateAdTag($data, 'frequencyCap', item)" editable-number="item.frequencyCap">{{ item.frequencyCap }}</div>
                        </div>
                        <div ng-show="isSubPublisher()">{{ item.frequencyCap }}</div>
                    </td>
                    <td at-title="{{ 'AD_SLOT' | translate }}" at-implicit at-sortable at-attribute="adSlot.libraryAdSlot.name"></td>
                    <td at-title="{{ 'SITE' | translate }}" at-implicit at-sortable at-attribute="adSlot.site.name" ></td>
                    <td at-title="{{ 'AD_TAG_MODULE.STATUS' | translate }}" at-attribute="active" at-sortable>
                        <span class="label" ng-class="item.active == 1 ? 'label-success' : (item.active == -1 ? 'label-warning' : 'label-danger')">{{ item.active == 1 ? 'Active' : (item.active == -1 ? 'Auto Paused' : 'Paused') }}</span>
                    </td>
                </tr>
                </tbody>
            </table>

            <at-pagination at-pagination-query ng-if="showPagination()" at-list="adTags" at-config="tableConfig"></at-pagination>
        </div>
    </div>
</div>