<div class="panel panel-default">
    <div class="panel-heading">
        <span class="glyphicon glyphicon-th"></span>
        <strong current-page-title></strong>

        <div class="button-bar">
            <button ng-if="!!adSlot.libType" ui-sref="^.newForAdSlot({ adSlotId: adSlot.id })" class="btn btn-sm btn-primary" type="button">
                <span class="glyphicon glyphicon-plus"></span>
                {{ 'AD_TAG_MODULE.NEW_AD_TAG' | translate }}
            </button>
            <button ng-if="!adSlot.libType" ui-sref="^.nativeNew({ adSlotId: adSlot.id })" class="btn btn-sm btn-primary" type="button">
                <span class="glyphicon glyphicon-plus"></span>
                {{ 'AD_TAG_MODULE.NEW_AD_TAG' | translate }}
            </button>
            <button ng-click="backToListAdSlot()" class="btn btn-sm btn-primary" type="button">
                <span class="glyphicon glyphicon-arrow-left"></span>
                {{ 'AD_SLOT_MODULE.BACK_TO_AD_SLOT_LIST' | translate }}
            </button>
        </div>
        <div class="btn-group btnGrouped" dropdown>
            <button type="button" class="btn " dropdown-toggle><span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span></button>
            <ul class="dropdown-menu pull-right" role="menu">
                <li ng-if="!!adSlot.libType"><a ui-sref="^.newForAdSlot({ adSlotId: adSlot.id, adSlotType: adSlotType })"> {{ 'AD_TAG_MODULE.NEW_AD_TAG' | translate }}</a></li>
                <li ng-if="!adSlot.libType"><a ui-sref="^.nativeNew({ adSlotId: adSlot.id })"> {{ 'AD_TAG_MODULE.NEW_AD_TAG' | translate }}</a></li>
                <li><a ng-click="backToListAdSlot()">  {{ 'AD_SLOT_MODULE.BACK_TO_AD_SLOT_LIST' | translate }}</a></li>
            </ul>
        </div>
    </div>

    <div class="panel-body" ng-if="hasAdTags()">
        <div class="table-responsive">
            <table class="table" at-sortable-query at-table at-paginated at-list="adTags" at-config="tableConfig">
                <thead></thead>
                <tbody>
                <tr>
                    <td at-title="#" at-implicit at-attribute="id" at-initial-sorting="desc"></td>
                    <td at-title="{{ 'ACTIONS' | translate }}" at-attribute="action">
                        <div class="btn-group" dropdown>
                            <button type="button" class="btn " dropdown-toggle> {{ 'ACTIONS' | translate }} <span class="caret"></span> </button>
                            <ul class="dropdown-menu" role="menu">
                                <li ng-if="!adSlot.libType && !isSubPublisher()"><a ui-sref="^.edit({ id: item.id })">{{ 'AD_TAG_MODULE.EDIT_AD_TAG' | translate }}</a></li>
                                <li ng-if="!!adSlot.libType && !isSubPublisher()"><a ui-sref="^.editForAdSlot({ id: item.id })">{{ 'AD_TAG_MODULE.EDIT_AD_TAG' | translate }}</a></li>
                                <li ng-if="!isSubPublisher()"><a ng-click="toggleAdTagStatus(item)">{{ item.active ? ('AD_TAG_MODULE.PAUSE_AD_TAG' | translate) : ('AD_TAG_MODULE.ACTIVATE_AD_TAG' | translate) }}</a></li>
                                <li ng-if="!isSubPublisher()"><a ng-click="confirmDeletion(item)">{{ 'AD_TAG_MODULE.DELETE_AD_TAG' | translate }}</a></li>
                                <li ng-if="!isSubPublisher()" class="divider"></li>
                                <li ng-if="!item.libraryAdTag.visible && !isSubPublisher()" ng-click="shareAdTag(item)"><a>{{ 'AD_TAG_MODULE.MOVE_TO_LIBRARY' | translate }}</a></li>
                                <li ng-if="item.libraryAdTag.visible && !isSubPublisher()"><a  ui-sref="^.^.^.tagLibrary.adTag.edit({ id: item.libraryAdTag.id})">{{ 'AD_TAG_MODULE.EDIT_AD_TAG_IN_LIBRARY' | translate }}</a></li>
                            </ul>
                        </div>
                    </td>
                    <td at-implicit at-title="{{ 'NAME' | translate }}" at-attribute="libraryAdTag.name"></td>
                    <td at-title="{{ 'AD_TAG_MODULE.ROTATION_WEIGHT' | translate }}" ng-dblclick="rotationForm.$show()" at-attribute="rotation">
                        <span ng-if="!isSubPublisher()" class="fa fa-pencil" ng-hide="rotationForm.$visible"></span>
                        <div ng-if="!isSubPublisher()" e-form="rotationForm" buttons="no" oncancel="updateAdTag($data, 'rotation', item)" onbeforesave="updateAdTag($data, 'rotation', item)" editable-number="item.rotation">{{ item.rotation }}</div>
                        <div ng-if="isSubPublisher()">{{ item.rotation }}</div>
                    </td>
                    <td at-title="{{ 'AD_TAG_MODULE.FREQUENCY_CAP' | translate }}" ng-dblclick="frequencyCapForm.$show()" at-attribute="frequencyCap">
                        <span ng-if="!isSubPublisher()" class="fa fa-pencil" ng-hide="frequencyCapForm.$visible"></span>
                        <div ng-if="!isSubPublisher()" e-form="frequencyCapForm" buttons="no" oncancel="updateAdTag($data, 'frequencyCap', item)" onbeforesave="updateAdTag($data, 'frequencyCap', item)" editable-number="item.frequencyCap">{{ item.frequencyCap }}</div>
                        <div ng-if="isSubPublisher()">{{ item.frequencyCap }}</div>
                    </td>
                    <td at-title="{{ 'AD_TAG_MODULE.STATUS' | translate }}" at-attribute="active">
                        <span class="label" ng-class="item.active ? 'label-success' : 'label-danger'">{{ item.active ? 'Active' : 'Paused' }}</span>
                    </td>
                </tr>
                </tbody>
            </table>

            <at-pagination ng-if="showPagination()" at-list="adTags" at-config="tableConfig"></at-pagination>
        </div>
    </div>
</div>