<div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()">×</button>
    <form class="form-inline">
        <h4  class="form-group"> {{ isBlackList ? ('AD_SOURCE_MODULE.VIEW_BLACK_LIST' | translate) : ('AD_SOURCE_MODULE.VIEW_WHITE_LIST' | translate) }} </h4>

        <search-box style ='padding: 60px' show-query="true" sb-list="domainList" search-fields="['id', 'name']"> </search-box>
    </form>

</div>
<div class="modal-body">
    <!--<search-box show-query="true" sb-list="domainList" search-fields="['id', 'name', 'domains', 'publisher.company', 'publisher.username']"></search-box>-->

    <div class="table-responsive">
        <table class="table" at-table at-paginated at-list="domainList" at-config="tableConfig">
            <thead>
            <tr>
                <th ng-show="isAdmin" at-attribute="publisher.company" >{{ 'PUBLISHER' | translate }}</th>
                <th ng-show="isBlackList" at-attribute="builtin" >{{ 'DOMAIN_LIST_MODULE.BUILTIN' | translate }}</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td at-title="#" at-implicit at-sortable at-attribute="id"></td>
                <td at-title="{{ 'ACTIONS' | translate }}">
                    <div class="btn-group" dropdown>
                        <button type="button" ng-disabled="item.builtin" class="btn " dropdown-toggle> {{ 'ACTIONS' | translate }} <span class="caret"></span> </button>
                        <ul class="dropdown-menu pull-right-dropdown" role="menu">
                            <li ng-click="viewDomains(item)"><a>{{ 'DOMAIN_LIST_MODULE.VIEW_DOMAINS' | translate }}</a></li>
                            <li class="divider"></li>
                            <li ng-if="!isSubPublisher() && isBlackList" ng-click="editQuicklyBlackLink(item)"><a>{{ 'DOMAIN_LIST_MODULE.EDIT_BLACK_LIST' | translate }}</a></li>
                            <li ng-if="!isSubPublisher() && !isBlackList" ng-click="editQuicklyWhiteLink(item)"><a>{{ 'DOMAIN_LIST_MODULE.EDIT_WHITE_LIST' | translate }}</a></li>

                            <li ng-if="!isSubPublisher()"><a ng-click="confirmDeletion(item, $index)">{{ isBlackList ? ('DOMAIN_LIST_MODULE.DELETE_BLACK_LIST' | translate) : ('DOMAIN_LIST_MODULE.DELETE_WHITE_LIST' | translate) }}</a></li>
                        </ul>
                    </div>
                </td>
                <td at-implicit at-sortable at-attribute="name" at-initial-sorting="asc" at-title="{{ 'NAME' | translate }}"></td>
                <td ng-show="isAdmin" at-implicit at-sortable at-attribute="publisher.company" at-title="{{ 'PUBLISHER' | translate }}"></td>
                <td ng-show="isBlackList" at-title="{{ 'DOMAIN_LIST_MODULE.BUILTIN' | translate }}" at-sortable at-attribute="builtin">
                    <i class="fa" ng-class="item.builtin? 'fa-check-square' : 'fa-square'"></i>
                </td>
            </tr>
            </tbody>
        </table>

        <at-pagination ng-if="showPagination()" at-list="domainList" at-config="tableConfig"></at-pagination>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="$close()">{{ 'CLOSE' | translate }}</button>
</div>