<button ng-disabled="disabledDirective" class="btn btn-success" type="button" ng-click="addExpression()">
    <span class="glyphicon glyphicon-plus"></span>
    {{ 'QUERY_BUILDER.ADD_EXPRESSION' | translate }}
</button>
<label class="ui-checkbox enable-drag-drop-query-builder">
    <input type="checkbox" ng-disabled="disabledDirective" ng-model="enableDragDrop" ng-click="enableDragDropQueryBuilder(!enableDragDrop)">
    <span>{{ 'QUERY_BUILDER.ENABLE_DRAG_DROP' | translate }}</span>
</label>

<div ui-sortable="sortableOptions" ng-model="expressions">
    <div class="expressions-group moveable" ng-repeat="expressionRoot in expressions">
        <div class="form-group expect-adSlot">
            <label for="inputExpectAdSlot">{{ 'AD_SLOT' | translate }}</label>
            <ui-select id="inputExpectAdSlot" ng-model="expressionRoot.expectLibraryAdSlot" on-select="selectExpectAdSlot($item, expressionRoot, $index)" ng-disabled="disabledDirective" ng-required="true" server-error reset-search-input="'false'">
                <ui-select-match placeholder="{{ 'AD_SLOT_MODULE.SELECT_A_AD_SLOT' | translate }}">{{ $select.selected.name }} {{ $select.selected.id ? '(ID: ' + $select.selected.id + ')' : '' }}</ui-select-match>
                <ui-select-choices repeat="adSlot.id as adSlot in adSlots | filter:$select.search | filter:filterEntityType:adSlot">
                    {{ adSlot.name }} {{ adSlot.id ? '(ID: ' + adSlot.id + ')' : '' }}
                </ui-select-choices>
            </ui-select>
        </div>

        <div class="form-group expect-adSlot" ng-if="!hideStartingPositionAdTag[$index] && !!expressionRoot.expectLibraryAdSlot">
            <label for="inputStartingPosition">{{ 'QUERY_BUILDER.STARTING_POSITION' | translate }}</label>
            <ui-select id="inputStartingPosition" ng-model="expressionRoot.startingPosition" ng-disabled="disabledDirective" ng-init="selectExpectAdSlot(expressionRoot.expectLibraryAdSlot, null, $index)" server-error reset-search-input="'false'">
                <ui-select-match placeholder="{{ 'QUERY_BUILDER.SELECT_A_POSITION' | translate }}">{{ !!$select.selected[0].position ? formatPositionLabel($select.selected) : ''}}</ui-select-match>
                <ui-select-choices repeat="adTags[0].position as adTags in groups[expressionRoot.expectLibraryAdSlot.id || expressionRoot.expectLibraryAdSlot]">
                    {{ formatPositionLabel(adTags) }}
                </ui-select-choices>
            </ui-select>

            <span class="help-block">{{ 'QUERY_BUILDER.HELP_BLOCK_STARTING_POSITION' | translate }}</span>
        </div>


        <!--<span class="help-block">Select Group if you have compound conditions with AND/OR. Otherwise select Condition.</span>-->
        <label class="expression-label">{{ 'QUERY_BUILDER.EXPRESSION' | translate }}</label>
        <query-builder-group group="expressionRoot.expressionDescriptor" groups="expressions" index="$index" tags="tags" disabled-directive="disabledDirective"></query-builder-group>

        <div class="form-group expression-show">
            <label class="ui-checkbox"><input server-error name="liveView" type="checkbox" ng-model="liveViewChecked"  value="checked" id="liveExpression"/><span>{{ 'QUERY_BUILDER.SHOW_GENERATED_EXPRESSION' | translate }}</span></label>
            <div ng-if="liveViewChecked == true" class="callout-warning show-query-builder" ng-bind-html="builtVariable(expressionRoot.expressionDescriptor)"></div>
        </div>
    </div>
</div>