<div class="expressions-group">
    <div class="form-inline add-group-bar">
        <select ng-disabled="disabledDirective" class="form-control operators" ng-model="group[groupType]" ng-options="operator as operator for operator in operators"></select>
        <button ng-disabled="disabledDirective" class="btn btn-success" type="button" ng-click="addCondition()"><span class="glyphicon glyphicon-plus"></span> {{ 'QUERY_BUILDER.ADD_CONDITION' | translate }}</button>
        <button ng-disabled="disabledDirective" class="btn btn-success" type="button" ng-click="addGroup()"><span class="glyphicon glyphicon-plus"></span> {{ 'QUERY_BUILDER.ADD_GROUP' | translate }}</button>
        <button ng-disabled="disabledDirective" class="btn btn-danger" ng-if="index" type="button" ng-click="removeGroup()"><span class="glyphicon glyphicon-minus"></span></button>
    </div>

    <div ng-repeat="itemGroup in group[groupKey]">
        <div ng-if="isGroup(itemGroup)">
            <query-builder-group group="itemGroup" blacklists="blacklists" whitelists="whitelists" publisher="publisher" index="$index" groups="group[groupKey]" expect-ad-slot="expectAdSlot" is-library="isLibrary" tags="tags" disabled-directive="disabledDirective"></query-builder-group>
        </div>

        <div class="form-inline condition" ng-if="!isGroup(itemGroup)">
            <div class="form-group select-data-type">
                <ui-select ng-disabled="disabledDirective" ng-model="itemGroup.customVar" ng-required="true" on-select="changeVarName(itemGroup, $index)" close-on-select="false" server-error reset-search-input="'false'">
                    <ui-select-match placeholder="Select a variable">{{ $select.selected.label }}</ui-select-match>
                    <ui-select-choices group-by="groupEntities" repeat="tag.key as tag in variableForAdTags | filter:$select.search">
                        {{ tag.label }}
                    </ui-select-choices>
                </ui-select>
            </div>

            <div class="form-group" ng-if="itemGroup.customVar == 'CUSTOM'">
                <input ng-disabled="disabledDirective" server-error ng-required="true" type="text" class="form-control" ng-minlength="1" pattern="^[a-zA-Z_\x7f-\xff][a-zA-Z0-9_\x7f-\xff]*$" required ng-model="itemGroup.var" placeholder="JS variable name">
            </div>

            <div class="form-group select-data-type" ng-if="getDataTypeList(itemGroup).length > 1 && !!itemGroup.customVar">
                <ui-select ng-model="itemGroup.type" ng-required="true" server-error on-select="selectType(itemGroup)" reset-search-input="'false'" ng-disabled="disabledDirective">
                    <ui-select-match placeholder="Select data type">{{ $select.selected.label }}</ui-select-match>
                    <ui-select-choices repeat="dataType.key as dataType in getDataTypeList(itemGroup)">
                        {{ dataType.label }}
                    </ui-select-choices>
                </ui-select>
            </div>

            <select ng-if="!!itemGroup.customVar" ng-disabled="disabledDirective" class="form-control" ng-change="selectCondition(itemGroup)" ng-model="itemGroup.cmp" ng-options="condition.key as condition.label for condition in changeCondition(itemGroup)"></select>

            <div class="form-group" ng-if="!!itemGroup.customVar && itemGroup.type != dataTypes[2].key && itemGroup.customVar != '${COUNTRY}' && itemGroup.customVar != '${DEVICE}' && itemGroup.customVar != '${DOMAIN}'">
                <input ng-disabled="disabledDirective" server-error ng-required="valIsNull(itemGroup.cmp)" type="text" class="form-control" ng-minlength="1" pattern="{{ itemGroup.type == dataTypes[1].key ? '\\d*' : '[a-zA-Z0-9?=/&\\-_$.,;:@?+!*()#\\[\\]\']+$'}}" required ng-model="itemGroup.val" ng-init="itemGroup.val == null ? itemGroup.val = '' : itemGroup.val " placeholder="Value">
            </div>

            <div class="form-group" ng-if="!!itemGroup.customVar && itemGroup.type == dataTypes[2].key && itemGroup.customVar != '${COUNTRY}' && itemGroup.customVar != '${DEVICE}' && itemGroup.customVar != '${DOMAIN}'">
                <select ng-disabled="disabledDirective" class="form-control" ng-options="value for value in values" ng-model="itemGroup.val" ng-init="values = ['true', 'false']; itemGroup.val == null ? itemGroup.val = 'true' : '' "></select>
            </div>

            <div class="form-group select-county" ng-if="!!itemGroup.customVar && itemGroup.customVar == '${COUNTRY}'">
                <ui-select multiple ng-model="itemGroup.val" ng-required="true" close-on-select="false" on-select="$item.search = $select.search; $select.search = '';" server-error reset-search-input="'false'" ng-disabled="disabledDirective" style="min-width: 180px;">
                    <ui-select-match placeholder="Select a country">{{ $item.name }}</ui-select-match>
                    <ui-select-choices group-by="groupEntities" repeat="country.code as country in countries | filter:$select.search">
                        {{ country.name }}
                    </ui-select-choices>
                </ui-select>
            </div>

            <div class="form-group select-county" ng-if="!!itemGroup.customVar && itemGroup.customVar == '${DEVICE}'">
                <ui-select multiple ng-model="itemGroup.val" ng-required="true" close-on-select="false" server-error reset-search-input="'false'" ng-disabled="disabledDirective" style="min-width: 180px;">
                    <ui-select-match placeholder="Select a device">{{ $item.name }}</ui-select-match>
                    <ui-select-choices group-by="groupEntities" repeat="device.code as device in devices | filter:$select.search">
                        {{ device.name }}
                    </ui-select-choices>
                </ui-select>
            </div>

            <div class="form-group select-data-type" ng-if="!!itemGroup.customVar && itemGroup.customVar == '${DOMAIN}' && findCondition(itemGroup.cmp, changeCondition(itemGroup)).blacklist && !findCondition(itemGroup.cmp, changeCondition(itemGroup)).hideInputVal">
                <ui-select multiple ng-model="itemGroup.val" ng-required="true" close-on-select="false" server-error reset-search-input="'false'" ng-disabled="disabledDirective" style="min-width: 180px;">
                    <ui-select-match placeholder="select a blacklist">{{ $item.name }}</ui-select-match>
                    <ui-select-choices group-by="groupEntities" repeat="domain.id as domain in blacklists | selectedPublisher:publisher | filter:$select.search">
                        {{ domain.name }}
                    </ui-select-choices>
                </ui-select>
            </div>

            <div class="form-group select-data-type" ng-if="!!itemGroup.customVar && itemGroup.customVar == '${DOMAIN}' && !findCondition(itemGroup.cmp, changeCondition(itemGroup)).blacklist && !findCondition(itemGroup.cmp, changeCondition(itemGroup)).hideInputVal">
                <ui-select multiple ng-model="itemGroup.val" ng-required="true" close-on-select="false" server-error reset-search-input="'false'" ng-disabled="disabledDirective" style="min-width: 180px;">
                    <ui-select-match placeholder="select a whitelist">{{ $item.name }}</ui-select-match>
                    <ui-select-choices group-by="groupEntities" repeat="domain.id as domain in whitelists | selectedPublisher:publisher | filter:$select.search">
                        {{ domain.name }}
                    </ui-select-choices>
                </ui-select>
            </div>

            <!--<button class="btn btn-danger" type="button" ng-minlength="1" required ng-disabled="isDisabledButtonRemoveCondition()" ng-click="removeCondition($index)"><span class="glyphicon glyphicon-minus"></span></button>-->
            <button ng-disabled="disabledDirective" class="btn btn-danger" type="button" ng-minlength="1" required ng-click="removeCondition($index)"><span class="glyphicon glyphicon-minus"></span></button>
        </div>
    </div>
</div>