@import "performance-report/selector";
@import "performance-report/content";
@import "source-report/sourceReport";
@import "unifiedReport/unifiedReport";

.report.list-info {
    margin-bottom: 0;

    li {
        label {
            width: 150px;
        }
    }
}

.panel.daily-reports {
    .table-hover {
        tr:hover {
            td.name {
                text-decoration: underline;
            }
        }
    }

    .table-footer {
        padding: 0 20px;
    }
}

.table {
  margin-bottom: 0 !important;
}