@import "performance-report/selector";
@import "performance-report/content";
@import "source-report/sourceReport";

.report.list-info {
    margin-bottom: 0;

    li {
        label {
            width: 200px;
        }
    }
}

.panel.daily-reports {
    .table-hover {
        tr:hover {
            td.name {
                text-decoration: underline;
            }
        }
    }

    .table-footer {
        padding: 0 20px;
    }
}

.table {
  margin-bottom: 0 !important;
}

.form-search {
  margin: 5px;

  .form-control {
    width: 40% !important;
  }
}

.clear-float {
  clear: left;
}

@media (max-width: 768px) {
  .form-search .form-control {
    width: 100% !important;
    margin-bottom: 5px;
  }
}

.video-report-summary{
  padding-top: 20px;
}