@import "performance-report/selector";
@import "performance-report/reportType";

.report.list-info {
    margin-bottom: 0;

    li {
        label {
            width: 150px;
        }
    }
}

.panel.daily-reports {
    .table-footer {
        padding: 0 20px;
    }
}