<div class="modal-header">
    <h4 class="modal-title">Update Cpm for Ad Network : <strong>{{ data.name }}</strong></h4>
</div>
<div class="modal-body">
    <div class="form-update-revenue-group">
        <div class="input-group col-md-6" id="inputDate">
            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            <input date-range-picker options="datePickerOpts" class="form-control date-picker" type="text" ng-model="date" ng-required="true" placeholder="DATE RANGE">
        </div>
        <div class="col-md-6" id="inputCPM">
            <input type="number" name="input" class="form-control" ng-model="CPM" placeholder="CPM Rate">
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="$dismiss()">Cancel</button>
    <button class="btn btn-danger" ng-disabled="!isFormValid()" ng-click="submit(date, CPM)">Update Cpm</button>
</div>