<div class="panel panel-default">
    <div class="panel-heading">
        <span class="glyphicon glyphicon-th"></span>
        <strong current-page-title></strong>

        <div class="button-bar">
            <button ng-if="!isSubPublisher()" ui-sref="^.new" class="btn btn-sm btn-primary" type="button">
                <span class="glyphicon glyphicon-plus"></span>
                {{ 'AD_SLOT_MODULE.NEW_AD_SLOT' | translate }}
            </button>
        </div>

        <div ng-if="!isSubPublisher()" class="btn-group btnGrouped" dropdown>
            <button type="button" class="btn " dropdown-toggle><span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span></button>
            <ul class="dropdown-menu pull-right" role="menu">
                <li><a ui-sref="^.^.^.tagManagement.adSlot.new"> {{ 'AD_SLOT_MODULE.NEW_AD_SLOT' | translate }}</a></li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs nav-tab-margin">
                <li role="presentation" ui-sref-active="active"><a ui-sref="^.^.^.tagManagement.adSlot.listAll">By Site</a></li>
                <li role="presentation" ui-sref-active="active"><a ui-sref="^.^.^.tagManagement.adSlot.listByChannel">By Channel</a></li>
                <li role="presentation" ui-sref-active="active"><a ui-sref="^.^.^.tagManagement.ronAdSlot.list">Smart Ad Slots</a></li>
                <li role="presentation" ui-sref-active="active"><a ui-sref="^.^.^.tagLibrary.adSlot.list">Standalone Ad Slots</a></li>
            </ul>
        </div>
    </div>

    <search-box show-query="true" sb-list="adSlots" search-fields="['id', 'name', 'height', 'width']"></search-box>

    <div class="panel-body" ng-if="hasData()">
        <div class="table-responsive">
            <table class="table" at-sortable-query at-table at-paginated at-list="adSlots" at-config="tableConfig">
                <thead>
                <tr>
                    <th ng-show="isAdmin()" at-attribute="publisher.company">{{ 'PUBLISHER' | translate }}</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td at-implicit at-title="#" at-sortable at-attribute="id"></td>
                    <td at-title="{{ 'ACTIONS' | translate }}" at-attribute="action">
                        <div class="btn-group" dropdown>
                            <button type="button" class="btn " dropdown-toggle> {{ 'ACTIONS' | translate }} <span class="caret"></span> </button>
                            <ul class="dropdown-menu pull-right-dropdown" role="menu">
                                <li ng-if="item.libType == adSlotTypes.display" ><a ui-sref="^.^.adTag.displayList({adSlotId: item.id})">{{ 'AD_SLOT_MODULE.MANAGE_AD_TAGS' | translate }}</a></li>
                                <li ng-if="item.libType == adSlotTypes.native" ><a ui-sref="^.^.adTag.nativeList({adSlotId: item.id})">{{ 'AD_SLOT_MODULE.MANAGE_AD_TAGS' | translate }}</a></li>

                                <li ng-if="item.libType != adSlotTypes.dynamic" class="divider"></li>

                                <li ng-if="!isSubPublisher()" ng-click="createLinkedAdSlots(item)"><a>{{ 'AD_SLOT_LIBRARY_MODULE.CREATE_LINKED_AD_SLOTS' | translate }}</a></li>
                                <!--<li ng-if="!item.isRonAdSlot.id"><a ng-click="createRonAdSlot(item)">{{ 'AD_SLOT_LIBRARY_MODULE.CREATE_RON_AD_SLOT' | translate }}</a></li>-->
                                <!--<li ng-if="!!item.isRonAdSlot.id"><a ng-click="createRonAdSlot(null, item.isRonAdSlot.id)">{{ 'AD_SLOT_LIBRARY_MODULE.EDIT_RON_AD_SLOT' | translate }}</a></li>-->

                                <li ng-if="item.libType == adSlotTypes.display"><a ui-sref="^.associated({ adSlotId: item.id, adSlotType: adSlotTypes.display})">{{ 'AD_SLOT_LIBRARY_MODULE.VIEW_LINKED_AD_SLOTS' | translate }}</a></li>
                                <li ng-if="item.libType == adSlotTypes.native"><a ui-sref="^.associated({ adSlotId: item.id, adSlotType: adSlotTypes.native})">{{ 'AD_SLOT_LIBRARY_MODULE.VIEW_LINKED_AD_SLOTS' | translate }}</a></li>
                                <li ng-if="item.libType == adSlotTypes.dynamic"><a ui-sref="^.associated({ adSlotId: item.id, adSlotType: adSlotTypes.dynamic})">{{ 'AD_SLOT_LIBRARY_MODULE.VIEW_LINKED_AD_SLOTS' | translate }}</a></li>

                                <li ng-if="!isSubPublisher()" class="divider"></li>

                                <li ng-if="!isSubPublisher()"><a ui-sref="^.edit({ id: item.id })">{{ 'AD_SLOT_MODULE.EDIT_AD_SLOT' | translate }}</a></li>
                                <li ng-if="!isSubPublisher()"><a ng-click="removeMoveToLibrary(item)">{{ 'AD_SLOT_MODULE.DELETE_AD_SLOT' | translate }}</a></li>
                            </ul>
                        </div>
                    </td>
                    <td at-title="{{ 'NAME' | translate }}" at-implicit at-sortable at-attribute="name" at-initial-sorting="asc"></td>
                    <td at-title="{{ 'PUBLISHER' | translate }}" ng-show="isAdmin()" at-implicit at-sortable at-attribute="publisher.company"></td>
                    <td at-title="{{ 'AD_SLOT_MODULE.SIZE' | translate }}" at-sortable at-attribute="width">
                        {{ !!item.width ? item.width + 'x' + item.height : ''}}
                    </td>
                    <td at-title="{{ 'AD_SLOT_MODULE.TYPE' | translate }}" at-implicit at-sortable at-attribute="libType"></td>
                    <td at-title="{{ 'AD_SLOT_LIBRARY_MODULE.LINKED_AD_SLOTS' | translate }}" at-implicit at-sortable at-attribute="associatedSlotCount"></td>
                    <td at-title="{{ 'AD_SLOT_LIBRARY_MODULE.IN_RON_AD_SLOT' | translate }}" at-attribute="libraryAdSlot.visible" at-sortable>
                        <i class="fa" ng-class="!!item.isRonAdSlot.id? 'fa-check-square' : 'fa-square'"></i>
                    </td>
                </tr>
                </tbody>
            </table>

            <at-pagination at-pagination-query ng-if="showPagination()" at-list="adSlots" at-config="tableConfig"></at-pagination>
        </div>
    </div>
</div>