<section class="panel panel-default">
    <div class="panel-body">
        <div ncy-breadcrumb></div>

        <h1 class="text-thin" ncy-breadcrumb-last></h1>

        <div class="row">
            <form name="tagGeneratorForm" class="col-lg-6 form-horizontal" ng-submit="submit()" novalidate>

                <div class="form-group" ng-if="allowPublisherSelection">
                    <label class="col-sm-2 control-label">Publisher</label>
                    <div class="col-sm-10">
                        <ui-select ng-model="selected.publisher" ng-required="true" on-select="selectPublisher($item, $model)">
                            <ui-select-match placeholder="Select a publisher">{{ $select.selected.username }}</ui-select-match>
                            <ui-select-choices repeat="publisher in publishers | filter: { username: $select.search }">
                                {{ publisher.username }}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Site</label>
                    <div class="col-sm-10">
                        <ui-select name="site" ng-model="selected.site" ng-required="true" on-select="selectSite($item, $model)" ng-disabled="allowPublisherSelection && !selected.publisher">
                            <ui-select-match placeholder="Select a site to generate tags for...">{{ $select.selected.name }}</ui-select-match>
                            <ui-select-choices repeat="site in siteList | filter: { name: $select.search } | selectedPublisher:selected.publisher">
                                {{ site.name }}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button ng-disabled="!isFormValid()" ng-disabled="formProcessing" type="submit" class="btn btn-success">Submit</button>
                        <div class="callout callout-info">
                            <p>Submit button will be active only when all fields are valid.</p>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</section>

<section ng-if="jstags" class="panel panel-default">
    <div class="panel-heading"><strong>Tags for {{ selected.site.name }}</strong></div>
    <div class="panel-body">
        <div ng-if="jstags.header">
            <h4>Header Include</h4>
            <p><strong>Copy and paste the following tag into the &lt;head&gt; section of your website.</strong></p>
            <div class="media">
                <div class="media-body">
                    <ul class="list-unstyled list-info">
                        <li>
                            <textarea class="form-control" rows="2" readonly="readonly" select-on-click>{{ jstags.header }}</textarea>
                        </li>
                    </ul>

                </div>
            </div>
        </div>

        <div ng-if="jstags.display.passback">
            <h4>Display Passback Tag</h4>
            <p><strong>Give the following tag to your ad networks as a passback/default/fallback tag for display ads.</strong></p>
            <div class="media">
                <div class="media-body">
                    <ul class="list-unstyled list-info">
                        <li>
                            <textarea class="form-control" rows="2" readonly="readonly" select-on-click>{{ jstags.display.passback }}</textarea>
                        </li>
                    </ul>

                </div>
            </div>
        </div>

        <div ng-if="jstags.display.ad_slots">
            <h4>Display Ad Tags</h4>
            <p><strong>Copy and paste the following ad tags into the &lt;body&gt; section of your website.</strong></p>
            <div class="media">
                <div class="media-body">
                    <ul class="list-unstyled list-info">
                        <li ng-repeat="(name, tag) in jstags.display.ad_slots">
                            <p><strong>{{ name }}</strong></p>
                            <textarea class="form-control" rows="7" readonly="readonly" select-on-click>{{ tag }}</textarea>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</section>