<div class="panel panel-default" ng-class="chartFollow.type == 'COMPARISION' ? 'panel-primary' : ''">
    <div class="panel-heading">{{'NEW_DASHBOARD.COMPARISION'|translate}}
    </div>
    <div class="panel-body">
        <div class="btn-group pull-right form-group">
            <button type="button" class="btn btn-default btn-action" id="day-over-day"
                    ng-class="{active: compareTypeData.compareType == 'day-over-day'}"
                    ng-click="onChangeMode('day')">{{'NEW_DASHBOARD.DAY_OVER_DAY' | translate}}
            </button>
            <button type="button" class="btn btn-default btn-action" id="week-over-week"
                    ng-class="{active: compareTypeData.compareType == 'week-over-week'}"
                    ng-click="onChangeMode('week')">{{'NEW_DASHBOARD.WEEK_OVER_WEEK' | translate}}
            </button>
            <button type="button" class="btn btn-default btn-action" id="month-over-month"
                    ng-class="{active: compareTypeData.compareType == 'month-over-month'}"
                    ng-click="onChangeMode('month')">{{'NEW_DASHBOARD.MONTH_OVER_MONTH' | translate}}
            </button>
            <button type="button" class="btn btn-default btn-action" id="year-over-year"
                    ng-class="{active: compareTypeData.compareType == 'year-over-year'}"
                    ng-click="onChangeMode('year')">{{'NEW_DASHBOARD.YEAR_OVER_YEAR' | translate}}
            </button>
        </div>

        <table class="table no-border"
               ng-if="formData.comparisionData && formData.comparisionData.length > 0">
            <th class="th-no-border"></th>
            <th class="text-right th-no-border">Current {{compareTypeData.label}}</th>
            <th class="text-right th-no-border">Last {{compareTypeData.label}}</th>
            <tr ng-repeat="row in formData.comparisionData">
                <td class="text-capitalize"><b>{{row.label}}</b></td>
                <td class="text-right">{{row.current.value}}</td>
                <td class="text-right">{{row.history.value}}</td>
            </tr>
        </table>
    </div>
</div>


