<div class="panel panel-default">
    <div class="panel-heading small-panel-padding">
        <div class="row align-items-center">
            <div class="col col-sm-2 col-xs-12" style="padding-top: 5px;">
                <span>{{'NEW_DASHBOARD.OVERVIEW'|translate}}</span>
            </div>
            <div class="col col-sm-10 col-xs-12">
                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-default btn-sm btn-action"
                            ng-class="{active: compareTypeData.compareType === 'day-over-day'}"
                            ng-click="onChangeMode('day')">{{'NEW_DASHBOARD.DAY_OVER_DAY' | translate}}
                    </button>
                    <button type="button" class="btn btn-default btn-sm btn-action"
                            ng-class="{active: compareTypeData.compareType === 'week-over-week'}"
                            ng-click="onChangeMode('week')">{{'NEW_DASHBOARD.LAST_7_DAY' | translate}}
                    </button>
                    <button type="button" class="btn btn-default btn-sm btn-action"
                            ng-class="{active: compareTypeData.compareType === 'month-over-month'}"
                            ng-click="onChangeMode('month')">{{'NEW_DASHBOARD.LAST_30_DAY' | translate}}
                    </button>
                    <button type="button" class="btn btn-default btn-sm btn-action"
                            ng-class="{active: compareTypeData.compareType === 'year-over-year'}"
                            ng-click="onChangeMode('year')">{{'NEW_DASHBOARD.YEAR_TO_DATE' | translate}}
                    </button>
                    <button type="button" class="btn btn-default btn-sm btn-action"
                            ng-class="{active: compareTypeData.compareType === 'custom'}"
                            ng-click="onChangeMode('custom')">{{'NEW_DASHBOARD.CUSTOM_COMPARISON' | translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div>
            <alert class="alert alert-warning" ng-show="alertMessage.isShow">{{$scope.alertMessage.content}}</alert>
        </div>

        <!--Display-->
        <table class="table no-border" ng-if="isShowForDisplayReport() && overviewData.data">
            <th class="th-no-border fixed-th-width"><span style="visibility: hidden">.</span></th>
            <th class="text-right th-no-border fixed-th-width">{{'NEW_DASHBOARD.YESTERDAY' | translate}}</th>

            <th class="text-right th-no-border fixed-th-width">
                <span ng-if="compareTypeData.compareType !== 'custom'">Current</span>
                <!--Current-->
                <div class="input-group pull-right fixed-th-width" ng-if="compareTypeData.compareType === 'custom'">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input date-range-picker
                           options="datePickerOpts"
                           class="input-sm form-control date-picker date-picker-new-dashboard"
                           type="text"
                           id="inputDateRangeCurrent"
                           ng-model="formData.currentDateRange"
                           ng-required="true">
                </div>
            </th>

            <th class="text-right th-no-border fixed-th-width">
                <span ng-if="compareTypeData.compareType !== 'custom'">Last</span>
                <!--Last-->
                <div class="input-group pull-right fixed-th-width" ng-if="compareTypeData.compareType === 'custom'">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input date-range-picker
                           options="datePickerOpts"
                           class="input-sm form-control date-picker date-picker-new-dashboard"
                           type="text"
                           id="inputDateRangeLast"
                           ng-model="formData.historyDateRange"
                           ng-required="true">
                </div>
            </th>

            <th class="th-no-border btn-custom">
                <button type="button" class="btn btn-primary btn-sm" ng-click="getCustomComparisonData()"
                        ng-if="compareTypeData.compareType === 'custom'">Get data
                </button>
            </th>
            <tr>
                <div ng-if="isAdmin && hasDisplayOverviewTable()">
                    <td class="text-capitalize">{{ 'DASHBOARD_MODULE.BILLED_AMOUNT' | translate }}</td>
                    <td class="text-right">{{ customOverviewData.billedAmount | currency }}</td>
                </div>
                <div ng-if="hasDisplayComparisonTable()">
                    <td class="text-right">{{ formData.comparisionData.current.billedAmount | currency}}</td>
                    <td class="text-right">{{ formData.comparisionData.history.billedAmount | currency}}</td>
                    <td></td>
                </div>
            </tr>
            <tr>
                <div ng-if="hasDisplayOverviewTable()">
                    <td class="text-capitalize">{{ 'DASHBOARD_MODULE.REVENUE' | translate }}</td>
                    <td class="text-right">{{ customOverviewData.estRevenue | currency }}</td>
                </div>
                <div ng-if="hasDisplayComparisonTable()">
                    <td class="text-right">{{ formData.comparisionData.current.estRevenue | currency }}</td>
                    <td class="text-right">{{ formData.comparisionData.history.estRevenue | currency }}</td>
                    <td></td>
                </div>
            </tr>
            <tr>
                <div ng-if="hasDisplayOverviewTable()">
                    <td class="text-capitalize">{{ 'DASHBOARD_MODULE.SLOT_OPPORTUNITIES' | translate }}</td>
                    <td class="text-right">{{ customOverviewData.slotOpportunities | number }}</td>
                </div>
                <div ng-if="hasDisplayComparisonTable()">
                    <td class="text-right">{{ formData.comparisionData.current.slotOpportunities | number }}</td>
                    <td class="text-right">{{ formData.comparisionData.history.slotOpportunities | number }}</td>
                    <td></td>
                </div>
            </tr>
            <tr>
                <div ng-if="hasDisplayOverviewTable()">
                    <td class="text-capitalize">{{ 'DASHBOARD_MODULE.NETWORK_OPPORTUNITIES' | translate }}</td>
                    <td class="text-right">{{ customOverviewData.totalOpportunities | number }}</td>
                </div>
                <div ng-if="hasDisplayComparisonTable()">
                    <td class="text-right">{{ formData.comparisionData.current.totalOpportunities | number }}</td>
                    <td class="text-right">{{ formData.comparisionData.history.totalOpportunities | number }}</td>
                    <td></td>
                </div>
            </tr>
            <tr>
                <div ng-if="hasDisplayOverviewTable()">
                    <td class="text-capitalize">{{ 'DASHBOARD_MODULE.IMPRESSIONS_OPPORTUNITY' | translate }}</td>
                    <td class="text-right">{{ customOverviewData.adOpportunities | number }}</td>
                </div>
                <div ng-if="hasDisplayComparisonTable()">
                    <td class="text-right">{{ formData.comparisionData.current.adOpportunities | number }}</td>
                    <td class="text-right">{{ formData.comparisionData.history.adOpportunities | number }}</td>
                    <td></td>
                </div>
            </tr>
            <tr>
                <div ng-if="hasDisplayOverviewTable()">
                    <td class="text-capitalize">{{ 'DASHBOARD_MODULE.PASSBACKS' | translate }}</td>
                    <td class="text-right">{{ customOverviewData.passbacks | number }}</td>
                </div>
                <div ng-if="hasDisplayComparisonTable()">
                    <td class="text-right">{{ formData.comparisionData.current.passbacks | number }}</td>
                    <td class="text-right">{{ formData.comparisionData.history.passbacks | number }}</td>
                    <td></td>
                </div>
            </tr>
            <tr>
                <div ng-if="hasDisplayOverviewTable()">
                    <td class="text-capitalize">{{ 'DASHBOARD_MODULE.FILL_RATE' | translate }}</td>
                    <td class="text-right">{{ customOverviewData.fillRate | percentage }}</td>
                </div>
                <div ng-if="hasDisplayComparisonTable()">
                    <td class="text-right">{{ formData.comparisionData.current.fillRate | percentage }}</td>
                    <td class="text-right">{{ formData.comparisionData.history.fillRate | percentage }}</td>
                    <td></td>
                </div>
            </tr>
        </table>

        <!--Video-->
        <table class="table no-border" ng-if="isShowForVideoReport() && overviewData.data">
            <th class="th-no-border"><span style="visibility: hidden">.</span></th>
            <th class="text-right th-no-border"><span style="visibility: hidden">.</span></th>

            <tr ng-if="isAdmin">
                <td class="text-capitalize"><b>{{ columnNameMappingForVideoReport['billedAmount'] }}</b></td>
                <td class="text-right">{{ (customOverviewData.billedAmount != null) ? (customOverviewData.billedAmount |
                    currency) : '' }}
                </td>
            </tr>

            <tr>
                <td class="text-capitalize"><b>{{ columnNameMappingForVideoReport['netRevenue'] }}</b></td>
                <td class="text-right">{{ (customOverviewData.netRevenue != null) ? (customOverviewData.netRevenue |
                    currency) : '' }}
                </td>
            </tr>

            <tr>
                <td class="text-capitalize"><b>{{ columnNameMappingForVideoReport['requests'] }}</b></td>
                <td class="text-right">{{ (customOverviewData.requests != null) ? (customOverviewData.requests | number)
                    : '' }}
                </td>
            </tr>

            <tr>
                <td class="text-capitalize"><b>{{ columnNameMappingForVideoReport['impressions'] }}</b></td>
                <td class="text-right">{{ (customOverviewData.impressions != null) ? (customOverviewData.impressions |
                    number) : '' }}
                </td>
            </tr>

            <tr>
                <td class="text-capitalize"><b>{{ columnNameMappingForVideoReport['bids'] }}</b></td>
                <td class="text-right">{{ (customOverviewData.bids != null) ? (customOverviewData.bids | number) : ''
                    }}
                </td>
            </tr>

            <tr>
                <td class="text-capitalize"><b>{{ columnNameMappingForVideoReport['errors'] }}</b></td>
                <td class="text-right">{{ (customOverviewData.errors != null) ? (customOverviewData.errors | number) :
                    '' }}
                </td>
            </tr>

            <tr>
                <td class="text-capitalize"><b>{{ columnNameMappingForVideoReport['blocks'] }}</b></td>
                <td class="text-right">{{ (customOverviewData.blocks != null) ? (customOverviewData.blocks | number) :
                    '' }}
                </td>
            </tr>

            <tr>
                <td class="text-capitalize"><b>{{ columnNameMappingForVideoReport['requestFillRate'] }}</b></td>
                <td class="text-right">{{ (customOverviewData.requestFillRate != null) ?
                    (customOverviewData.requestFillRate | percentage) : '' }}
                </td>
            </tr>
        </table>

        <!--Unified report-->
        <table class="table no-border"
               ng-if="isShowForUnifiedReport() && overviewData.data && overviewData.data.length > 0">
            <th class="th-no-border"><span style="visibility: hidden">.</span></th>
            <th class="text-right th-no-border"><span style="visibility: hidden">.</span></th>
            <tr ng-repeat="row in customOverviewData">
                <td class="text-capitalize"><b>{{row.label}}</b></td>
                <td class="text-right">{{row.value}}</td>
            </tr>
        </table>
    </div>
</div>

