<div class="panel panel-default" ng-class="chartFollow.type == 'OVER_VIEW' ? 'panel-primary' : ''">
    <div class="panel-heading">{{'NEW_DASHBOARD.OVERVIEW'|translate}}</div>
    <div class="panel-body">
        <!--date-->
        <div class="form-inline" style="margin-bottom: 15px">
            <label for="inputDateRange" class="inline-space">
                {{ 'NEW_DASHBOARD.DATE_LABEL' | translate }} </label>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                <input date-range-picker
                       options="overviewData.datePickerOpts"
                       class="form-control date-picker date-picker-new-dashboard"
                       type="text"
                       id="inputDateRange"
                       ng-model="overviewData.dateRange"
                       ng-required="true">
            </div>
        </div>

        <table class="table no-border mt-15" ng-if="overviewData.data && overviewData.data.length > 0">
            <th class="th-no-border"><span style="visibility: hidden">.</span></th>
            <th class="text-right th-no-border"><span style="visibility: hidden">.</span></th>
            <tr ng-repeat="row in customOverviewData">
                <td class="text-capitalize"><b>{{row.label}}</b></td>
                <td class="text-right">{{row.value}}</td>
            </tr>
        </table>

    </div>
</div>

