<div class="panel panel-default">
    <div class="panel-heading">
        <span>{{'NEW_DASHBOARD.OVERVIEW'|translate}}</span>
    </div>
    <div class="panel-body">
        <div>
            <alert class="alert alert-warning" ng-show="alertMessage.isShow">{{$scope.alertMessage.content}}</alert>
        </div>

        <!--buttons-->
        <div class="btn-group pull-left">
            <button type="button" class="btn btn-default btn-sm btn-action"
                    ng-class="{active: compareTypeData.compareType === 'yesterday'}"
                    ng-click="onChangeMode('yesterday')">{{'NEW_DASHBOARD.YESTERDAY' | translate}}
            </button>
            <button type="button" class="btn btn-default btn-sm btn-action"
                    ng-class="{active: compareTypeData.compareType === 'day-over-day'}"
                    ng-click="onChangeMode('day')">{{'NEW_DASHBOARD.DAY_OVER_DAY' | translate}}
            </button>
            <button type="button" class="btn btn-default btn-sm btn-action"
                    ng-class="{active: compareTypeData.compareType === 'week-over-week'}"
                    ng-click="onChangeMode('week')">{{'NEW_DASHBOARD.LAST_7_DAY' | translate}}
            </button>
            <button type="button" class="btn btn-default btn-sm btn-action"
                    ng-class="{active: compareTypeData.compareType === 'month-over-month'}"
                    ng-click="onChangeMode('month')">{{'NEW_DASHBOARD.LAST_30_DAY' | translate}}
            </button>
            <button type="button" class="btn btn-default btn-sm btn-action"
                    ng-class="{active: compareTypeData.compareType === 'year-over-year'}"
                    ng-click="onChangeMode('year')">{{'NEW_DASHBOARD.YEAR_TO_DATE' | translate}}
            </button>
            <button type="button" class="btn btn-default btn-sm btn-action"
                    ng-class="{active: compareTypeData.compareType === 'custom'}"
                    ng-click="onChangeMode('custom')">{{'NEW_DASHBOARD.CUSTOM_COMPARISON' | translate}}
            </button>

        </div>

        <div class="clearfix" style="padding: 10px 10px"></div>

        <form class="form-inline" role="form" novalidate ng-if="compareTypeData.compareType === 'custom'">
            <div class="form-group">
                <label class="padding-10" for="inputDateRangeCurrent">{{ 'NEW_DASHBOARD.DATE_LABEL' | translate
                    }}</label>
                <div class="input-group padding-10">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input date-range-picker
                           options="datePickerOpts"
                           class="input-sm form-control date-picker date-picker-new-dashboard"
                           type="text"
                           id="inputDateRangeCurrent"
                           ng-model="formData.currentDateRange"
                           ng-required="true">
                </div>
            </div>
            <div class="form-group">
                <label class="padding-10" for="inputDateRangeCurrent">{{ 'NEW_DASHBOARD.DATE_LABEL' | translate
                    }}</label>
                <div class="input-group padding-10">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input date-range-picker
                           options="datePickerOpts"
                           class="input-sm form-control date-picker date-picker-new-dashboard"
                           type="text"
                           id="inputDateRangeLast"
                           ng-model="formData.historyDateRange"
                           ng-required="true">
                </div>
            </div>
            <!--Get data-->
            <button type="button" class="btn btn-primary btn-sm" ng-click="getCustomComparisonData()"
                    ng-if="compareTypeData.compareType === 'custom'">Get data
            </button>
        </form>


        <!--Display yesterday-->
        <table class="table no-border" ng-if="hasDisplayOverviewTable() && compareTypeData.compareType === 'yesterday'">
            <th class="th-no-border col-sm-3"><span style="visibility: hidden">.</span></th>
            <th class="text-right th-no-border col-sm-3">{{'NEW_DASHBOARD.YESTERDAY' | translate}}</th>
            <th class="th-no-border"><span style="visibility: hidden">.</span></th>

            <tr ng-if="isAdmin && hasDisplayOverviewTable()">
                <td class="text-capitalize">{{ 'DASHBOARD_MODULE.BILLED_AMOUNT' | translate }}</td>
                <td class="text-right">{{ customOverviewData.billedAmount | currency }}</td>
            </tr>
            <tr>
                <td class="text-capitalize">{{ 'DASHBOARD_MODULE.REVENUE' | translate }}</td>
                <td class="text-right">{{ customOverviewData.estRevenue | currency }}</td>
            </tr>
            <tr>
                <td class="text-capitalize">{{ 'DASHBOARD_MODULE.SLOT_OPPORTUNITIES' | translate }}</td>
                <td class="text-right">{{ customOverviewData.slotOpportunities | number }}</td>
            </tr>
            <tr>
                <td class="text-capitalize">{{ 'DASHBOARD_MODULE.NETWORK_OPPORTUNITIES' | translate }}</td>
                <td class="text-right">{{ customOverviewData.totalOpportunities | number }}</td>
            </tr>
            <tr>
                <td class="text-capitalize">{{ 'DASHBOARD_MODULE.IMPRESSIONS_OPPORTUNITY' | translate }}</td>
                <td class="text-right">{{ customOverviewData.adOpportunities | number }}</td>
            </tr>
            <tr>
                <td class="text-capitalize">{{ 'DASHBOARD_MODULE.PASSBACKS' | translate }}</td>
                <td class="text-right">{{ customOverviewData.passbacks | number }}</td>
            </tr>
            <tr>
                <td class="text-capitalize">{{ 'DASHBOARD_MODULE.FILL_RATE' | translate }}</td>
                <td class="text-right">{{ customOverviewData.fillRate | percentage }}</td>
            </tr>
        </table>


        <!--Display comparison-->
        <table class="table no-border table-responsive"
               ng-if="hasDisplayComparisonTable() && compareTypeData.compareType !== 'yesterday'">
            <th class="th-no-border col-sm-2"><span style="visibility: hidden">.</span></th>

            <th class="text-right th-no-border col-sm-2">
                <span ng-if="compareTypeData.compareType !== 'custom'">Current</span>
                <!--Current-->
            </th>
            <th class="text-right th-no-border col-sm-2">
                <span ng-if="compareTypeData.compareType !== 'custom'">Last</span>
                <!--Last-->
            </th>
            <th class="th-no-border"><span style="visibility: hidden">.</span></th>
            <tr>
                <td class="text-capitalize">{{ 'DASHBOARD_MODULE.BILLED_AMOUNT' | translate }}</td>
                <td class="text-right">{{ formData.comparisionData.current.billedAmount | currency}}</td>
                <td class="text-right">{{ formData.comparisionData.history.billedAmount | currency}}</td>
            </tr>
            <tr>
                <td class="text-capitalize">{{ 'DASHBOARD_MODULE.REVENUE' | translate }}</td>
                <td class="text-right">{{ formData.comparisionData.current.estRevenue | currency }}</td>
                <td class="text-right">{{ formData.comparisionData.history.estRevenue | currency }}</td>
            </tr>
            <tr>
                <td class="text-capitalize">{{ 'DASHBOARD_MODULE.SLOT_OPPORTUNITIES' | translate }}</td>
                <td class="text-right">{{ formData.comparisionData.current.slotOpportunities | number }}</td>
                <td class="text-right">{{ formData.comparisionData.history.slotOpportunities | number }}</td>
            </tr>
            <tr>
                <td class="text-capitalize">{{ 'DASHBOARD_MODULE.NETWORK_OPPORTUNITIES' | translate }}</td>
                <td class="text-right">{{ formData.comparisionData.current.totalOpportunities | number }}</td>
                <td class="text-right">{{ formData.comparisionData.history.totalOpportunities | number }}</td>
            </tr>
            <tr>
                <td class="text-capitalize">{{ 'DASHBOARD_MODULE.IMPRESSIONS_OPPORTUNITY' | translate }}</td>
                <td class="text-right">{{ formData.comparisionData.current.adOpportunities | number }}</td>
                <td class="text-right">{{ formData.comparisionData.history.adOpportunities | number }}</td>
            </tr>
            <tr>
                <td class="text-capitalize">{{ 'DASHBOARD_MODULE.PASSBACKS' | translate }}</td>
                <td class="text-right">{{ formData.comparisionData.current.passbacks | number }}</td>
                <td class="text-right">{{ formData.comparisionData.history.passbacks | number }}</td>
            </tr>
            <tr>
                <td class="text-capitalize">{{ 'DASHBOARD_MODULE.FILL_RATE' | translate }}</td>
                <td class="text-right">{{ formData.comparisionData.current.fillRate | percentage }}</td>
                <td class="text-right">{{ formData.comparisionData.history.fillRate | percentage }}</td>
            </tr>
        </table>


        <!--Video Yesterday-->
        <table class="table no-border table-responsive"
               ng-if="hasVideoOverviewTable() && compareTypeData.compareType === 'yesterday'">
            <th class="th-no-border col-sm-3"><span style="visibility: hidden">.</span></th>
            <th class="text-right th-no-border col-sm-3">{{'NEW_DASHBOARD.YESTERDAY' | translate}}</th>
            <th class="th-no-border"><span style="visibility: hidden">.</span></th>

            <!--billedAmount-->
            <tr ng-if="isAdmin">
                <td class="text-capitalize"><b>{{ columnNameMappingForVideoReport['billedAmount'] }}</b></td>
                <td class="text-right">
                    {{ (customOverviewData.billedAmount != null) ? (customOverviewData.billedAmount | currency) : '' }}
                </td>
            </tr>
            <!--netRevenue-->
            <tr>
                <td class="text-capitalize"><b>{{ columnNameMappingForVideoReport['netRevenue'] }}</b></td>
                <td class="text-right">{{ (customOverviewData.netRevenue != null) ? (customOverviewData.netRevenue |
                    currency) : '' }}
                </td>
            </tr>
            <!--requests-->
            <tr>
                <td class="text-capitalize"><b>{{ columnNameMappingForVideoReport['requests'] }}</b></td>
                <td class="text-right">{{ (customOverviewData.requests != null) ? (customOverviewData.requests |
                    number) : '' }}
                </td>
            </tr>
            <!--impressions-->
            <tr>
                <td class="text-capitalize"><b>{{ columnNameMappingForVideoReport['impressions'] }}</b></td>
                <td class="text-right">
                    {{ (customOverviewData.impressions != null) ? (customOverviewData.impressions | number) : '' }}
                </td>
            </tr>
            <!--bids-->
            <tr>
                <td class="text-capitalize"><b>{{ columnNameMappingForVideoReport['bids'] }}</b></td>
                <td class="text-right">
                    {{ (customOverviewData.bids != null) ? (customOverviewData.bids | number) : '' }}
                </td>
            </tr>

            <!--errors-->
            <tr>
                <td class="text-capitalize"><b>{{ columnNameMappingForVideoReport['errors'] }}</b></td>
                <td class="text-right">
                    {{ (customOverviewData.errors != null) ? (customOverviewData.errors | number) : '' }}
                </td>
            </tr>
            <!--blocks-->
            <tr>
                <td class="text-capitalize"><b>{{ columnNameMappingForVideoReport['blocks'] }}</b></td>
                <td class="text-right">
                    {{ (customOverviewData.blocks != null) ? (customOverviewData.blocks | number) : '' }}
                </td>
            </tr>
            <!--requestFillRate-->
            <tr>
                <td class="text-capitalize"><b>{{ columnNameMappingForVideoReport['requestFillRate'] }}</b></td>
                <td class="text-right">
                    {{ (customOverviewData.requestFillRate != null) ? (customOverviewData.requestFillRate |
                    percentage) : '' }}
                </td>
            </tr>
        </table>

        <!--Video Comparison-->
        <table class="table no-border table-responsive"
               ng-if="compareTypeData.compareType !== 'yesterday' && hasVideoComparisonTable()">
            <th class="th-no-border col-sm-2"><span style="visibility: hidden">.</span></th>
            <th class="text-right th-no-border col-sm-2">
                <span ng-if="compareTypeData.compareType !== 'custom'">Current</span>
            </th>

            <th class="text-right th-no-border col-sm-2">
                <span ng-if="compareTypeData.compareType !== 'custom'">Last</span>
            </th>
            <th class="th-no-border"><span style="visibility: hidden">.</span></th>
            <!--billedAmount-->
            <tr>
                <td class="text-capitalize"><b>{{ columnNameMappingForVideoReport['billedAmount'] }}</b></td>
                <td class="text-right">{{ (formData.comparisionData.current.billedAmount != null) ?
                    (formData.comparisionData.current.billedAmount | currency) : '' }}
                </td>
                <td class="text-right">{{ (formData.comparisionData.history.billedAmount != null) ?
                    (formData.comparisionData.history.billedAmount | currency) : '' }}
                </td>
            </tr>
            <!--netRevenue-->
            <tr>
                <td class="text-capitalize"><b>{{ columnNameMappingForVideoReport['netRevenue'] }}</b></td>
                <td class="text-right">{{ (formData.comparisionData.current.netRevenue != null) ?
                    (formData.comparisionData.current.netRevenue | number) : '' }}
                </td>
                <td class="text-right">{{ (formData.comparisionData.history.netRevenue != null) ?
                    (formData.comparisionData.history.netRevenue | number) : '' }}
                </td>
            </tr>
            <!--requests-->
            <tr>
                <td class="text-capitalize"><b>{{ columnNameMappingForVideoReport['requests'] }}</b></td>
                <td class="text-right">{{ (formData.comparisionData.current.requests != null) ?
                    (formData.comparisionData.current.requests | number) : '' }}
                </td>
                <td class="text-right">{{ (formData.comparisionData.history.requests != null) ?
                    (formData.comparisionData.history.requests | number) : '' }}
            </tr>
            <!--impressions-->
            <tr>
                <td class="text-capitalize"><b>{{ columnNameMappingForVideoReport['impressions'] }}</b></td>
                <td class="text-right">{{ (formData.comparisionData.current.impressions != null) ?
                    (formData.comparisionData.current.impressions | number) : '' }}
                </td>
                <td class="text-right">{{ (formData.comparisionData.history.impressions != null) ?
                    (formData.comparisionData.history.impressions | number) : '' }}
                </td>
            </tr>
            <!--bids-->
            <tr>
                <td class="text-capitalize"><b>{{ columnNameMappingForVideoReport['bids'] }}</b></td>
                <td class="text-right">{{ (formData.comparisionData.current.bids != null) ?
                    (formData.comparisionData.current.bids | number) : '' }}
                </td>
                <td class="text-right">{{ (formData.comparisionData.history.bids != null) ?
                    (formData.comparisionData.history.bids | number) : '' }}
                </td>
            </tr>
            <!--errors-->
            <tr>
                <td class="text-capitalize"><b>{{ columnNameMappingForVideoReport['errors'] }}</b></td>
                <td class="text-right">{{ (formData.comparisionData.current.errors != null) ?
                    (formData.comparisionData.current.errors | number) : '' }}
                </td>
                <td class="text-right">{{ (formData.comparisionData.history.errors != null) ?
                    (formData.comparisionData.history.errors | number) : '' }}
                </td>
            </tr>
            <!--blocks-->
            <tr>
                <td class="text-capitalize"><b>{{ columnNameMappingForVideoReport['blocks'] }}</b></td>
                <td class="text-right">{{ (formData.comparisionData.current.blocks != null) ?
                    (formData.comparisionData.current.blocks | number) : '' }}
                </td>
                <td class="text-right">{{ (formData.comparisionData.history.blocks != null) ?
                    (formData.comparisionData.history.blocks | number) : '' }}
                </td>
            </tr>
            <!--requestFillRate-->
            <tr>
                <td class="text-capitalize"><b>{{ columnNameMappingForVideoReport['requestFillRate'] }}</b></td>
                <td class="text-right">{{ (formData.comparisionData.current.requestFillRate != null) ?
                    (formData.comparisionData.current.requestFillRate | percentage) : '' }}
                </td>
                <td class="text-right">{{ (formData.comparisionData.history.requestFillRate != null) ?
                    (formData.comparisionData.history.requestFillRate | percentage) : '' }}
                </td>
            </tr>
        </table>


        <!--Unified report-->
        <table class="table no-border"
               ng-if="isShowForUnifiedReport() && overviewData.data && overviewData.data.length > 0">
            <th class="th-no-border"><span style="visibility: hidden">.</span></th>
            <th class="text-right th-no-border"><span style="visibility: hidden">.</span></th>
            <tr ng-repeat="row in customOverviewData">
                <td class="text-capitalize"><b>{{row.label}}</b></td>
                <td class="text-right">{{row.value}}</td>
            </tr>
        </table>
    </div>
</div>

