<div class="panel panel-default">
    <div class="panel-heading">
        <span class="glyphicon glyphicon-th"></span>
        <strong current-page-title></strong>

        <div class="button-bar hidden-xs">
            <button ng-if="!allAdSlot" ui-sref="^.^.tagGenerator({ siteId: currentSiteId })" class="btn btn-sm btn-primary" type="button">
                Generate Ad Tags
            </button>
            <button ng-if="!allAdSlot" ui-sref="^.new({ siteId: currentSiteId })" class="btn btn-sm btn-primary" type="button">
                <span class="glyphicon glyphicon glyphicon-plus"></span>
                New Ad Slot
            </button>
            <button ng-if="allAdSlot" ui-sref="^.new" class="btn btn-sm btn-primary" type="button">
                <span class="glyphicon glyphicon glyphicon-plus"></span>
                New Ad Slot
            </button>
            <button ng-click="backToListSite()" class="btn btn-sm btn-primary" type="button">
                <span class="glyphicon glyphicon glyphicon-arrow-left"></span>
                Back to Site List
            </button>
        </div>
    </div>

    <div ng-show="!site">
        <search-box show-query="true" sb-list="adSlots" search-fields="['id', 'site.name', 'name', 'width', 'height']"></search-box>
    </div>
    <div ng-show="!!site">
        <search-box show-query="true" sb-list="adSlots" search-fields="['id', 'name', 'width', 'height']"></search-box>
    </div>


    <div class="panel-body" ng-if="hasData()">
        <div>
            <table class="table ng-table-responsive" at-sortable-query at-table at-paginated at-list="adSlots" at-config="tableConfig">
                <thead>
                    <tr>
                        <th at-attribute="id">#</th>
                        <th at-attribute="action">Actions</td>
                        <th ng-show="allAdSlot" at-attribute="site.name">Site</th>
                        <th at-attribute="name">Ad Slot</th>
                        <th at-attribute="width">Size</th>
                        <th at-attribute="dynamic">Dynamic</th>
                        <th at-attribute="width">Size</th>
                    </tr>
                </thead>
                <tbody>
                <tr>
                    <td at-implicit at-sortable at-attribute="id" at-initial-sorting="asc"></td>
                    <td at-attribute="action">
                        <div class="btn-group" dropdown>
                            <button type="button" class="btn " dropdown-toggle> Actions <span class="caret"></span> </button>
                            <ul class="dropdown-menu" role="menu">
                                <li ng-if="!!item.width"><a ui-sref="^.^.adTag.list({ adSlotId: item.id })">Manage Ad Tags</a></li>
                                <li><a ng-click="generateAdTag(item)">Generate a Tag</a></li>
                                <li class="divider"></li>
                                <li ng-if="!!item.width"><a ui-sref="^.edit({ id: item.id })">Edit Ad Slot</a></li>
                                <li ng-if="!!item.width"><a ng-click="cloneAdSlot(item)">Clone Ad Slot</a></li>
                                <li ng-if="!item.width"><a ui-sref="^.editDynamic({ id: item.id })">Edit Ad Slot</a></li>
                                <li><a ng-click="confirmDeletion(item)">Delete Ad Slot</a></li>
                            </ul>
                        </div>
                    </td>
                    <td ng-show="allAdSlot" at-implicit at-sortable at-attribute="site.name"></td>
                    <td at-implicit at-sortable at-attribute="name"></td>
                    <td at-sortable at-attribute="width">
                        {{ !!item.width ? item.width + 'x' + item.height : ''}}
                    </td>
                    <td at-attribute="dynamic">
                        <i class="fa" ng-class="!item.width ? 'fa-check-square' : 'fa-square'"></i>
                    </td>
                </tr>
                </tbody>
            </table>

            <at-pagination ng-if="showPagination()" at-list="adSlots" ng-click="setCurrentPageForUrl()" at-config="tableConfig"></at-pagination>
        </div>
    </div>
</div>