<div class="panel panel-default">
    <div class="panel-heading">
        <span current-page-title></span>

        <div class="button-bar" ng-if="!isSubPublisher()">
            <button ui-sref="^.new({videoPublisherId: videoPublisher.id})" class="btn btn-primary btn-sm" type="button">
                <span class="glyphicon glyphicon-plus"></span>
                {{ 'VIDEO_AD_TAG_MODULE.NEW_VIDEO_AD_TAG_PARTNER' | translate }}
            </button>

            <button ng-if="!!videoPublisher" ng-click="backToListVideoPublisher()" class="btn btn-sm btn-primary" type="button">
                <span class="glyphicon glyphicon-arrow-left"></span>
                {{ 'VIDEO_AD_TAG_MODULE.BACK_TO_VIDEO_PUBLISHER' | translate }}
            </button>
        </div>
        <div class="btn-group btnGrouped" dropdown>
            <button type="button" class="btn " dropdown-toggle><span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span></button>
            <ul class="dropdown-menu pull-right" role="menu">
                <li ng-if="!isSubPublisher()"><a ui-sref="^.new({videoPublisherId: videoPublisher.id})">{{ 'VIDEO_AD_TAG_MODULE.NEW_VIDEO_AD_TAG_PARTNER' | translate }}</a></li>
                <li ng-if="!!videoPublisher"><a ng-click="backToListVideoPublisher()">{{ 'VIDEO_AD_TAG_MODULE.BACK_TO_VIDEO_PUBLISHER' | translate }}</a></li>
            </ul>
        </div>
    </div>

   <!-- <search-box show-query="true" sb-list="adTags" search-fields="['id', 'name', 'publisher.company', 'publisher.username', 'uuid']"></search-box>-->

    <form class="input-group col-sm-6 search-box">
        <input class="form-control" ng-model="selectData.query" ng-change="searchData()" placeholder="{{ 'UNIFIED_REPORT_MODULE.SEARCH' | translate }}" type="text"/>
            <span class="input-group-addon">
                {{ tableConfig.totalItems }} records found
            </span>
    </form>

    <div class="panel-body" ng-if="hasData()">
        <div class="table-responsive">
            <table class="table" at-action-sortable-query at-sortable-query at-table at-paginated at-list="adTags" at-config="tableConfig">
                <thead>
                <tr>
                    <th ng-show="isAdmin()" at-attribute="videoPublisher.publisher.company" >{{ 'PUBLISHER' | translate }}</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td at-title="#" at-implicit at-sortable at-attribute="id"></td>
                    <td at-title="{{ 'ACTIONS' | translate }}">
                        <div class="btn-group" dropdown>
                            <button type="button" class="btn " dropdown-toggle> {{ 'ACTIONS' | translate }} <span class="caret"></span> </button>
                            <ul class="dropdown-menu pull-right-dropdown" role="menu">
                                <li><a ui-sref="^.^.demandAdTag.listByVideoTag({ videoTagId: item.id })">{{ 'VIDEO_AD_TAG_MODULE.MANAGEMENT_POSITIONS' | translate}}</a></li>
                                <li><a ng-click="generateVast(item)">{{ 'VIDEO_AD_TAG_MODULE.GENERATE_A_VAST' | translate }}</a></li>
                                <li><a ng-click="showVastTagVast(item)">{{ 'VIDEO_AD_TAG_MODULE.SHOW_VAST_TAG_REQUEST' | translate }}</a></li>
                                <li class="divider"></li>
                                <li ng-click="createDemandAdTag(item)"><a>{{ 'VIDEO_AD_TAG_MODULE.CREATE_DEMAND_AD_TAG' | translate }}</a></li>
                                <li class="divider"></li>
                                <li><a ui-sref="^.^.^.reports.video.report(paramsReport(item))">{{ 'VIEW_TODAY_REPORT' | translate }}</a></li>
                                <li class="divider"></li>
                                <li ng-if="!isSubPublisher()"><a ui-sref="^.edit({ id: item.id })">{{ 'VIDEO_AD_TAG_MODULE.EDIT_VIDEO_AD_TAG' | translate }}</a></li>
                                <li ng-if="!isSubPublisher()"><a ng-click="confirmDeletion(item, $index)">{{ 'VIDEO_AD_TAG_MODULE.DELETE_VIDEO_AD_TAG' | translate }}</a></li>
                            </ul>
                        </div>
                    </td>
                    <td at-implicit at-sortable at-attribute="name" at-initial-sorting="asc" at-title="{{ 'NAME' | translate }}"></td>
                    <td at-implicit at-attribute="videoPublisher.name" at-title="{{ 'VIDEO_PUBLISHER' | translate }}"></td>
                    <td ng-show="isAdmin()" at-implicit at-attribute="videoPublisher.publisher.company" at-title="{{ 'PUBLISHER' | translate }}"></td>
                    <td at-sortable at-attribute="buyPrice" at-title="{{ 'VIDEO_AD_TAG_MODULE.BUY_PRICE' | translate }}">
                        {{ item.buyPrice | currency:'$':2  }}
                    </td>
                </tr>
                </tbody>
            </table>

            <!--<at-pagination at-pagination-query ng-if="showPagination()" at-list="adTags" at-config="tableConfig"></at-pagination>-->
            <pagination ng-if="showPagination()" class="pagination" boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" items-per-page="tableConfig.itemsPerPage" total-items="tableConfig.totalItems" ng-model="availableOptions.currentPage" max-size="tableConfig.maxPages" ng-change="changePage(availableOptions.currentPage)"></pagination>
        </div>
    </div>
</div>