<section class="panel panel-default">
    <div class="panel-heading">
        <span current-page-title></span>

        <div class="button-bar">
            <button ng-if="!isNew" ng-click="backToListAdTag()" class="btn btn-sm btn-primary" type="button">
                <span class="glyphicon glyphicon-arrow-left"></span>
                {{ 'VIDEO_AD_TAG_MODULE.BACK_TO_VIDEO_AD_TAG_LIST' | translate }}
            </button>
        </div>
        <div class="btn-group btnGrouped" dropdown ng-if="!isNew">
            <button type="button" class="btn " dropdown-toggle><span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span></button>
            <ul class="dropdown-menu pull-right" role="menu">
                <li><a ng-click="backToListAdTag()">{{ 'VIDEO_AD_TAG_MODULE.BACK_TO_VIDEO_AD_TAG_LIST' | translate }}</a></li>
            </ul>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <form name="videoAdTagForm" class="col-lg-12 form-validation form-horizontal" role="form" ng-submit="submit()" novalidate>
                <div class="form-group" ng-if="!isNew && isAdmin()">
                    <label class="col-sm-1 control-label">{{ 'PUBLISHER' | translate }}</label>
                    <div class="col-sm-5 form-control-static">
                        {{ selected.publisher.company }}
                    </div>
                </div>

                <div class="form-group" ng-if="isNew && isAdmin()">
                    <label for="inputPublisher" class="col-sm-1 control-label">{{ 'PUBLISHER' | translate }}</label>
                    <div class="col-sm-5">
                        <ui-select name="publisher" id="inputPublisher" ng-model="selected.publisher" ng-required="true" server-error on-select="selectPublisher($item)">
                            <ui-select-match placeholder="{{ 'PUBLISHER_MODULE.SELECT_A_PUBLISHER' | translate }}">{{ $select.selected.company }}</ui-select-match>
                            <ui-select-choices repeat="publisher.id as publisher in publishers | filter:$select.search">
                                {{ publisher.company }}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputVideoPublisher" class="col-sm-1 control-label">{{ 'VIDEO_PUBLISHER' | translate }}</label>
                    <div class="col-sm-5">
                        <ui-select on-select="selectVideoPublisher($item, $model)" name="videoPublisher" id="inputVideoPublisher" ng-model="adTag.videoPublisher" ng-disabled="!selected.publisher && isAdmin()" ng-required="true" server-error>
                            <ui-select-match placeholder="{{ 'VIDEO_PUBLISHER_MODULE.SELECT_A_VIDEO_PUBLISHER' | translate }}">{{ selectedVideoPublisher.name }}</ui-select-match>
                            <ui-select-choices  repeat="videoPublisher.id as videoPublisher in videoPublishers | selectedPublisher:selected.publisher">
                                {{ videoPublisher.name }}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputName" class="col-sm-1 control-label">{{ 'NAME' | translate }}</label>
                    <div class="col-sm-5">
                        <input name="name" ng-model="adTag.name" server-error ng-required="true" ng-minlength="2" type="text" class="form-control" id="inputName" placeholder="{{ 'NAME' | translate }}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label">{{ 'VIDEO_AD_TAG_MODULE.BUY_PRICE' | translate }}</label>
                    <div class="col-sm-5">
                        <input name="buyPrice" ng-model="adTag.buyPrice" min="0" ng-pattern="/^\-?\d+((\.|\,)\d+)?$/" type="text" class="form-control" placeholder="{{ 'VIDEO_AD_TAG_MODULE.BUY_PRICE' | translate }}">
                    </div>
                </div>


                <!--<div class="form-group">-->
                    <!--<label class="col-sm-1 control-label">{{ 'VIDEO_AD_TAG_MODULE.PLAYER_SIZE' | translate }}</label>-->
                    <!--<div class="col-sm-5">-->
                        <!--<div ng-repeat="option in playerSizeOptions" class="check_video_player">-->
                            <!--<label class="ui-checkbox"><input name="option[]" type="checkbox" ng-click="toggleTargeting(option.key)" ng-checked="hasTargeting(option.key)">-->
                                <!--<span>{{ option.label }}</span>-->
                            <!--</label>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

                <!--<div class="form-group">-->
                    <!--<label for="isServerToServer" class="col-sm-1 control-label">{{ 'VIDEO_AD_TAG_MODULE.SERVER_TO_SERVER' | translate }}</label>-->
                    <!--<div class="col-sm-5">-->
                        <!--<label class="ui-checkbox"><input server-error name="active" type="checkbox" ng-model="adTag.isServerToServer" id="isServerToServer"><span></span></label>-->
                    <!--</div>-->
                <!--</div>-->

                <div class="form-group">
                    <label for="runOn" class="col-sm-1 control-label">Run On</label>
                    <div class="col-sm-5">
                        <ui-select name="platform" id="runOn" ng-model="adTag.runOn" ng-required="true" server-error>
                            <ui-select-match placeholder="Select a run">{{ $select.selected.label }}</ui-select-match>
                            <ui-select-choices repeat="runOn.key as runOn in runOns | filter:$select.search">
                                {{ runOn.label }}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>

                <div class="form-group" ng-if="adTag.runOn != 'Server-Side VAST Only'">
                    <label for="inputPlatform" class="col-sm-1 control-label">{{ 'VIDEO_AD_TAG_MODULE.PLATFORM' | translate }}</label>
                    <div class="col-sm-5">
                        <ui-select multiple name="platform" id="inputPlatform" ng-model="adTag.platform" ng-required="true" server-error on-select="$item.search = $select.search; $select.search = '';">
                            <ui-select-match placeholder="{{ 'VIDEO_AD_TAG_MODULE.SELECT_PLATFORM' | translate }}">{{ $item.label }}</ui-select-match>
                            <ui-select-choices repeat="platform.key as platform in platformOption | filter:$select.search">
                                {{ platform.label }}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>

                <div class="form-group" ng-if="isAutoOptimizeModule()">
                    <label for="inputAutoOptimize" class="col-sm-1 control-label">{{ 'VIDEO_AD_TAG_MODULE.AUTO_OPTIMIZE' | translate }}</label>
                    <div class="col-sm-5">
                        <div>
                            <label class="ui-checkbox">
                                <input name="autoOptimize" type="checkbox" ng-model="adTag.autoOptimize" server-error id="inputAutoOptimize">
                                <span></span>
                            </label>
                        </div>
                        <span class="help-block"></span>
                    </div>
                </div>

                <!--choose existed integration-->
                <div class="form-group" ng-if="adTag.autoOptimize === true && isAutoOptimizeModule()">
                    <label for="integrations" class="col-sm-1 control-label">{{ 'AD_SLOT_MODULE.INTEGRATIONS' | translate }}</label>
                    <div class="col-sm-5">
                        <ui-select id="integrations" ng-model="adTag.optimizationIntegration"
                                   ng-change="onChangeIntegration($select.selected)"
                                   server-error reset-search-input="'false'">
                            <ui-select-match placeholder="{{ 'AD_SLOT_MODULE.SELECT_INTEGRATION_PLACE_HOLDER' | translate }}">
                               {{ optimizationIntegration.selected.name }} ({{ optimizationIntegration.optimizationRule.name }})
                            </ui-select-match>
                            <ui-select-choices repeat=" integration in integrations | filter:$select.search">
                                {{ integration.name }} ({{integration.optimizationRule.name}})
                            </ui-select-choices>
                        </ui-select>

                        <span class="help-block" ng-if="(integrations && integrations.length === 0) || !integrations">There is no optimization integration. Go to
                            <a ui-sref="^.^.^.unifiedReport.autoOptimization.list">List optimization rules</a> and assign new integration for desired optimization rule.
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-1 col-sm-5">
                        <button ng-disabled="!isFormValid()" ng-disabled="formProcessing" type="submit" class="btn btn-success">{{ 'SUBMIT' | translate }}</button>
                        <div ng-show="!isFormValid()" class="callout callout-info">
                            <p>{{ 'VALID_FORM' | translate }}</p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>