<section class="panel panel-default">
    <div class="panel-heading">{{'NEW_DASHBOARD.TOP_PERFORMERS'|translate}}</div>
    <div class="panel-body">
        <!--display report-->
        <div ng-if="isShowForDisplay() && isAdmin">
            <tabset class="nav-tab-margin">
                <tab heading="{{ 'NEW_DASHBOARD.TOP_PUBLISHERS' | translate }}">
                    <top-statistics-admin config='configTopPublishers' info="topPerformersData.topPublishers"></top-statistics-admin>
                </tab>
                <tab heading="{{ 'NEW_DASHBOARD.TOP_SITES' | translate }}">
                    <top-statistics-admin config='configTopSites' info="topPerformersData.topSites"></top-statistics-admin>
                </tab>
            </tabset>
        </div>

        <div ng-if="isShowForDisplay() && !isAdmin">
            <tabset class="nav-tab-margin">
                <tab heading="{{ 'NEW_DASHBOARD.TOP_SITES' | translate }}">
                    <top-site-publisher config='configTopSites' info="topPerformersData.topSites"></top-site-publisher>
                </tab>
                <tab heading="{{ 'NEW_DASHBOARD.TOP_AD_NETWORKS' | translate }}">
                    <top-ad-network-publisher config='configTopAdNetworks' info="topPerformersData.topAdNetworks"></top-ad-network-publisher>
                </tab>
            </tabset>
        </div>

        <!--video report-->
        <div ng-if="isShowForVideo()">
            <tabset class="nav-tab-margin">
                <tab heading="{{ 'NEW_DASHBOARD.TOP_VIDEO_REPORTS' | translate }}">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th ng-show="hasKeyObjectForVideoReport(topPerformersVideoData.reports[0], 'date')">{{ columnNameMappingForVideoReport['date'] }}
                                    <span class="glyphicon glyphicon-minus" ng-show="false"></span>
                                </th>

                                <th ng-show="isAdmin && hasKeyObjectForVideoReport(topPerformersVideoData.reports[0], 'billedAmount')" ng-click="onClickSortForVideo('billedAmount')">{{ columnNameMappingForVideoReport['billedAmount'] }}
                                    <span class="glyphicon glyphicon-minus" ng-show="!isShowSortIconForVideoReport('billedAmount')"></span>
                                    <span class="glyphicon" ng-show="isShowSortIconForVideoReport('billedAmount')" ng-class="getSortIconClass()"></span>
                                </th>

                                <th ng-show="hasKeyObjectForVideoReport(topPerformersVideoData.reports[0], 'requests')" ng-click="onClickSortForVideo('requests')">{{ columnNameMappingForVideoReport['requests'] }}
                                    <span class="glyphicon glyphicon-minus" ng-show="!isShowSortIconForVideoReport('requests')"></span>
                                    <span class="glyphicon" ng-show="isShowSortIconForVideoReport('requests')" ng-class="getSortIconClass()"></span>
                                </th>

                                <th ng-show="hasKeyObjectForVideoReport(topPerformersVideoData.reports[0], 'impressions')" ng-click="onClickSortForVideo('impressions')">{{ columnNameMappingForVideoReport['impressions'] }}
                                    <span class="glyphicon glyphicon-minus" ng-show="!isShowSortIconForVideoReport('impressions')"></span>
                                    <span class="glyphicon" ng-show="isShowSortIconForVideoReport('impressions')" ng-class="getSortIconClass()"></span>
                                </th>

                                <th ng-show="hasKeyObjectForVideoReport(topPerformersVideoData.reports[0], 'requestFillRate')" ng-click="onClickSortForVideo('requestFillRate')">{{ columnNameMappingForVideoReport['requestFillRate'] }}
                                    <span class="glyphicon glyphicon-minus" ng-show="!isShowSortIconForVideoReport('requestFillRate')"></span>
                                    <span class="glyphicon" ng-show="isShowSortIconForVideoReport('requestFillRate')" ng-class="getSortIconClass()"></span>
                                </th>

                                <th ng-show="hasKeyObjectForVideoReport(topPerformersVideoData.reports[0], 'bids')" ng-click="onClickSortForVideo('bids')">{{ columnNameMappingForVideoReport['bids'] }}
                                    <span class="glyphicon glyphicon-minus" ng-show="!isShowSortIconForVideoReport('bids')"></span>
                                    <span class="glyphicon" ng-show="isShowSortIconForVideoReport('bids')" ng-class="getSortIconClass()"></span>
                                </th>

                                <th ng-show="hasKeyObjectForVideoReport(topPerformersVideoData.reports[0], 'errors')" ng-click="onClickSortForVideo('errors')">{{ columnNameMappingForVideoReport['errors'] }}
                                    <span class="glyphicon glyphicon-minus" ng-show="!isShowSortIconForVideoReport('errors')"></span>
                                    <span class="glyphicon" ng-show="isShowSortIconForVideoReport('errors')" ng-class="getSortIconClass()"></span>
                                </th>

                                <th ng-show="hasKeyObjectForVideoReport(topPerformersVideoData.reports[0], 'blocks')" ng-click="onClickSortForVideo('blocks')">{{ columnNameMappingForVideoReport['blocks'] }}
                                    <span class="glyphicon glyphicon-minus" ng-show="!isShowSortIconForVideoReport('blocks')"></span>
                                    <span class="glyphicon" ng-show="isShowSortIconForVideoReport('blocks')" ng-class="getSortIconClass()"></span>
                                </th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr dir-paginate="report in topPerformersVideoData.reports | itemsPerPage:tableConfig.itemsPerPage">
                                <td ng-show="hasKeyObjectForVideoReport(report, 'date')">
                                    {{ report.date | date }}
                                </td>

                                <td ng-show="isAdmin && hasKeyObjectForVideoReport(report, 'billedAmount')">
                                    {{ (report.billedAmount != null) ? (report.billedAmount | currency) : '-' }}
                                </td>

                                <td ng-show="hasKeyObjectForVideoReport(report, 'requests')">
                                    {{ report.requests | number }}
                                </td>

                                <td ng-show="hasKeyObjectForVideoReport(report, 'impressions')">
                                    {{ report.impressions | number }}
                                </td>

                                <td ng-show="hasKeyObjectForVideoReport(report, 'requestFillRate')">
                                    {{ report.requestFillRate | percentage }}
                                </td>

                                <td ng-show="hasKeyObjectForVideoReport(report, 'bids')">
                                    {{ report.bids | number }}
                                </td>

                                <td ng-show="hasKeyObjectForVideoReport(report, 'errors')">
                                    {{ report.errors | number }}
                                </td>

                                <td ng-show="hasKeyObjectForVideoReport(report, 'blocks')">
                                    {{ (report.blocks != null) ? (report.blocks | number) : '-' }}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </tab>
            </tabset>
        </div>


        <div class="clearfix"></div>
        <div class="text-center pt-10" ng-show="showLoading">
            <img src="../../../../assets/images/ajax-loader.gif" height="25" width="25"/>
        </div>
    </div>
</section>