<section class="panel panel-default">
    <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> <span current-page-title></span></strong></div>
    <div class="panel-body">
        <form name="adNetworkForm" class="form-validation form-horizontal" role="form" ng-submit="submit()" novalidate>
            <div class="form-group" ng-if="!isNew && allowPublisherSelection">
                <label class="col-sm-2 control-label">Publisher</label>
                <div class="col-sm-10 form-control-static">
                    {{ adNetwork.publisher.username }}
                </div>
            </div>


            <div class="form-group" ng-if="isNew && allowPublisherSelection">
                <label for="inputPublisher" class="col-sm-2 control-label">Publisher</label>
                <div class="col-sm-10">
                    <ui-select name="publisher" id="publisher" ng-model="adNetwork.publisher" ng-required="true" server-error>
                        <ui-select-match placeholder="Select a publisher">{{ $select.selected.username }}</ui-select-match>
                        <ui-select-choices repeat="publisher.id as publisher in publishers | filter: { username: $select.search }">
                            {{ publisher.username }}
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>

            <div class="form-group">
                <label for="inputName" class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                    <input
                            name="name"
                            ng-model="adNetwork.name"
                            server-error
                            ng-required="true"
                            ng-minlength="2"
                            type="text"
                            class="form-control"
                            id="inputName"
                            placeholder="Ad network name">
                </div>
            </div>
            <div class="form-group">
                <label for="inputUrl" class="col-sm-2 control-label">Url</label>
                <div class="col-sm-10">
                    <input
                            name="url"
                            ng-model="adNetwork.url"
                            server-error
                            type="text"
                            class="form-control"
                            id="inputUrl"
                            placeholder="An optional url to this ad network">
                </div>
            </div>
            <div class="form-group">
                <label for="inputActive" class="col-sm-2 control-label">Active</label>
                <div class="col-sm-10">
                    <div class="checkbox">
                        <label class="ui-checkbox">
                            <input
                                name="active"
                                type="checkbox"
                                ng-model="adNetwork.active"
                                server-error
                                id="inputActive">
                            <span></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button ng-disabled="!isFormValid()" ng-disabled="formProcessing" type="submit" class="btn btn-success">Submit</button>
                    <div class="callout callout-info">
                        <p>Submit button will be active only when all fields are valid.</p>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>