<div class="modal-header">
    <h4 class="modal-title">Help Text Macros</h4>
</div>
<div class="modal-body" style="overflow: auto; max-height: 500px">
    <ul class="list-unstyled report list-info">
        <li ng-repeat="macro in macrosOptions" style="display: flex; cursor: text">
            <label>{{ macro.root }}</label>
            <span class="pull-right" style="width: 70%">{{ macro.helpText }}</span>
        </li>
    </ul>
</div>
<div class="modal-dialog-footer">
    <button class="btn btn-primary" ng-click="$dismiss()">{{ 'CLOSE' | translate }}</button>
</div>