<div class="panel panel-default">
    <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> <span current-page-title></span></strong></div>
    <div class="panel-body">
        <button ui-sref="^.new({ adSlotId: adSlot.id })" class="btn btn-w-md btn-gap-v btn-primary" type="button">New Ad Tag</button>
        <button ui-sref="^.^.adSlot.list({ siteId: adSlot.site })" class="btn btn-w-md btn-gap-v btn-primary" type="button">Back to Ad Slot List</button>
    </div>

    <table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Actions</th>
            <th>Position</th>
            <th>Name</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody ui-sortable="sortableOptions" ng-model="adTags">
        <tr ng:repeat="adTag in adTags" class="item" ng-class="{'moveable': !sortableOptions['disabled']}">
            <td>{{ adTag.id }}</td>
            <td>
                <div class="btn-group" dropdown on-toggle="actionDropdownToggled(open)">
                    <button type="button" class="btn dropdown-toggle"> Actions <span class="caret"></span> </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a ui-sref="^.edit({ id: adTag.id })">Edit Ad Tag</a></li>
                        <li><a dropdown-toggle ng-click="toggleAdTagStatus(adTag)">{{ adTag.active ? 'Pause' : 'Activate' }} Ad Tag</a></li>
                        <li><a dropdown-toggle ng-click="confirmDeletion(adTag, $index)">Delete Ad Tag</a></li>
                    </ul>
                </div>
            </td>
            <td><span class="label label-default">{{ adTag.position }}</span></td>
            <td>{{ adTag.name }}</td>
            <td><span class="label" ng-class="adTag.active ? 'label-success' : 'label-danger'">{{ adTag.active ? 'Active' : 'Paused' }}</span></td>
        </tr>
    </tbody>
    </table>
</div>