.expressions-group {
  border: 1px solid #ddd;
  padding: 10px;
  margin-top: 10px;
 }

.expressions-group {
  .expression-label {
    margin-bottom: 0;
  }

  .add-group-bar {
    margin-bottom: 10px;
  }

  .form-inline {
    margin-top: 5px;
  }

  .form-group {
    margin: 0;
  }

  .condition .form-control {
    margin-right: 5px;
  }

  .operators {
    margin-right: 5px;
  }

  .expect-adSlot {
    margin-bottom: 10px;
    width: 45.71%;
  }

  .select-county .ui-select-search {
    width: 100px !important;
  }
}
.expression-show {
  padding-top: 20px;
}

.show-query-builder {
  min-height: 40px;
  line-height: 40px;
  padding-left: 10px;
}

.condition {
  .select-data-type.form-group {
    @include ui-select-width(180px);
  }

  .form-control {
    margin-right: 5px;
  }
}

.enable-drag-drop-query-builder {
  margin-left: 30px;
}

.highlight {
  color: black;
  background-color: #ddd;
}

.select-country {
    max-width: 200px;
}