<section class="panel panel-default">
    <div class="panel-heading"><span class="glyphicon glyphicon-th"></span> <strong current-page-title></strong></div>
    <div class="panel-body">
        <div class="row">
            <form name="userForm" class="col-lg-6 form-validation form-horizontal userForm" role="form" ng-submit="submit()" novalidate>
                <div class="form-group">
                    <label for="inputUsername" class="col-sm-2 control-label">{{ 'PUBLISHER_MODULE.USERNAME' | translate }} <strong class="text-danger">*</strong></label>
                    <div class="col-sm-10">
                        <input server-error name="username" ng-model="publisher.username" ng-required="true" ng-minlength="2" type="text" autocomplete="off" class="form-control" id="inputUsername" placeholder="{{ 'PUBLISHER_MODULE.USERNAME' | translate }}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="col-sm-2 control-label">{{ 'PUBLISHER_MODULE.PASSWORD' | translate }} <strong class="text-danger" ng-if="isNew">*</strong></label>
                    <div class="col-sm-10">
                        <input server-error name="plainPassword" ng-model="publisher.plainPassword" ng-required="isNew" ng-minlength="2" type="password" autocomplete="off" class="form-control" id="inputPassword" placeholder="{{ 'PUBLISHER_MODULE.PASSWORD' | translate }}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputRepeatPassword" class="col-sm-2 control-label">{{ 'PUBLISHER_MODULE.REPEAT_PASSWORD' | translate }} <strong class="text-danger" ng-if="isNew">*</strong></label>
                    <div class="col-sm-10">
                        <input server-error name="inputRepeatPassword" ng-model="repeatPassword" ng-required="isNew" ng-minlength="2" type="password" autocomplete="off" class="form-control" id="inputRepeatPassword" placeholder="{{ 'PUBLISHER_MODULE.REPEAT_PASSWORD' | translate }}">
                        <span class="help-block">{{ 'PUBLISHER_MODULE.HELP_BLOCK_REPEAT_PASSWORD' | translate }}</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputCompany" class="col-sm-2 control-label">{{ 'PUBLISHER_MODULE.COMPANY' | translate }} <strong class="text-danger">*</strong></label>
                    <div class="col-sm-10">
                        <input server-error name="company" ng-model="publisher.company" ng-required="true" type="text" class="form-control" id="inputCompany" placeholder="{{ 'PUBLISHER_MODULE.COMPANY' | translate }}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail" class="col-sm-2 control-label">{{ 'PUBLISHER_MODULE.EMAIL' | translate }} <strong class="text-danger">*</strong></label>
                    <div class="col-sm-10">
                        <input server-error ng-required="true" name="email" ng-model="publisher.email" type="email" class="form-control" id="inputEmail" placeholder="{{ 'PUBLISHER_MODULE.EMAIL' | translate }}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputFirstName" class="col-sm-2 control-label">{{ 'PUBLISHER_MODULE.FIRST_NAME' | translate }}</label>
                    <div class="col-sm-10">
                        <input server-error name="firstName" ng-model="publisher.firstName" type="text" class="form-control" id="inputFirstName" placeholder="{{ 'PUBLISHER_MODULE.FIRST_NAME' | translate }}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputLastName" class="col-sm-2 control-label">{{ 'PUBLISHER_MODULE.LAST_NAME' | translate }}</label>
                    <div class="col-sm-10">
                        <input server-error name="lastName" ng-model="publisher.lastName" type="text" class="form-control" id="inputLastName" placeholder="{{ 'PUBLISHER_MODULE.LAST_NAME' | translate }}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPhone" class="col-sm-2 control-label">{{ 'PUBLISHER_MODULE.PHONE' | translate }}</label>
                    <div class="col-sm-10">
                        <input server-error name="phone" ng-model="publisher.phone" type="text" class="form-control" id="inputPhone" placeholder="{{ 'PUBLISHER_MODULE.PHONE' | translate }}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputAddress" class="col-sm-2 control-label">{{ 'PUBLISHER_MODULE.ADDRESS' | translate }}</label>
                    <div class="col-sm-10">
                        <input server-error name="address" ng-model="publisher.address" type="text" class="form-control" id="inputAddress" placeholder="{{ 'PUBLISHER_MODULE.ADDRESS' | translate }}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPostalCode" class="col-sm-2 control-label">{{ 'PUBLISHER_MODULE.POSTAL_CODE' | translate }}</label>
                    <div class="col-sm-10">
                        <input server-error name="postalCode" ng-model="publisher.postalCode" type="text" class="form-control" id="inputPostalCode" placeholder="{{ 'PUBLISHER_MODULE.POSTAL_CODE' | translate }}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputCity" class="col-sm-2 control-label">{{ 'PUBLISHER_MODULE.CITY' | translate }}</label>
                    <div class="col-sm-10">
                        <input server-error name="city" ng-model="publisher.city" type="text" class="form-control" id="inputCity" placeholder="{{ 'PUBLISHER_MODULE.CITY' | translate }}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputState" class="col-sm-2 control-label">{{ 'PUBLISHER_MODULE.STATE' | translate }}</label>
                    <div class="col-sm-10">
                        <input server-error name="state" ng-model="publisher.state" type="text" class="form-control" id="inputState" placeholder="{{ 'PUBLISHER_MODULE.STATE' | translate }}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputCountry" class="col-sm-2 control-label">{{ 'PUBLISHER_MODULE.COUNTRY' | translate }}</label>
                    <div class="col-sm-10">
                        <select name="country" ng-model="publisher.country" class="form-control" id="inputCountry">
                            <option disabled ng-selected="true">Country...</option>
                            <option value="{{ country.name }}" ng-selected="publisher.country == country.name" ng-repeat="country in countries">{{ country.name }}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputTagDomain" class="col-sm-2 control-label">{{ 'PUBLISHER_MODULE.TAG_DOMAIN' | translate }}</label>
                    <div class="col-sm-10">
                        <input server-error name="tagDomain" ng-model="publisher.tagDomain" pattern="[a-z0-9]+([\-\.]{1}[a-z0-9]+)*\.[a-z]{2,6}" type="text" class="form-control" id="inputTagDomain" placeholder="{{ 'PUBLISHER_MODULE.TAG_DOMAIN' | translate }}">
                        <span class="help-block">{{ 'PUBLISHER_MODULE.HELP_BLOCK_TAG_DOMAIN' | translate }}</span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button ng-disabled="!isFormValid()" ng-disabled="formProcessing" type="submit" class="btn btn-success">{{ 'SUBMIT' | translate }}</button>
                        <div ng-show="!isFormValid()" class="callout callout-info">
                            <p>{{ 'VALID_FORM' | translate }}</p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>