<div class="panel panel-default">
    <div class="panel-heading">
        <span class="glyphicon glyphicon-th"></span>
        <strong current-page-title></strong>

        <div class="button-bar">
            <button ui-sref="^.new" class="btn btn-sm btn-primary" type="button">
                <span class="glyphicon glyphicon-plus"></span>
                {{ 'RON_AD_SLOT_MODULE.NEW_RON_AD_SLOT' | translate }}
            </button>
        </div>

        <div class="btn-group btnGrouped" dropdown>
            <button type="button" class="btn " dropdown-toggle><span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span></button>
            <ul class="dropdown-menu pull-right" role="menu">
                <li><a ui-sref="^.new">{{ 'RON_AD_SLOT_MODULE.NEW_RON_AD_SLOT' | translate }}</a></li>
            </ul>
        </div>
    </div>

    <search-box show-query="true" sb-list="ronAdSlots" search-fields="['id', 'libraryAdSlot.name', 'libraryAdSlot.width', 'libraryAdSlot.height']"></search-box>

    <div class="panel-body" ng-if="hasData()">
        <div class="table-responsive">
            <table class="table" at-sortable-query at-table at-paginated at-list="ronAdSlots" at-config="tableConfig">
                <thead>
                <tr>
                    <th ng-show="isAdmin()" at-attribute="libraryAdSlot.publisher.company">{{ 'PUBLISHER' | translate }}</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td at-implicit at-title="#" at-sortable at-attribute="id"></td>
                    <td at-title="{{ 'ACTIONS' | translate }}" at-attribute="action">
                        <div class="btn-group" dropdown>
                            <button type="button" class="btn " dropdown-toggle> {{ 'ACTIONS' | translate }} <span class="caret"></span> </button>
                            <ul class="dropdown-menu pull-right-dropdown" role="menu">
                                <li><a ng-click="generateAdTag(item)">{{ 'AD_SLOT_MODULE.GENERATE_A_TAGS' | translate }}</a></li>
                                <li class="divider"></li>
                                <li><a ui-sref="^.^.^.reports.performance.ronAdSlotAdTags({ ronAdSlotId: item.id, startDate: today})">{{ 'VIEW_TODAY_REPORT' | translate }}</a></li>
                                <li class="divider"></li>
                                <li><a ui-sref="^.edit({ id: item.id })">{{ 'RON_AD_SLOT_MODULE.EDIT_RON_AD_SLOT' | translate }}</a></li>
                                <li><a ng-click="confirmDeletion(item)">{{ 'RON_AD_SLOT_MODULE.DELETE_RON_AD_SLOT' | translate }}</a></li>
                                <li><a  ui-sref="^.^.^.tagLibrary.adSlot.edit({ id: item.libraryAdSlot.id})">{{ 'AD_SLOT_MODULE.EDIT_AD_SLOT_IN_LIBRARY' | translate }}</a></li>
                            </ul>
                        </div>
                    </td>
                    <td at-title="{{ 'RON_AD_SLOT_MODULE.LIBRARY_AD_SLOT' | translate }}" at-attribute="libraryAdSlot.name" at-implicit at-initial-sorting="asc" at-sortable></td>
                    <td ng-show="isAdmin()" at-title="{{ 'PUBLISHER' | translate }}" at-implicit at-sortable at-attribute="libraryAdSlot.publisher.company"></td>
                    <td at-title="{{ 'AD_SLOT_MODULE.TYPE' | translate }}" at-implicit at-attribute="libraryAdSlot.libType" at-sortable></td>
                    <td at-title="{{ 'RON_AD_SLOT_MODULE.SEGMENTS' | translate }}" at-sortable>
                        <ul ng-repeat="segmentItem in item.ronAdSlotSegments">
                            <li>{{ segmentItem.segment.name }}</li>
                        </ul>
                    </td>
                    <td at-title="{{ 'SITE_MODULE.RTB' | translate }}" at-attribute="rtb" at-sortable>
                        {{ item.libraryAdSlot.libType != 'display' ? '' : rtbStatusLabels[item.rtbStatus] }}
                    </td>
                </tr>
                </tbody>
            </table>

            <at-pagination at-pagination-query ng-if="showPagination()" at-list="ronAdSlots" at-config="tableConfig"></at-pagination>
        </div>
    </div>
</div>