<div class="modal-header">
    <h4 class="modal-title">{{ 'VIDEO_DEMAND_PARTNER_MODULE.CONFIRM_PAUSE_DEMAND_PARTNER' | translate }}</h4>
</div>
<div class="modal-body">
    <p>{{ 'VIDEO_DEMAND_PARTNER_MODULE.NOTE_CONFIRM_PAUSE_DEMAND_PARTNER' | translate }}</p>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="$dismiss()">{{ 'NO_CANCEL' | translate }}</button>
    <button class="btn btn-danger" ng-click="$close()">{{ 'AD_NETWORK_MODULE.YES_PAUSE' | translate }}</button>
</div>