<!--statistics-->
<div class="row">
    <div class="col-lg-4 col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading"><span class="glyphicon glyphicon-stats"></span> Platform Statistics ({{ dashboard.platformStatistics.startDate | date}} - {{ dashboard.platformStatistics.endDate | date }})</div>
            <ul class="list-unstyled report list-info">
                <li>
                    <label>Billed Amount</label>
                    <span class="pull-right">{{ dashboard.platformStatistics.estRevenue | currency }}</span>
                </li>
                <li>
                    <label>Total Opportunities</label>
                    <span class="pull-right">{{ dashboard.platformStatistics.totalOpportunities | number }}</span>
                </li>
                <li>
                    <label>Slot Opportunities</label>
                    <span class="pull-right">{{ dashboard.platformStatistics.slotOpportunities | number }}</span>
                </li>
                <li>
                    <label>Impressions</label>
                    <span class="pull-right">{{ dashboard.platformStatistics.impressions | number }}</span>
                </li>
                <li>
                    <label>Passbacks</label>
                    <span class="pull-right">{{ dashboard.platformStatistics.passbacks | number }}</span>
                </li>
                <li>
                    <label>Fill Rate</label>
                    <span class="pull-right">{{ dashboard.platformStatistics.fillRate | percentage }}</span>
                </li>
            </ul>
            <div>
                <div class="total-opportunities"></div>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading"><span class="glyphicon glyphicon-stats"></span> Statistics For Today ({{ dashboard.todaySummary.date | date }})</div>
            <ul class="list-unstyled report list-info">
                <li>
                    <label>Billed Amount</label>
                    <span class="pull-right">{{ dashboard.todaySummary.estRevenue | currency }}</span>
                </li>
                <li>
                    <label>Total Opportunities</label>
                    <span class="pull-right">{{ dashboard.todaySummary.totalOpportunities | number }}</span>
                </li>
                <li>
                    <label>Slot Opportunities</label>
                    <span class="pull-right">{{ dashboard.todaySummary.slotOpportunities | number }}</span>
                </li>
                <li>
                    <label>Impressions</label>
                    <span class="pull-right">{{ dashboard.todaySummary.impressions | number }}</span>
                </li>
                <li>
                    <label>Passbacks</label>
                    <span class="pull-right">{{ dashboard.todaySummary.passbacks | number }}</span>
                </li>
                <li>
                    <label>Fill Rate</label>
                    <span class="pull-right">{{ dashboard.todaySummary.fillRate | percentage }}</span>
                </li>
            </ul>
            <div>
                <div class="total-opportunities"></div>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading"><span class="glyphicon glyphicon-stats"></span> Statistics For Yesterday ({{ dashboard.yesterdaySummary.date | date }})</div>
            <ul class="list-unstyled report list-info">
                <li>
                    <label>Billed Amount</label>
                    <span class="pull-right">{{ dashboard.yesterdaySummary.estRevenue | currency }}</span>
                </li>
                <li>
                    <label>Total Opportunities</label>
                    <span class="pull-right">{{ dashboard.yesterdaySummary.totalOpportunities | number }}</span>
                </li>
                <li>
                    <label>Slot Opportunities</label>
                    <span class="pull-right">{{ dashboard.yesterdaySummary.slotOpportunities | number }}</span>
                </li>
                <li>
                    <label>Impressions</label>
                    <span class="pull-right">{{ dashboard.yesterdaySummary.impressions | number }}</span>
                </li>
                <li>
                    <label>Passbacks</label>
                    <span class="pull-right">{{ dashboard.yesterdaySummary.passbacks | number }}</span>
                </li>
                <li>
                    <label>Fill Rate</label>
                    <span class="pull-right">{{ dashboard.yesterdaySummary.fillRate | percentage }}</span>
                </li>
            </ul>
            <div>
                <div class="total-opportunities"></div>
            </div>
        </div>
    </div>
</div>
<!--statistics ./end-->

<!--chart-->
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading"><span class="glyphicon glyphicon-th"></span> Earnings</div>
            <highchart class="chartConfigPlatform" config="chartConfigPlatform"></highchart>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading"><span class="glyphicon glyphicon-th"></span> Platform Overview</div>
            <highchart config="chartConfigOpportunities"></highchart>
        </div>
    </div>
</div>
<!--chart ./ end-->

<!--table top publisher-->
<div class="panel panel-default">
    <div class="panel-heading"><span class="glyphicon glyphicon-th"></span> Top Publishers ({{ dashboard.platformStatistics.startDate | date}} - {{ dashboard.platformStatistics.endDate | date }})</div>

    <table class="table table-bordered table-striped cf" at-table at-paginated at-list="topPublishers" at-config="configPaginationTopPublishers">
        <thead></thead>
        <tbody>
        <tr>
            <td at-title="Publisher" at-implicit at-sortable at-attribute="name"></td>
            <td at-title="Total Opportunities" at-attribute="totalOpportunities" at-sortable at-initial-sorting="desc">
                {{ item.totalOpportunities | number }}
            </td>
            <td at-title="Slot Opportunities" at-attribute="slotOpportunities" at-sortable>
                {{ item.slotOpportunities | number }}
            </td>
            <td at-title="Fill Rate" at-attribute="fillRate" at-sortable>
                {{ item.fillRate | percentage }}
            </td>
            <td at-title="Impressions" at-attribute="impressions" at-sortable>
                {{ item.impressions | number }}
            </td>
            <td at-title="Passbacks" at-attribute="passbacks" at-sortable>
                {{ item.passbacks | number }}
            </td>
        </tr>
        </tbody>
    </table>

    <!--pagination-->
    <at-pagination
        ng-if="configPaginationTopPublishers.itemsPerPage < configPaginationTopPublishers.itemsTotal"
        at-list="topPublishers"
        at-config="configPaginationTopPublishers">
    </at-pagination>
</div>
<!--table top publisher./ end-->

<!--table top site-->
<div class="panel panel-default">
    <div class="panel-heading"><span class="glyphicon glyphicon-th"></span> Top Sites ({{ dashboard.platformStatistics.startDate | date}} - {{ dashboard.platformStatistics.endDate | date }})</div>

    <table class="table table-bordered table-striped cf" at-table at-paginated at-list="topSites" at-config="configPaginationTopSites">
        <thead></thead>
        <tbody>
        <tr>
            <td at-title="Site" at-implicit at-sortable at-attribute="name"></td>
            <td at-title="Total Opportunities" at-attribute="totalOpportunities" at-sortable at-initial-sorting="desc">
                {{ item.totalOpportunities | number }}
            </td>
            <td at-title="Slot Opportunities" at-attribute="slotOpportunities" at-sortable>
                {{ item.slotOpportunities | number }}
            </td>
            <td at-title="Fill Rate" at-attribute="fillRate" at-sortable>
                {{ item.fillRate | percentage }}
            </td>
            <td at-title="Impressions" at-attribute="impressions" at-sortable>
                {{ item.impressions | number }}
            </td>
            <td at-title="Passbacks" at-attribute="passbacks" at-sortable>
                {{ item.passbacks | number }}
            </td>
        </tr>
        </tbody>
    </table>
    <!--pagination-->
    <at-pagination
        ng-if="configPaginationTopSites.itemsPerPage < configPaginationTopSites.itemsTotal"
        at-list="topSites"
        at-config="configPaginationTopSites">
    </at-pagination>
</div>
<!--table topsite .end-->
