<div class="panel panel-default">
    <div class="panel-heading">
        <span current-page-title></span>

        <div class="button-bar" ng-if="!isSubPublisher()">
            <button ui-sref="^.new" class="btn btn-primary btn-sm" type="button">
                <span class="glyphicon glyphicon-plus"></span>
                {{ 'SITE_MODULE.NEW_SITE' | translate }}
            </button>
        </div>
        <div ng-if="!isSubPublisher()" class="btn-group btnGrouped" dropdown>
            <button type="button" class="btn " dropdown-toggle><span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span></button>
            <ul class="dropdown-menu pull-right" role="menu">
                <li><a ui-sref="^.new">{{ 'SITE_MODULE.NEW_SITE' | translate }}</a></li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs nav-tab-margin">
                <li role="presentation" ng-click="getSites()" ng-class="!typeList ? 'active' : ''  "><a>{{ 'SITE_MODULE.ALL_SITES' | translate }}</a></li>
                <li role="presentation" ng-click="getAutoCreatedSite()" ng-class="typeList == typeOption.AutoSite? 'active' : '' "><a>{{ 'SITE_MODULE.AUTO_CREATED_SITES' | translate }}</a></li>
                <li role="presentation" ng-click="getSiteCreatedManually()" ng-class="typeList == typeOption.manualSite? 'active' : '' "><a>{{ 'SITE_MODULE.MANUALLY_CREATED_SITES' | translate }}</a></li>
            </ul>
        </div>
    </div>

    <div>
        <form class="input-group col-sm-6 search-box">
            <input class="form-control" ng-model="selectData.query" ng-change="searchData()" placeholder="{{ 'UNIFIED_REPORT_MODULE.SEARCH' | translate }}" type="text"/>
            <span class="input-group-addon">
                {{ tableConfig.totalItems }} records found
            </span>
        </form>

        <div class="panel-body" ng-if="hasData()">
            <div class="table-responsive">
                <table class="table" at-action-sortable-query at-sortable-query at-table at-paginated at-list="sites.records" at-config="tableConfig">
                    <thead>
                    <tr>
                        <th ng-show="isAdmin()" at-attribute="publisher.company">{{ 'PUBLISHER' | translate }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td at-title="#" at-implicit at-sortable at-attribute="id"></td>
                        <td at-title="{{ 'ACTIONS' | translate }}">
                            <div class="btn-group" dropdown>
                                <button type="button" class="btn " dropdown-toggle> {{ 'ACTIONS' | translate }} <span class="caret"></span> </button>
                                <ul class="dropdown-menu pull-right-dropdown" role="menu">
                                    <li ng-if="hasDisplayAdsModule"><a ui-sref="^.^.adSlot.list({ siteId: item.id })">{{ 'SITE_MODULE.MANAGE_AD_SLOTS' | translate }}</a></li>
                                    <li ng-if="!isSubPublisher() && hasDisplayAdsModule"><a ui-sref="^.channelList({ id: item.id })">{{ 'SITE_MODULE.MANAGE_CHANNELS' | translate }}</a></li>
                                    <li><a ui-sref="^.^.tagGenerator({ siteId: item.id })">{{ 'SITE_MODULE.GENERATE_TAGS' | translate }}</a></li>
                                    <li ng-show="hasDisplayAdsModule" class="divider"></li>
                                    <li ng-show="hasDisplayAdsModule"><a ui-sref="^.^.^.reports.performance.siteAdSlots({ siteId: item.id, startDate: today})">{{ 'VIEW_TODAY_REPORT' | translate }}</a></li>
                                    <li ng-if="!isSubPublisher()" class="divider"></li>
                                    <li ng-if="!isSubPublisher()"><a ui-sref="^.edit({ id: item.id })">{{ 'SITE_MODULE.EDIT_SITE' | translate }}</a></li>
                                    <li ng-if="!isSubPublisher()"><a ng-click="confirmDeletion(item)">{{ 'SITE_MODULE.DELETE_SITE' | translate }}</a></li>
                                </ul>
                            </div>
                        </td>
                        <td at-implicit at-sortable at-attribute="name" at-initial-sorting="asc" at-title="{{ 'SITE' | translate }}"></td>
                        <td ng-show="isAdmin()" at-implicit at-attribute="publisher.company" at-title="{{ 'PUBLISHER' | translate }}"></td>
                        <td at-title="Domain" at-implicit at-sortable at-attribute="domain" at-title="{{ 'SITE_MODULE.DOMAIN' | translate }}"></td>
                    </tr>
                    </tbody>
                </table>

                <pagination ng-if="showPagination()" class="pagination" boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" items-per-page="tableConfig.itemsPerPage" total-items="tableConfig.totalItems" ng-model="availableOptions.currentPage" max-size="tableConfig.maxPages" ng-change="changePage(availableOptions.currentPage)"></pagination>
            </div>
        </div>
    </div>
</div>