.mt-15 {
  margin-top: 15px;
}

.mb-50 {
  margin-bottom: 47px !important;
}

mb-15 {
  margin-bottom: 15px;
}

.th-no-border {
  border: 0 !important;
}
.small-panel-padding{
  padding-bottom: 5px;
  padding-top: 5px;
}
.fixed-th-width{
  width: 210px;
}
.btn-custom{
  width: 30px;
}