<section class="panel panel-default">
    <div class="panel-heading">
        <span class="glyphicon glyphicon-th"></span> <strong current-page-title></strong>

        <div class="button-bar">
            <button ng-if="!isNew" ng-click="backToAdTagLibraryList()" class="btn btn-sm btn-primary" type="button">
                <span class="glyphicon glyphicon-arrow-left"></span>
                {{ 'AD_TAG_MODULE.BACK_TO_AD_TAG_LIST' | translate }}
            </button>
        </div>
        <div class="btn-group btnGrouped" dropdown ng-if="!isNew">
            <button type="button" class="btn " dropdown-toggle><span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span></button>
            <ul class="dropdown-menu pull-right" role="menu">
                <li><a ng-click="backToAdTagLibraryList()">{{ 'AD_TAG_MODULE.BACK_TO_AD_TAG_LIST' | translate }}</a></li>
            </ul>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <form name="adTagLibraryForm" class="col-lg-6 form-validation form-horizontal" role="form" ng-submit="submit()" novalidate>
                <div class="form-group" ng-if="isAdmin() && !isNew">
                    <label class="col-sm-2 control-label">{{ 'PUBLISHER' | translate }}</label>
                    <div class="col-sm-10 form-control-static">
                        {{ selected.publisher.company }}
                    </div>
                </div>

                <div class="form-group" ng-if="isAdmin() && isNew">
                    <label for="inputPublisher" class="col-sm-2 control-label">{{ 'PUBLISHER' | translate }}</label>
                    <div class="col-sm-10">
                        <ui-select id="inputPublisher" ng-model="selected.publisher" on-select="selectPublisher()" reset-search-input="'false'">
                            <ui-select-match placeholder="Select a publisher">{{ $select.selected.company }}</ui-select-match>
                            <ui-select-choices repeat="publisher.id as publisher in publisherList | filter: { company: $select.search }">
                                {{ publisher.company }}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputAdNetwork" class="col-sm-2 control-label">{{ 'AD_NETWORK' | translate }}</label>
                    <div class="col-sm-10">
                        <ui-select name="adNetwork" ng-model="adTag.adNetwork" id="inputAdNetwork" ng-disabled="isAdmin() && !selected.publisher" ng-required="true" server-error reset-search-input="'false'">
                            <ui-select-match placeholder="{{ 'AD_NETWORK_MODULE.SELECT_A_AD_NETWORK' | translate }}">{{ $select.selected.name }}</ui-select-match>
                            <ui-select-choices repeat="adNetwork.id as adNetwork in adNetworkList | filter: { name:$select.search } | selectedPublisher:selected.publisher">
                                {{ adNetwork.name }}
                            </ui-select-choices>
                        </ui-select>

                        <a ng-click="createAdNetwork()" class="help-block">{{ 'AD_NETWORK_MODULE.ADD_NEW_AD_NETWORK' | translate }}</a>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputName" class="col-sm-2 control-label">{{ 'NAME' | translate }}</label>
                    <div class="col-sm-10">
                        <input name="name" ng-model="adTag.name" server-error ng-required="true" ng-minlength="2" type="text" class="form-control" id="inputName" placeholder="{{ 'AD_TAG_MODULE.AD_TAG_NAME' | translate }}">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ 'AD_TAG_MODULE.AD_TYPE' | translate }}</label>
                    <div class="col-sm-10">
                        <label class="ui-radio"><input ng-model="adTag.adType" type="radio" ng-value="adTypes.customAd"><span>{{ 'AD_TAG_MODULE.CUSTOM_AD' | translate }}</span></label>
                        <label class="ui-radio"><input ng-model="adTag.adType" type="radio" ng-value="adTypes.imageAd"><span>{{ 'AD_TAG_MODULE.IMAGE_AD' | translate }}</span></label>
                    </div>
                </div>

                <!--ad type html-->
                <div class="form-group" ng-if="adTag.adType == adTypes.customAd">
                    <label for="inputHtml" class="col-sm-2 control-label">{{ 'AD_TAG_MODULE.HTML' | translate }}</label>
                    <div class="col-sm-10">
                        <ui-codemirror ng-required="true" id="inputHtml" ng-model="adTag.html" ui-codemirror-opts="editorOptions"></ui-codemirror>
                        <span class="help-block">{{ 'AD_TAG_MODULE.HELP_BLOCK_HTML' | translate }}:<br/>
                        <strong>${CACHEBUSTER}</strong>: {{ 'AD_TAG_MODULE.HELP_BLOCK_CACHE_BUSTER' | translate }}<br/>
                        <strong>${PAGE_URL}</strong>: {{ 'AD_TAG_MODULE.HELP_BLOCK_PAGE_URL' | translate }}<br/>
                        <strong>${DOMAIN}</strong>: {{ 'AD_TAG_MODULE.HELP_BLOCK_DOMAIN' | translate }}<br/>
                        <strong>${PLACEMENT_ID}</strong>: {{ 'AD_TAG_MODULE.HELP_BLOCK_PLACEMENT_ID' | translate }}</span>
                    </div>
                </div>

                <!--ad type images-->
                <div ng-if="adTag.adType == adTypes.imageAd">
                    <div class="form-group">
                        <label for="inputImageUrl" class="col-sm-2 control-label">{{ 'AD_TAG_MODULE.IMAGE_URL' | translate }}</label>
                        <div class="col-sm-10">
                            <input name="name" ng-model="adTag.descriptor.imageUrl" server-error ng-required="true" ng-minlength="2" type="url" class="form-control" id="inputImageUrl" placeholder="{{ 'AD_TAG_MODULE.IMAGE_URL' | translate }}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputTargetUrl" class="col-sm-2 control-label">{{ 'AD_TAG_MODULE.TARGET_URL' | translate }}</label>
                        <div class="col-sm-10">
                            <input name="name" ng-model="adTag.descriptor.targetUrl" server-error ng-required="true" ng-minlength="2" type="url" class="form-control" id="inputTargetUrl" placeholder="{{ 'AD_TAG_MODULE.TARGET_URL' | translate }}">
                            <span class="help-block">{{ 'AD_TAG_MODULE.HELP_BLOCK_TARGET_URL' | translate }}:<br/>
                            <strong>${CACHEBUSTER}</strong>: {{ 'AD_TAG_MODULE.HELP_BLOCK_CACHE_BUSTER' | translate }}<br/>
                            <strong>${PAGE_URL}</strong>: {{ 'AD_TAG_MODULE.HELP_BLOCK_PAGE_URL' | translate }}<br/>
                            <strong>${DOMAIN}</strong>: {{ 'AD_TAG_MODULE.HELP_BLOCK_DOMAIN' | translate }}<br/>
                            <strong>${PLACEMENT_ID}</strong>: {{ 'AD_TAG_MODULE.HELP_BLOCK_PLACEMENT_ID' | translate }}</span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button ng-disabled="!isFormValid()" ng-disabled="formProcessing" type="submit" class="btn btn-success">{{ 'SUBMIT' | translate }}</button>
                        <div ng-show="!isFormValid()" class="callout callout-info">
                            <p>{{ 'VALID_FORM' | translate }}</p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>