<div class="panel panel-default">
    <div class="panel-heading">
        <span current-page-title></span>

        <div ng-if="!isSubPublisher()" class="button-bar">
            <button ui-sref="^.new" class="btn btn-sm btn-primary" type="button">
                <span class="glyphicon glyphicon-plus"></span>
                {{ 'AD_TAG_MODULE.NEW_AD_TAG' | translate }}
            </button>
        </div>
        <div ng-if="!isSubPublisher()" class="btn-group btnGrouped" dropdown>
            <button type="button" class="btn " dropdown-toggle><span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span></button>
            <ul class="dropdown-menu pull-right" role="menu">
                <li><a ui-sref="^.new">{{ 'AD_TAG_MODULE.NEW_AD_TAG' | translate }}</a></li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs nav-tab-margin">
                <li role="presentation"><a ui-sref="^.^.^.tagManagement.adTag.listAll">All Ad Tags</a></li>
                <li role="presentation" ui-sref-active="active"><a ui-sref="^.^.^.tagLibrary.adTag.list">Standalone Ad Tags</a></li>
            </ul>
        </div>
    </div>

    <form class="input-group col-sm-10 search-box">
        <input class="form-control" ng-model="selectData.query" ng-change="searchData()" placeholder="{{ 'UNIFIED_REPORT_MODULE.SEARCH' | translate }}" type="text"/>
        <span class="input-group-addon">
                {{ tableConfig.totalItems }} records found
            </span>
    </form>

    <div class="panel-body" ng-if="hasData()">
        <div class="table-responsive">
            <table class="table" at-action-sortable-query at-sortable-query at-table at-paginated at-list="adTags" at-config="tableConfig">
                <thead>
                <tr>
                    <th ng-show="isAdmin()" at-attribute="adNetwork.publisher.company">{{ 'PUBLISHER' | translate }}</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td at-implicit at-title="#" at-sortable at-attribute="id"></td>
                    <td at-title="{{ 'ACTIONS' | translate }}" at-attribute="action">
                        <div class="btn-group" dropdown>
                            <button type="button" class="btn " dropdown-toggle> {{ 'ACTIONS' | translate }} <span class="caret"></span> </button>
                            <ul class="dropdown-menu pull-right-dropdown" role="menu">
                                <li ng-if="!isSubPublisher()" ng-click="createLinkedAdAdTag(item)"><a>{{ 'AD_TAG_MODULE.CREATE_LINKED_AD_TAGS' | translate }}</a></li>
                                <li><a ui-sref="^.associated({ adTagId: item.id })">{{ 'AD_TAG_LIBRARY_MODULE.VIEW_LINKED_AD_TAGS' | translate }}</a></li>
                                <li ng-if="!isSubPublisher()" class="divider"></li>
                                <li ng-if="!isSubPublisher()"><a ui-sref="^.edit({ id: item.id })">{{ 'AD_TAG_MODULE.EDIT_AD_TAG' | translate }}</a></li>
                                <li ng-if="!isSubPublisher()"><a ng-click="removeMoveToLibrary(item)">{{ 'AD_TAG_MODULE.DELETE_AD_TAG' | translate }}</a></li>
                            </ul>
                        </div>
                    </td>
                    <td at-title="{{ 'NAME' | translate }}" ng-dblclick="nameForm.$show()" at-attribute="name" at-sortable at-initial-sorting="asc">
                        <span class="fa fa-pencil" ng-hide="nameForm.$visible"></span>
                        <div e-form="nameForm" buttons="no" oncancel="updateAdTag($data, 'name', item)" onbeforesave="updateAdTag($data, 'name', item)" editable-text="item.name">{{ item.name }}</div>
                    </td>
                    <td at-title="{{ 'AD_NETWORK' | translate }}" at-implicit at-sortable at-attribute="adNetwork.name"></td>
                    <td ng-show="isAdmin()" at-title="{{ 'PUBLISHER' | translate }}" at-sortable at-implicit at-attribute="adNetwork.publisher.company"></td>
                    <td at-title="{{ 'AD_TAG_LIBRARY_MODULE.LINKED_AD_TAGS' | translate }}" at-implicit at-sortable at-attribute="associatedTagCount"></td>
                </tr>
                </tbody>
            </table>

           <!-- <at-pagination at-pagination-query ng-if="showPagination()" at-list="adTags" at-config="tableConfig"></at-pagination>-->

            <div style="float:left; display: flex; margin-right: 20px; margin-top: 5px">
                <pagination ng-if="showPagination()"
                            class="pagination"
                            boundary-links="true"
                            previous-text="&lsaquo;"
                            next-text="&rsaquo;"
                            items-per-page="tableConfig.itemsPerPage"
                            total-items="tableConfig.totalItems"
                            ng-model="availableOptions.currentPage"
                            max-size="tableConfig.maxPages"
                            ng-change="changePage(availableOptions.currentPage)">
                </pagination>

                <div style="margin-top: 25px;">
                    <label class="items-per-page" for="selectItemsPerPage"> Items Per Page </label>
                    <select id="selectItemsPerPage" ng-change="changeItemsPerPage()" ng-model="tableConfig.itemsPerPage">
                        <option ng-repeat="option in itemsPerPageList" value="{{option}}">{{option}}</option>
                    </select>
                </div>
            </div>

        </div>
    </div>
</div>