<div class="panel panel-default">
    <div class="panel-heading">
        <span class="glyphicon glyphicon-th"></span>
        <strong current-page-title></strong>

        <div class="button-bar">
            <button ng-click="backToListAdTagLibrary()" class="btn btn-sm btn-primary" type="button">
                <span class="glyphicon glyphicon-arrow-left"></span>
                Back to Ad Tag List
            </button>
        </div>

        <div class="btn-group btnGrouped" dropdown>
            <button type="button" class="btn " dropdown-toggle><span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span></button>
            <ul class="dropdown-menu pull-right" role="menu">
                <li ng-click="backToListAdTagLibrary()"><a> Back to Ad Tag List</a></li>
            </ul>
        </div>
    </div>

    <search-box show-query="true" sb-list="adTags" search-fields="['id', 'name', 'rotation', 'frequencyCap', 'adSlot.name', 'adSlot.site.name']"></search-box>

    <div class="panel-body" ng-if="hasData()">
        <div class="table-responsive">
            <table class="table" at-table at-paginated at-list="adTags" at-config="tableConfig">
                <thead></thead>
                <tbody>
                <tr>
                    <td at-implicit at-title="#" at-sortable at-attribute="id"></td>
                    <td at-title="Action" at-attribute="action">
                        <div class="btn-group" dropdown>
                            <button type="button" class="btn " dropdown-toggle> Actions <span class="caret"></span> </button>
                            <ul class="dropdown-menu pull-right-dropdown" role="menu">
                                <li ng-if="item.adSlot.type == adSlotTypes.display"><a ui-sref="^.^.^.tagManagement.adTag.list({ adSlotId: item.adSlot.id })">Go To Ad Slot</a></li>
                                <li ng-if="item.adSlot.type == adSlotTypes.native"><a ui-sref="^.^.^.tagManagement.adTag.nativeList({ adSlotId: item.adSlot.id })">Go To Ad Slot</a></li>
                                <li class="divider"></li>
                                <li><a ng-click="toggleAdTagStatus(item)">{{ item.active ? 'Pause' : 'Activate' }} Ad Tag</a></li>
                                <li><a ng-click="confirmDeletion(item)">Delete Ad Tag</a></li>
                            </ul>
                        </div>
                    </td>
                    <td at-title="Name" at-implicit at-sortable at-attribute="libraryAdTag.name"></td>
                    <td ng-dblclick="rotationForm.$show()" at-attribute="rotation">
                        <span class="fa fa-pencil" ng-hide="rotationForm.$visible"></span>
                        <div e-form="rotationForm" buttons="no" oncancel="updateAdTag($data, 'rotation', item)" onbeforesave="updateAdTag($data, 'rotation', item)" editable-number="item.rotation">{{ item.rotation }}</div>
                    </td>
                    <td at-title="Frequency Cap" ng-dblclick="frequencyCapForm.$show()" at-attribute="frequencyCap">
                        <span class="fa fa-pencil" ng-hide="frequencyCapForm.$visible"></span>
                        <div e-form="frequencyCapForm" buttons="no" oncancel="updateAdTag($data, 'frequencyCap', item)" onbeforesave="updateAdTag($data, 'frequencyCap', item)" editable-number="item.frequencyCap">{{ item.frequencyCap }}</div>
                    </td>
                    <td at-title="Ad Slot" at-implicit at-attribute="adSlot.libraryAdSlot.name"></td>
                    <td at-title="Site" at-implicit at-attribute="adSlot.site.name"></td>
                    <td at-attribute="active">
                        <span class="label" ng-class="item.active ? 'label-success' : 'label-danger'">{{ item.active ? 'Active' : 'Paused' }}</span>
                    </td>
                    <td at-title="In Library" at-attribute="visible">
                        <i class="fa" ng-class="item.libraryAdTag.visible? 'fa-check-square' : 'fa-square'"></i>
                    </td>
                </tr>
                </tbody>
            </table>

            <at-pagination ng-if="showPagination()" at-list="adTags" at-config="tableConfig"></at-pagination>
        </div>
    </div>
</div>