<div class="panel panel-default">
    <div class="panel-heading">
        <span class="glyphicon glyphicon-th"></span>
        <strong current-page-title></strong>

        <div class="button-bar">
            <button ui-sref="^.new" class="btn btn-sm btn-primary" type="button">
                <span class="glyphicon glyphicon glyphicon-plus"></span>
                New Publisher
            </button>
        </div>
        <div class="btn-group btnGrouped" dropdown>
            <button type="button" class="btn " dropdown-toggle><span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span></button>
            <ul class="dropdown-menu pull-right" role="menu">
                <li><a ui-sref="^.new">New Publisher</a></li>
            </ul>
        </div>
    </div>

    <search-box show-query="true" sb-list="publishers" search-fields="['id', 'firstName', 'lastName', 'company', 'username', 'email', 'phone']"></search-box>

    <div class="panel-body">
        <div class="table-responsive">
            <table class="table" at-sortable-query at-table at-paginated at-list="publishers" at-config="tableConfig" id="publishers">
                <thead></thead>
                <tbody>
                <tr>
                    <td at-title="#" at-implicit at-sortable at-attribute="id"></td>
                    <td at-title="Actions">
                        <div class="btn-group" dropdown>
                            <button type="button" class="btn " dropdown-toggle> Actions <span class="caret"></span> </button>
                            <ul class="dropdown-menu pull-right-dropdown" role="menu">
                                <li><a ng-click="visitPublisher(item.id)">Login as this publisher</a></li>
                                <li class="divider"></li>
                                <li><a ui-sref="app.admin.reports.performance.account({publisherId: item.id, startDate: today})">View Today's Report</a></li>
                                <li class="divider"></li>
                                <li><a ng-click="togglePublisherStatus(item)">{{ item.enabled ? 'Deactivate' : 'Activate' }} Publisher</a></li>
                                <li><a ui-sref="^.edit({ id: item.id })">Edit Publisher</a></li>
                            </ul>
                        </div>
                    </td>
                    <td at-title="Name" at-sortable at-attribute="name">
                        {{ item.firstName }} {{ item.lastName }}
                    </td>
                    <td at-title="Username" at-implicit at-sortable at-attribute="username"></td>
                    <td at-title="Company" at-implicit at-sortable at-attribute="company"></td>
                    <td at-title="Email" at-implicit at-sortable at-attribute="email"></td>
                    <td at-title="Phone" at-implicit at-sortable at-attribute="phone"></td>
                    <td at-title="Last Login" at-sortable at-attribute="lastLogin" at-initial-sorting="desc">
                        {{ item.lastLogin | date }}
                    </td>
                    <td at-title="Status" at-sortable at-attribute="enabled">
                        <span class="label" ng-class="item.enabled ? 'label-success' : 'label-danger'">{{ item.enabled ? 'Active' : 'Inactive' }}</span>
                    </td>
                </tr>
                </tbody>
            </table>

            <at-pagination ng-if="showPagination()" ng-click="setCurrentPageForUrl()" at-list="publishers" at-config="tableConfig"></at-pagination>
        </div>
    </div>
</div>