.col-sm-1quarter {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 768px) {
  .col-sm-1quarter {
    float: left;
  }
  .col-sm-1quarter {
    width: 9.58333333%;
  }
  .col-sm-offset-1quarter {
    margin-left: 9.58333333%;
  }
}