.sortableAdTags {
  .moveable {
    cursor: move;
  }

  .position {
    background: #f6f6f6;
    height: 25px;
    clear: both;
    width: 100%;
    line-height: 25px;
    padding-left: 10px;
  }

  .itemAdTag {
    clear: both;
  }

  tbody tr {
    border-top: 1px solid #ddd !important;
  }
}

.sortable-placeholder {
  background: $table-bg-accent;
  clear: both;
  width: 100%;
}

.ad-tag-drag-help {
  margin:0 15px 15px 15px !important;
}