<div id="form-date-range-selector" class="panel panel-default">
    <div class="panel-body">
        <form name="reportSelectorForm" class="form-inline" role="form" ng-submit="getLogs()" novalidate>
            <div class="form-group">
                <label for="inputDateRange">Date Range</label>
                <div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input date-range-picker options="datePickerOpts" class="form-control date-picker" type="text" id="inputDateRange" ng-model="selectedData.date" ng-required="true">
                    </div>
                </div>
            </div>

            <div class="publisher form-group">
                <label>Publisher</label>
                <ui-select name="publisher" ng-model="selectedData.publisherId" ng-required="true" reset-search-input="'false'">
                    <ui-select-match placeholder="Select a publisher">{{ $select.selected.company }}</ui-select-match>
                    <ui-select-choices group-by="groupEntities" repeat="publisher.id as publisher in publishers | filter: $select.search">
                        <div ng-bind-html="publisher.company | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>

            <button type="submit" class="btn btn-primary">Get Logs</button>
        </form>
    </div>
</div>

<div ui-view="logs" class="animate-fade-up"></div>