<div class="panel panel-default daily-reports">
    <div class="panel-heading"><span class="glyphicon glyphicon-th"></span> {{ 'ACTION_LOG_MODULE.TITLE_ACTIVITY_LOGS' | translate }}</div>
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs nav-tab-margin">
                <li role="presentation" ng-class="showTabMenu ? '' : 'active' "><a ui-sref="app.admin.supportTools.activityLog.list({ loginLogs: false , rowOffset: 0})">{{ 'ACTION_LOG_MODULE.NAV_ACTION' | translate }}</a></li>
                <li role="presentation" ng-class="showTabMenu ? 'active' : '' "><a ui-sref="app.admin.supportTools.activityLog.list({ loginLogs: true , rowOffset: 0})" >{{ 'ACTION_LOG_MODULE.NAV_LOGIN' | translate }}</a></li>
            </ul>
            <div>

                <!--<search-box sb-list="dataLogs" search-fields="['action', 'user.username', 'ip']"></search-box>-->

                <div class="table-responsive">
                    <table class="table" at-table at-list="dataLogs">
                        <thead>
                        <tr>
                            <th at-attribute="id">#</th>
                            <th at-attribute="action">{{ 'ACTION_LOG_MODULE.ACTION' | translate }}</th>
                            <th at-attribute="user.username">{{ 'ACTION_LOG_MODULE.USERNAME' | translate }}</th>
                            <th at-attribute="createdAt">{{ 'ACTION_LOG_MODULE.TIME' | translate }}</th>
                            <th ng-show="!showTabMenu" at-attribute="data">{{ 'ACTION_LOG_MODULE.DESCRIPTION' | translate }}</th>
                            <th at-attribute="ip">{{ 'ACTION_LOG_MODULE.IP' | translate }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td at-implicit at-sortable at-attribute="id" at-initial-sorting="desc" at-title="#"></td>
                            <td at-implicit at-sortable at-attribute="action" at-title="{{ 'ACTION_LOG_MODULE.ACTION' | translate }}"></td>
                            <td at-implicit at-sortable at-attribute="user.username" at-title="{{ 'ACTION_LOG_MODULE.USERNAME' | translate }}"></td>
                            <td at-sortable at-attribute="createdAt" at-title="{{ 'ACTION_LOG_MODULE.TIME' | translate }}">
                                {{ item.createdAt | date : 'medium' }}
                            </td>
                            <td ng-show="!showTabMenu" at-attribute="data" at-title="{{ 'ACTION_LOG_MODULE.DESCRIPTION' | translate }}">
                                <div>
                                    <strong>{{ item.data.action }}</strong>
                                    {{ item.data.entity.className }}
                                    "{{ item.data.entity.name }}"
                                    <strong ng-if="item.data.changedFields.length > 0">on</strong>
                                </div>
                                <ul>
                                    <li ng-repeat="val in item.data.changedFields">
                                        <div ng-if="val.oldVal != null">
                                            {{ val.name + " :" }}
                                            <ul>
                                                <li><strong>from :</strong> {{ val.oldVal }}</li>
                                                <li ng-if="val.newVal != null">
                                                    <strong>to&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</strong> {{ val.newVal }}
                                                </li>
                                            </ul>
                                        </div>
                                        <div ng-if="val.newVal != null && val.oldVal == null">
                                            {{ val.name + ": " + val.newVal }}
                                        </div>
                                        <div ng-if="val.startDate != null">
                                            <strong>from</strong> {{ dateFormatter(val.startDate.date) }}
                                            <strong>to</strong> {{ dateFormatter(val.endDate.date) }}
                                        </div>
                                    </li>
                                </ul>
                                <!--<strong ng-if="item.data.affectedEntities.length > 0">related to:</strong>-->
                                <!--<ul>-->
                                <!--<li ng-repeat="val in item.data.affectedEntities">-->
                                <!--{{ val.className + ' "' + val.name + '"'}}-->
                                <!--</li>-->
                                <!--</ul>-->
                            </td>
                            <td at-sortable at-implicit at-attribute="ip" at-title="{{ 'ACTION_LOG_MODULE.IP' | translate }}"></td>
                        </tr>
                        </tbody>
                    </table>

                    <div class="col-md-12">
                        <nav class="col-lg-12">
                            <pagination ng-if="showPagination" class="pagination" items-per-page="itemsPerPage" total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="7" ui-sref="app.admin.supportTools.activityLog.list({ rowOffset: (bigCurrentPage-1)*itemsPerPage })"></pagination>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>