<div class="nav-wrapper">
    <ul id="nav"
        class="nav"
        collapse-nav>

        <li ui-sref-active="active"><a ui-sref=".dashboard"><i class="fa fa-home"></i><span>Dashboard</span></a></li>

        <li ui-sref-active="active">
            <a href="#" ui-sref=".userManagement"><i class="fa fa-user"></i><span>User Management</span></a>
            <ul>
                <li ui-sref-active="active"><a ui-sref="app.admin.userManagement.list"><i class="fa fa-caret-right"></i>User List</a></li>
                <li ui-sref-active="active"><a ui-sref="app.admin.userManagement.new"><i class="fa fa-caret-right"></i>Add New User</a></li>
            </ul>
        </li>

        <li>
            <a href="#"><i class="fa fa-location-arrow"></i><span>Publisher Management</span></a>
        </li>

        <li>
            <a href="#"><i class="fa fa-tachometer"></i><span>Reports</span></a>
            <ul>
                <li><a href="#"><i class="fa fa-caret-right"></i>Performance Reports</a></li>
            </ul>
        </li>

        <li ui-sref-active="active">
            <a href="#" ui-sref=".analytics"><i class="fa fa-bar-chart-o"></i><span>Analytics</span></a>
            <ul>
                <li ui-sref-active="active"><a ui-sref=".analytics.sourceReports"><i class="fa fa-caret-right"></i>Source Reports</a></li>
            </ul>
        </li>
    </ul>
</div>