<form name="addDomains" role="form" ng-submit="submit()" novalidate>
    <div class="modal-header">
        <h4 class="modal-title">Add Domains for : <strong>{{ domain.name }}</strong></h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-lg-12 form-validation form-horizontal">

                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ 'DOMAIN_LIST_MODULE.DOMAINS' | translate }}</label>
                    <div class="col-sm-10">
                        <oi-select oi-options="item for item in []" ng-model="selected.domains" multiple oi-select-options="{newItem: true, newItemFn: 'addDomain($query)'}" placeholder="{{ 'DOMAIN_LIST_MODULE.DOMAINS' | translate }}"></oi-select>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="$dismiss()" type="button">{{ 'CANCEL' | translate }}</button>
        <button class="btn btn-danger" ng-disabled="!isFormValid()" type="submit">{{ 'SUBMIT' | translate }}</button>
    </div>
</form>