<form name="domainForm" role="form" ng-submit="submit()" novalidate>
    <div class="modal-header">
        <h4 class="modal-title">{{ (isNew ? ('AD_NETWORK_MODULE.NEW_BLOCK_LIST' | translate) : ('AD_NETWORK_MODULE.EDIT_BLOCK_LIST' | translate)) }}</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-lg-12 form-validation form-horizontal">
                <div class="form-group" ng-if="!isNew && isAdmin">
                    <label class="col-sm-2 control-label">{{ 'PUBLISHER' | translate }}</label>
                    <div class="col-sm-10 form-control-static">
                        {{ domain.publisher.company }}
                    </div>
                </div>

                <div class="form-group" ng-if="isAdmin && isNew">
                    <label for="inputPublisher" class="col-sm-2 control-label">{{ 'PUBLISHER' | translate }}</label>
                    <div class="col-sm-10">
                        <ui-select name="publisher" id="inputPublisher" ng-model="domain.publisher" ng-required="true" server-error on-select="selectPublisher($item)">
                            <ui-select-match placeholder="{{ 'PUBLISHER_MODULE.SELECT_A_PUBLISHER' | translate }}">{{ $select.selected.company }}</ui-select-match>
                            <ui-select-choices repeat="publisher.id as publisher in publishers | filter:$select.search">
                                {{ publisher.company }}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>


                <div class="form-group">
                    <label for="inputName" class="col-sm-2 control-label">{{ 'NAME' | translate }}</label>
                    <div class="col-sm-10">
                        <input name="name" ng-model="domain.name" server-error ng-required="true" ng-minlength="2" type="text" class="form-control" id="inputName" placeholder="{{ 'NAME' | translate }}">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ 'DOMAIN_LIST_MODULE.DOMAINS' | translate }}</label>
                    <div class="col-sm-10">
                        <oi-select oi-options="item for item in domainList" ng-model="domain.domains" multiple oi-select-options="{newItem: true, newItemFn: 'addDomain($query)'}" placeholder="{{ 'DOMAIN_LIST_MODULE.DOMAINS' | translate }}"></oi-select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-dialog-footer">
        <button class="btn btn-primary" ng-click="$dismiss()" type="button">{{ 'CANCEL' | translate }}</button>
        <button class="btn btn-success" ng-disabled="!isFormValid()" type="submit">{{ 'SUBMIT' | translate }}</button>
    </div>
</form>