<div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()">×</button>
    <form class="form-inline">
        <h4 class="form-group">{{ ('DOMAIN_LIST_MODULE.VIEW_DOMAINS' | translate) }}</h4>
        <search-box style ='padding: 60px' show-query="true" sb-list="domains" search-fields="['id', 'name']"> </search-box>
    </form>

</div>
<div class="modal-body">
    <div class="row">
        <table class="table" at-table at-paginated at-list="domains" at-config="tableConfig">
            <thead>
            </thead>
            <tbody>
            <tr>
                <td at-implicit at-sortable at-attribute="name" at-initial-sorting="asc" at-title="Domain"></td>
            </tr>
            </tbody>
        </table>

        <div>
            <div class="col-sm-9">
                <at-pagination at-pagination-query ng-if="showPagination()" at-list="domains" at-config="tableConfig"></at-pagination>
            </div>
            <div class="col-sm-3">
                <div class="itemsPerPage">
                    <label for="inputItemPerPage">Items per page</label>
                    <div class="itemNumber">
                        <ui-select name="itemPerPage" id="inputItemPerPage" ng-model="tableConfig.itemsPerPage" on-select="selectItemPerPages($item)" reset-search-input="'false'">
                            <ui-select-match placeholder="10">{{ $select.selected.label }}</ui-select-match>
                            <ui-select-choices repeat="itemPerPage.key as itemPerPage in itemsPerPage">
                                {{ itemPerPage.label }}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="$close()">{{ 'CLOSE' | translate }}</button>
</div>