<div class="page-signin">

    <div class="signin-header">
        <section class="logo text-center">
            <img src="assets/images/weblogo2.png" alt="Tagcade">
        </section>
    </div>

    <div class="signin-body">
        <div class="container">

            <div class="form-container">

                <div ng-controller="AlertController">
                    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
                </div>

                <form class="form-horizontal" novalidate>
                    <fieldset>
                        <div class="form-group">
                            <span class="glyphicon glyphicon-user"></span>
                            <input type="text" ng-model="credentials.username" class="form-control input-lg input-round text-center" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <span class="glyphicon glyphicon-lock"></span>
                            <input type="password" ng-model="credentials.password" class="form-control input-lg input-round text-center" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <button ng-click="login(credentials)" ng-disabled="loginProcessing" class="btn btn-primary btn-lg btn-round btn-block text-center">Log in</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>

</div>