<div class="panel panel-default">
    <div class="panel-heading">
        <span current-page-title></span>

        <div class="button-bar">
            <button ng-if="!isSubPublisher()" class="btn btn-primary btn-sm" ng-click="addSitesForChannel()" type="button">
                <span class="glyphicon glyphicon-plus"></span>
                {{ 'CHANNEL_MODULE.ADD_SITES_TO_CHANNEL' | translate }}
            </button>
            <button ng-click="backToListChannel()" class="btn btn-sm btn-primary" type="button">
                <span class="glyphicon glyphicon-arrow-left"></span>
                {{ 'CHANNEL_MODULE.BACK_TO_CHANNEL_LIST' | translate }}
            </button>
        </div>
        <div class="btn-group btnGrouped" dropdown>
            <button type="button" class="btn " dropdown-toggle><span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span></button>
            <ul class="dropdown-menu pull-right" role="menu">
                <li><a ng-if="!isSubPublisher()" ng-click="addSitesForChannel()">{{ 'CHANNEL_MODULE.ADD_SITES_TO_CHANNEL' | translate }}</a></li>
                <li><a ng-click="backToListChannel()">{{ 'CHANNEL_MODULE.BACK_TO_CHANNEL_LIST' | translate }}</a></li>
            </ul>
        </div>
    </div>

    <div style="display: flex">
        <search-box class="col-sm-10" show-query="true" sb-list="sites" search-fields="['id', 'name', 'publisher.username', 'publisher.company', 'domain']"></search-box>
    </div>

    <div class="panel-body" ng-if="hasData()">
        <div class="table-responsive">
            <table class="table" at-table at-paginated at-list="sites" at-config="tableConfig">
                <thead></thead>
                <tbody>
                <tr>
                    <td at-title="#" at-implicit at-sortable at-attribute="id"></td>
                    <td at-title="{{ 'ACTIONS' | translate }}">
                        <div class="btn-group" dropdown>
                            <button type="button" class="btn " dropdown-toggle> {{ 'ACTIONS' | translate }} <span class="caret"></span> </button>
                            <ul class="dropdown-menu pull-right-dropdown" role="menu">
                                <li ng-if="hasDisplayAdsModule"><a ui-sref="^.^.adSlot.list({ siteId: item.id })">{{ 'SITE_MODULE.MANAGE_AD_SLOTS' | translate }}</a></li>
                                <li><a ui-sref="^.^.tagGenerator({ siteId: item.id })">{{ 'SITE_MODULE.GENERATE_TAGS' | translate }}</a></li>
                                <li ng-show="hasDisplayAdsModule" class="divider"></li>
                                <li ng-show="hasDisplayAdsModule"><a ui-sref="^.^.^.reports.performance.siteAdSlots({ siteId: item.id, startDate: today})">{{ 'VIEW_TODAY_REPORT' | translate }}</a></li>
                                <li ng-if="!isSubPublisher()" class="divider"></li>
                                <li ng-if="!isSubPublisher()"><a ui-sref="^.^.sites.edit({ id: item.id })">{{ 'SITE_MODULE.EDIT_SITE' | translate }}</a></li>
                                <li ng-if="!isSubPublisher()"><a ng-click="confirmDeletion(item, $index)">{{ 'SITE_MODULE.DELETE_SITE' | translate }}</a></li>
                                <li ng-if="!isSubPublisher()"><a ng-click="removeSiteFromChannel(item, $index)">{{ 'CHANNEL_MODULE.REMOVE_SITE_FROM_CHANNEL' | translate }}</a></li>
                            </ul>
                        </div>
                    </td>
                    <td at-implicit at-sortable at-attribute="name" at-initial-sorting="asc" at-title="{{ 'SITE' | translate }}"></td>
                    <td at-title="Domain" at-implicit at-sortable at-attribute="domain" at-title="{{ 'SITE_MODULE.DOMAIN' | translate }}"></td>
                </tr>
                </tbody>
            </table>

            <div style="float:left; display: flex; margin-right: 20px; margin-top: 5px">
                <at-pagination ng-if="showPagination()" at-list="sites" at-config="tableConfig"></at-pagination>
                <div style="margin-top: 25px;">
                    <select id="selectItemsPerPage" ng-change="changeItemsPerPage()" ng-model="tableConfig.itemsPerPage">
                        <option ng-repeat="option in itemsPerPageList" value="{{option}}">{{option}}</option>
                    </select>
                    <label class="items-per-page" for="selectItemsPerPage"> Items Per Page </label>
                </div>
            </div>


        </div>
    </div>
</div>