<div class="panel panel-default">
    <div class="panel-heading">{{'NEW_DASHBOARD.OVERVIEW'|translate}}</div>
    <div class="panel-body">
        <!--Display-->
        <table class="table no-border" ng-if="isShowForDisplayReport() && overviewData.data">
            <th class="th-no-border"><span style="visibility: hidden">.</span></th>
            <th class="text-right th-no-border"><span style="visibility: hidden">.</span></th>

            <tr ng-if="isAdmin">
                <td class="text-capitalize">{{ 'DASHBOARD_MODULE.BILLED_AMOUNT' | translate }}</td>
                <td class="text-right">{{ customOverviewData.billedAmount | currency }}</td>
            </tr>
            <tr>
                <td class="text-capitalize">{{ 'DASHBOARD_MODULE.SLOT_OPPORTUNITIES' | translate }}</td>
                <td class="text-right">{{ customOverviewData.slotOpportunities | number }}</td>
            </tr>
            <tr>
                <td class="text-capitalize">{{ 'DASHBOARD_MODULE.NETWORK_OPPORTUNITIES' | translate }}</td>
                <td class="text-right">{{ customOverviewData.totalOpportunities | number }}</td>
            </tr>
            <tr>
                <td class="text-capitalize">{{ 'DASHBOARD_MODULE.IMPRESSIONS' | translate }}</td>
                <td class="text-right">{{ customOverviewData.impressions | number }}</td>
            </tr>
            <tr>
                <td class="text-capitalize">{{ 'DASHBOARD_MODULE.PASSBACKS' | translate }}</td>
                <td class="text-right">{{ customOverviewData.passbacks | number }}</td>
            </tr>
            <tr>
                <td class="text-capitalize">{{ 'DASHBOARD_MODULE.FILL_RATE' | translate }}</td>
                <td class="text-right">{{ customOverviewData.fillRate | percentage }}</td>
            </tr>
        </table>

        <!--Video-->
        <table class="table no-border" ng-if="isShowForVideoReport() && overviewData.data">
            <th class="th-no-border"><span style="visibility: hidden">.</span></th>
            <th class="text-right th-no-border"><span style="visibility: hidden">.</span></th>

            <tr ng-if="isAdmin">
                <td class="text-capitalize"><b>{{ columnNameMappingForVideoReport['billedAmount'] }}</b></td>
                <td class="text-right">{{ (customOverviewData.billedAmount != null) ? (customOverviewData.billedAmount | currency) : '' }}</td>
            </tr>

            <tr>
                <td class="text-capitalize"><b>{{ columnNameMappingForVideoReport['requests'] }}</b></td>
                <td class="text-right">{{ (customOverviewData.requests != null) ? (customOverviewData.requests | number) : '' }}</td>
            </tr>

            <tr>
                <td class="text-capitalize"><b>{{ columnNameMappingForVideoReport['impressions'] }}</b></td>
                <td class="text-right">{{ (customOverviewData.impressions != null) ? (customOverviewData.impressions | number) : '' }}</td>
            </tr>

            <tr>
                <td class="text-capitalize"><b>{{ columnNameMappingForVideoReport['bids'] }}</b></td>
                <td class="text-right">{{ (customOverviewData.bids != null) ? (customOverviewData.bids | number) : '' }}</td>
            </tr>

            <tr>
                <td class="text-capitalize"><b>{{ columnNameMappingForVideoReport['errors'] }}</b></td>
                <td class="text-right">{{ (customOverviewData.errors != null) ? (customOverviewData.errors | number) : '' }}</td>
            </tr>

            <tr>
                <td class="text-capitalize"><b>{{ columnNameMappingForVideoReport['blocks'] }}</b></td>
                <td class="text-right">{{ (customOverviewData.blocks != null) ? (customOverviewData.blocks | number) : '' }}</td>
            </tr>

            <tr>
                <td class="text-capitalize"><b>{{ columnNameMappingForVideoReport['requestFillRate'] }}</b></td>
                <td class="text-right">{{ (customOverviewData.requestFillRate != null) ? (customOverviewData.requestFillRate | percentage) : ''  }}</td>
            </tr>
        </table>

        <!--Unified report-->
        <table class="table no-border" ng-if="isShowForUnifiedReport() && overviewData.data && overviewData.data.length > 0">
            <th class="th-no-border"><span style="visibility: hidden">.</span></th>
            <th class="text-right th-no-border"><span style="visibility: hidden">.</span></th>
            <tr ng-repeat="row in customOverviewData">
                <td class="text-capitalize"><b>{{row.label}}</b></td>
                <td class="text-right">{{row.value}}</td>
            </tr>
        </table>
    </div>
</div>

