<section class="panel panel-default">
    <div class="panel-heading">
        <span current-page-title></span>
        <div class="button-bar">
            <button style="margin-right: 3px"  class="btn btn-sm btn-primary" ng-click="refreshData()" type="button">Refresh</button>
            <button style="margin-right: 3px"  class="btn btn-sm btn-primary" ng-click="exportExcel()" type="button">Export Excel</button>
            <!--<export-excel ng-if="reports.length > 0" not-filter="true" data="reports" style="margin-right: 3px" fields="columnReportDetailForExportExcel" header="titleReportDetailForExportExcel" file-name="getExportExcelFileName()"></export-excel>-->
        </div>

        <div class="btn-group btnGrouped" dropdown>
            <button type="button" class="btn " dropdown-toggle><span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span></button>
            <ul class="dropdown-menu pull-right" role="menu">
                <li><a ng-click="refreshData()">Refresh</a></li>
                <li><a ng-click="exportExcel()">Export Excel</a></li>
                <!--<li ng-if="reports.length > 0"><a><export-excel not-filter="true" css-class="''" data="reports" fields="columnReportDetailForExportExcel" header="titleReportDetailForExportExcel" file-name="getExportExcelFileName()"></export-excel></a></li>-->
            </ul>
        </div>
    </div>

    <div class="panel-body">
        <div class="table-responsive" style="overflow-y: auto">
            <table class="table">
                <thead>
                <tr>
                    <th ng-repeat="column in columnPositions" ng-click="sort(column)">{{ titleColumns[column] }}
                        <span class="glyphicon glyphicon-minus" ng-show="!isShow(column)"></span>
                        <span class="glyphicon" ng-show="isShow(column)" ng-class="{'glyphicon-chevron-up':!reverse,'glyphicon-chevron-down':reverse}"></span>
                    </th>
                </tr>
                </thead>

                <tbody>
                    <tr>
                        <td ng-repeat="column in columnPositions">
                            <input type="text" ng-model="search[column]" ng-change="searchReportView()">
                        </td>
                    </tr>

                    <tr dir-paginate="report in reports | itemsPerPage:tableConfig.itemsPerPage">
                        <td ng-repeat="column in columnPositions">
                            <span ng-if="!isNullValue(report, column)"> {{ !!report ? report[column] : null }} </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


        <div class="pagination">
            <pagination ng-if="showPagination()" class="pagination" boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" items-per-page="tableConfig.itemsPerPage" total-items="tableConfig.totalItems" ng-model="availableOptions.currentPage" max-size="tableConfig.maxPages" ng-change="changePage(availableOptions.currentPage)"></pagination>

            <div class="itemsPerPage" ng-if="tableConfig.totalItems > 10">
                <label for="inputItemPerPage">Items per page</label>
                <div class="itemNumber">
                    <ui-select name="itemPerPage" id="inputItemPerPage" ng-model="tableConfig.itemsPerPage" on-select="selectItemPerPages($item)" reset-search-input="'false'">
                        <ui-select-match placeholder="10">{{ $select.selected.label }}</ui-select-match>
                        <ui-select-choices repeat="itemPerPage.key as itemPerPage in itemsPerPage">
                            {{ itemPerPage.label }}
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </div>
    </div>
</section>

<section style="min-height: 200px">
    <div class="row">
        <div class="col-md-6" ng-if="isEmptyObject(total)">
            <div class="panel panel-default">
                <div class="panel-heading">Totals</div>
                <div class="panel-body">
                    <ul class="list-unstyled report-builder list-info">
                        <li ng-repeat="(key, value) in total">
                            <label>{{ !!titleColumns[key] ? titleColumns[key] : key }}</label>
                            <span class="pull-right">{{ value }}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6" ng-if="isEmptyObject(average)">
            <div class="panel panel-default">
                <div class="panel-heading">Averages</div>
                <div class="panel-body">
                    <ul class="list-unstyled report-builder list-info">
                        <li ng-repeat="(key, value) in average">
                            <label>{{ !!titleColumns[key] ? titleColumns[key] : key }}</label>
                            <span class="pull-right">{{ value }}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <p class="text-center">Unified reports powered by Pubvantage</p>
</section>