.select-connect-data-source {
  margin-bottom: 10px !important;
}

.expressions-transform {
  background-color: rgba(148, 183, 88, 0.24) !important;
  min-height: 40px;
  line-height: 40px;
  padding-left: 10px;
  display: flex;
  flex-wrap: wrap;
  font-weight: bold;

  .color-danger {
    display: flex;
  }
}

.addScrollToTextArea {
  height: 100px;
  max-height: 100px;
  width: 100%;
}

.map-field {
  .ui-select-match {
    span.ng-binding {
      display:inline-block;
      width:250px;
      white-space: nowrap;
      overflow:hidden !important;
      text-overflow: ellipsis;
    }
  }
}