.dataSetForm {
  .form-group {
    fieldset {
      margin-top: 10px !important;

      .fieldset-item {
        margin-right: 0 !important;
      }
    }
  }
}

form[name="calculatedMetrics"] {
  .panel-group  {
    .panel {
      margin-bottom: 20px;
      .bg-reverse {
        background-color: #fafafa;
      }
    }
  }
}
