.report-builder.list-info {
  margin-bottom: 0;

  li {
    label {
      width: 300px;
    }
  }
}

.alert-custom {
  margin-bottom:  0px;
  text-align: center;
}

.condition {
  .select-join-field.form-group {
    @include ui-select-width(220px);
  }
}