.report-builder.list-info {
  margin-bottom: 0;

  li {
    label {
      width: 300px;
    }
  }
}

.reportTable {
  pubvantage-multi-select {
    .multiSelect {
      button {
        font-size: 12px !important;
        min-height: 26px !important;
        .buttonLabel {
          padding: 0px;
        }
      }
    }
  }
}

.alert-custom {
  margin-bottom:  0px;
  text-align: center;
  padding-top: 0px;
}

.condition {
  .select-join-field.form-group {
    @include ui-select-width(220px);
  }
}